<p class='body_article'>
Администрация домашней бухгалтерии онлайн Home-Money.ru гарантирует конфиденциальность личной информации пользователей системы.
</p>

<p class='body_article'>
При регистрации мы не просим вас указывать какую-либо персональную информацию, кроме адреса электронной почты. Эта информация не будет передана третьим лицам.
</p>

<p class='body_article'>
Регистрационные данные могут быть использованы для установления контакта с пользователем системы в случае необходимости, распространения официальной информации компании, материалов наших партнеров.
</p>

<p class='body_article'>
Возможная причина нарушения конфиденциальности - получение третьими лицами доступа к паролю пользователя или электронной почте участника. В этих случаях администрация домашней бухгалтерии онлайн Home-Money.ru не несет ответственности за нарушение конфиденциальности, но всегда готова помочь в ее восстановлении (замена e-mail, пароля и т. д.).
</p>

<p class='body_article'>
Домашняя бухгалтерия онлайн Home-Money.ru обеспечивает высокий уровень безопасности пользовательских данных, используя специальное программно-техническое обеспечение, протокол SSL при передаче данных через Интернет, пользовательские Логин и Пароль для защищенного доступа к системе.
</p>

<p class='body_article'>
Администрация домашней бухгалтерии онлайн Home-Money.ru оставляет за собой право вносить изменения в данный документ. Все изменения выкладываются на этой странице. Администрация домашней бухгалтерии онлайн Home-Money.ru не гарантирует оповещения пользователей о внесенных изменениях.
</p>