{* SVN: $Id$ *}
<h3>Список финансовых целей</h3>
<table class="list">
    <tr  bgcolor="#f8f8d8">
        <td class="td_data_content"><input type="button" value="Добавить новую цель" id="button_add_target" class="inputsubmit" /></td>
    </tr>
    <tr bgcolor="#f8f8d8">
        <td><h4>Мои цели</h4></td>
    </tr>
    <tr  bgcolor="#f8f8d8">
        <td bgcolor="#ffffff">
            {include file="targets/targets.user_list.html"}
            {if $user_list_targets|@count == 5}
                <a href="/index.php?modules=targets&action=user_list&index=1">...</a>
            {/if}
        </td>
    </tr>
    <tr  bgcolor="#f8f8d8">
        <td><h4>Популярные цели</h4></td>
    </tr>
    <tr  bgcolor="#f8f8d8">
        <td  bgcolor="#ffffff">
            {include file="targets/targets.pop_list.html"}
            {if $pop_list_targets|@count == 5}
                <a href="/index.php?modules=targets&action=pop_list&index=1">...</a>
            {/if}
        </td>
    </tr>
</table>