{literal}
<style type="text/css">
    .editTypeAccount { 
        /*title : "Редактировать";
        alt: "Редактировать";
        border: 0;*/
        cursor:pointer; 
    }
    .delTypeAccount {
        /*title:"Удалить";
        border: 0;
        alt:"Удалить";*/
        cursor:pointer; 
    }
    cat_tr {
        background-color: rgb(255, 255, 255);
    }
 </style>
{/literal}
<script language="javascript">
{literal}
$(document).ready(function(){
	$('#btnAdd').click(function(){ save(); });
	$('#btnCancel').click(function(){ location.href="/admin/accounts/"; });
	$('.del').click(function(){ deleteTypeAccount($(this).attr('value')); });
	
	function save()
	{
		$('#loader').html('Подождите, идет сохранение...');
		$('#information_text').hide();
		
		$.ajax({
			type: "POST",
			url: "/admin/accounts/type_fields/",
			data: {
				type: $('#type').val(),
				field: $('#field').val(),
				id: $('#id').val(),
				ajax: true
			},
			success: function(data) {
				$('#loader').html(' ');
				$('#data').html(data);
				$('#information_text').show();
			}
		});
	}
})
{/literal}
</script>

<form action="/admin/accounts/type/" method="post" id="formAccount">
<table style="border: 1px dotted rgb(255, 96, 2); background-color: rgb(248, 248, 216); padding-top: 15px; padding-bottom: 15px;" width="100%">
<tr>
	<td class="cat_add" width="20%" align="right">Тип счета:</td>
	<td class="cat_add" width="80%" align="left">
    	<select name="type" id="type">
        {foreach from=$list_type item=data}
    	    <option value="{$data.account_type_id}">{$data.account_type_name}</option>
        {/foreach}
        </select>
    </td>
</tr>
<tr>
	<td class="cat_add" width="20%" align="right">Поле счета:</td>
	<td class="cat_add" width="80%" align="left">
    	<select name="field" id="field">
        {foreach from=$list_fields item=data}
    	    <option value="{$data.field_description_id}">{$data.field_visual_name}</option>
        {/foreach}
        </select>
    </td>
</tr>
<tr>
	<td class="cat_add">&nbsp;</td>
	<td class="cat_add" colspan="2">
		<input type="hidden" value="" name="id" id="id">
		<input type="button" id="btnAdd" value="Сохранить" class="inputsubmit" />
        <input type="button" id="btnCancel" value="Отмена" class="inputsubmit" />
	</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
</table>
</form>

<table width="100%">
	<tr>
		<td valign="top" width="100%" style=" background-color:#f8f8d8; padding:5px;">
			<table width="100%" bgcolor="#ffffff" border="0" cellspacing="0">
        	<tbody>
            <tr>
            	<td class="cat_add" colspan="3" style="border-bottom: 1px solid rgb(204, 204, 204); padding: 5px 0pt 15px 5px; 
                                                       background-color: rgb(248, 248, 216);">
                <span style="color: rgb(56, 120, 215);" id="loader"></span>
                <span style="color: rgb(56, 120, 215);" id="information_text">Для редактирования выберите из списка.</span>
           		</td>
        	</tr>
        	<tr>
            	<td class="cat_add" style="border-bottom: 1px solid rgb(204, 204, 204); padding: 5px 0pt 5px 25px;" colspan="3">        	
                	<b>Название</b>
            	</td>
			</tr>
            <tr>
                <td class="cat_add" colspan="3">
                    <div id="data">        
                        {include file="admin/accounts/accounts.type_fields_list.html"}        
                    </div>
                </td>
            </tr>                        
			</tbody>
            </table>
		</td>
	</tr>    
</table>
			   


