<table width="100%">
{foreach from=$list_type_fields item=tdata}
<tr onMouseOver=this.style.backgroundColor='#f8f6ea';
						   		onMouseOut=this.style.backgroundColor='#FFFFFF';>
	<td class="money" height="22">{$tdata.account_type_name}&nbsp;</td>
    <td class="money">{$tdata.field_visual_name}&nbsp;</td>
	<td class="money" width="50" align="center"><img src="/img/edit.gif" class="edit" value="{$data.field_description_id}" /></td>
	<td class="money" width="50" align="center"><img src="/img/delete.gif" class="del" value="{$data.field_description_id}" /></td>
</tr>
{/foreach}
</table>