* {
    font-family: Arial !important;
    font-size: 12px !important;
}

#sf_admin_container .sf_admin_action_delete  {
    background: transparent;
    border-right: 0px !important;
}

.sf_admin_text.sf_admin_list_th_name {
    width: 400px;
}

#sf_admin_list_th_actions {
    width: 150px;
    text-align:center !important; 
}

ul.sf_admin_td_actions li {
    display: block;
    width: 75px !important;
    text-align:center !important;
}

#sf_admin_content  {
    margin-right:0px !important;    
}

.sf_admin_actions {
    text-align: left !important;
}

#sf_admin_container #sf_admin_bar {
    float: left;
    position: relative !important;
    clear: both;	
    margin-top:0px;
    margin-left: 0px;
    margin-right: 10px;
    left: 0px;
    width: 480px;
}

.sf_admin_text.sf_admin_list_th_service_name {
    width: 100px !important;
}

tr.sf_admin_filter_field_created_at td {
    text-align: right !important;
}

tr.sf_admin_filter_field_subscribed_till td {
    text-align: right !important;
}

#sf_admin_container td {
    padding: 4px !important;
}

.ui-datepicker-calendar th, td {
    border: 0px;
    padding: 0px;
}
#email_parser_subject_regexp,
#email_parser_account_regexp,
#email_parser_total_regexp,
#email_parser_description_regexp,
#email_source_email_list {
	width: 600px !important;
}

#email_parser_name {
	width: 400px !important;
}

div.admin_top_menu {
	width:100%;
	height:23px;
	display: block;
	clear: both;
	background: #888888 !important;	
	border: 1px dotted black;
}

div.admin_top_menu .menu_item {
	float:left;
	padding: 4px 16px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

div.admin_top_menu .menu_item.selected{
	background: white;
	color: black;
}

div.submenu {
	margin-top:2px;
	display: none;
	position: absolute;
	z-index: 100;
	background: #999999;
	padding: 6px;
	border: 1px dotted black;
}

div.submenu a {
	width:100%;
	text-decoration: none;
	color: white;	
}

div.submenu a:hover {
    text-decoration: none;
    color: yellow;
    background: black; 
}

a.testRegexp {
	padding-left:10px;
}

#email_parser_sample {
	width: 600px !important;
	height: 150px;
}