  <title>Test_info</title>
    
   
    <div>
        <div id="dialog" title="Empty the recycle bin?" style="background-color:#FFFFFF">
	<p><span style="float:left; margin:0 7px 20px 0;background-color:#FFFFFF"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <div style="padding:5px" class="panel" id="1">
        <div><!-- panel -->
            <div style="background-color:#00FF00"><!-- header -->
                <input type="button" class="close" value="Close"/>
                <input type="button" class="edit" value="Edit"/>
                <input type="button" class="min" value="+/-"/>

            </div>
            <div style="background-color:#999999" class="content"><!-- content -->
                <table><tr><td>
                            <div class="element" id="condition_0" name="fcon"></div>
                        </td><td>
                <div class="element" id="condition_1" name="money"></div>
                </div>
                </td><td>
                <div class="element" id="condition_2" name="budget"></div>
                </td><td>
                <div class="element" id="condition_3" name="cost"></div>
                </td><td>
                <div class="element" id="condition_4" name="credit"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="padding:5px" class="panel" id="2">
        <div><!-- panel -->
            <div style="background-color:#00FF00"><!-- header -->
                <input type="button" class="close" value="Close"/>
                <input type="button" class="edit" value="Edit"/>
                <input type="button" class="min" value="+/-"/>
            </div>
            <div style="background-color:#999999" class="content"><!-- content -->
                {$content}
                <input type="button" class="element" id="button" value="Добавить цель"/>
            </div>
        </div>


    </div>
    <div style="padding:5px" class="panel" id="3">
        <div><!-- panel -->
            <div style="background-color:#00FF00"><!-- header -->
                <input type="button" class="close" value="Close"/>
                <input type="button" class="edit" value="Edit"/>
                <input type="button" class="min" value="+/-"/>
            </div>
            <div style="background-color:#999999" class="content"><!-- content -->
                <table><tr><td>
                <div class="element" id="0" name="akc">сюда сервер грузит датчик</div>
                        </td><td>
                <div class="element" id="1" name="pif">сюда сервер грузит датчик</div>
                        </td><td>
                <div class="element" id="2" name="ofbu">сюда сервер грузит датчик</div>
                        </td><td>
                <div class="element" id="3" name="oms">сюда сервер грузит датчик</div>
                        </td><td>
                <div class="element" id="4" name="estat">сюда сервер грузит датчик</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    
    </div>
    <div id="panel1_edit" class="edit_panel"><!-- info -->
        <input type="checkbox" id="0">
        <input type="checkbox" id="1">
        <input type="checkbox" id="2">
        <input type="checkbox" id="3">
        <input type="checkbox" id="4">
        <input type="text">
        <input type="button">
    </div>
    <div id="panel2_edit" class="edit_panel"><!-- info -->
        <input type="text">
        <input type="button">
    </div>
    <div id="panel3_edit" class="edit_panel"><!-- info -->
        <input type="checkbox" id="0">
        <input type="checkbox" id="1">
        <input type="checkbox" id="2">
        <input type="checkbox" id="3">
        <input type="checkbox" id="4">
        <input type="button">
    </div>
    </div>
    <div class="details_page">
        <div class="content">
            тут подгрузятся данные с сервера через пхп
        </div>
         <div class="back">
            back
        </div>
    </div>

