				<!--левая колонка-->
				<div class="block1">
					<ul class="control">
						<li id="c1" class="act"><a href="#" title="Навигация">Навигация</a></li>
						<li id="c2"><a href="#" title="Счета">Счета</a></li>
						<li id="c3"><a href="#" title="Теги">Теги</a></li>
						<li id="c4"><a href="#" title="Регулярные транзакции">Регулярные транзакции</a></li>
						<li id="c5"><a href="#" title="Бюджет">Бюджет</a></li>
						<li id="c6" style="display: none;"><a href="#" title="Эксперты">Эксперты</a></li>
						<li id="c7" style="display: none;"><a href="#" title="Финансовые цели">Финансовые цели</a></li>
					</ul>
				</div>
				<!--/левая колонка-->