<!--Финансовове состояние-->
<div class="ramka3" id="1">
    <div class="ct">
        <div class="head">
            <h2>Финансовое состояние</h2>
            <span Style="font-size:11px;color:#929292;padding:20px;">в случае, если вы ведёте учёт расходов / доходов менее трёх месяцев,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; то данные расчётов будут иметь определённую погрешность</span>
            <ul class="action">
                
                
                <li class="over3"><a href="#" title="свернуть">свернуть</a></li>
            </ul>
        </div>
    </div>
    <div class="inside flash_block_in" id="content">
        <div class="flash" align="center">
            <table>
                <tr>
                    <td width="22%" align="center" id="tdInformer0" class="informerGauge efTooltip">
                        <div id="flashTitle_0"></div>
                        <div id="flash_0" name="fcon"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer1" class="informerGauge efTooltip">
                        <div id="flashTitle_1"></div>
                        <div id="flash_1" name="money"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer2" class="informerGauge efTooltip">
                        <div id="flashTitle_2"></div>
                        <div id="flash_2" name="budget"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer3" class="informerGauge efTooltip">
                        <div id="flashTitle_3"></div>
                        <div id="flash_3" name="cost"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer4" class="informerGauge efTooltip">
                        <div id="flashTitle_4"></div>
                        <div id="flash_4" name="redit"></div>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
    <div class="cb"><div></div></div>
</div>
<!--/Финансовове состояние-->
<!--Финансовые цели-->
<div class="ramka3" id="2">
<div class="ct">
<div class="head">
<h1>Финансовые цели</h1>
<ul class="action">


<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
</ul>
</div>
</div>
<div class="inside financobject_block" id="content">

    
</div>
<div class="cb"><div></div></div>
</div>
<!--/Финансовые цели-->
<!--Доходность и инвестиции
<div class="ramka3" id="3">
<div class="ct">
<div class="head">
<h2>Доходность и инвестиции</h2>
<ul class="action">


<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
</ul>
</div>
</div>
<div class="inside" id="content">
<div class="investments_block">
<div id="0" name="akc">

</div>
    <div id="1" name="pif">

</div>
    <div id="2" name="ofbu">

</div>
    <div id="3" name="oms">

</div>
    <div id="4" name="estat">

</div>

</div>
</div>
<div class="cb"><div></div></div>
</div>
/Доходность и инвестиции-->