<!--Финансовове состояние-->
<div class="ramka3" id="1">
    <div class="ct">
        <div class="head">
            <h2>Финансовое состояние</h2>
            <span Style="font-size:11px;color:#929292;padding:20px;">в случае, если вы ведёте учёт расходов / доходов менее трёх месяцев,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; то данные расчётов будут иметь определённую погрешность</span>
            {include file="ui/blockmenu.tpl" clipno=8}
        </div>
    </div>
    <div class="inside flash_block_in" id="content">
        <div class="flash" align="center">
            <table>
                <tr>
                    <td width="22%" align="center" id="tdInformer0" class="informerGauge efTooltip">
                        <div id="flashTitle_0"></div>
                        <div id="flash_0" name="fcon"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer1" class="informerGauge efTooltip">
                        <div id="flashTitle_1"></div>
                        <div id="flash_1" name="money"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer2" class="informerGauge efTooltip">
                        <div id="flashTitle_2"></div>
                        <div id="flash_2" name="budget"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer3" class="informerGauge efTooltip">
                        <div id="flashTitle_3"></div>
                        <div id="flash_3" name="cost"></div>
                    </td>
                    <td width="18%" align="center" id="tdInformer4" class="informerGauge efTooltip">
                        <div id="flashTitle_4"></div>
                        <div id="flash_4" name="redit"></div>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
    <div class="cb"><div></div></div>
</div>
<!--/Финансовове состояние-->
<!--Финансовые цели-->
<div class="ramka3" id="2">
    <div class="ct">
        <div class="head">
            <h1>Финансовые цели</h1>
            {include file="ui/blockmenu.tpl" clipno=7}
        </div>
    </div>
    <div class="inside financobject_block" id="content">
    </div>
    <div class="cb"><div></div></div>
</div>
<!--/Финансовые цели-->
