[submodule "sf/lib/vendor/symfony"]
	path = sf/lib/vendor/symfony
	url = git://github.com/maxim-oleinik/Symfony.git
[submodule "sf/plugins/sfPhpunitPlugin"]
	path = sf/plugins/sfPhpunitPlugin
	url = git://github.com/EasyFinance/sfPhpunitPlugin.git
[submodule "sf/plugins/sfAdminDashPlugin"]
	path = sf/plugins/sfAdminDashPlugin
	url = http://github.com/EasyFinance/sfAdminDashPlugin.git
[submodule "sf/plugins/myAuthPlugin"]
	path = sf/plugins/myAuthPlugin
	url = http://github.com/EasyFinance/myAuthPlugin.git
[submodule "sf/plugins/myDoctrineLoggerPlugin"]
	path = sf/plugins/myDoctrineLoggerPlugin
	url = http://github.com/EasyFinance/myDoctrineLoggerPlugin.git
