<!--правая колонка-->
				<div class="block3 ramka3">
					<div class="ct head">
						<h2></h2>
						<ul class="action">
							
							
							<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
						</ul>
					</div>
					<dl class="info">
						<dt>Курсы ОФБУ</dt>
						<dd class="ofbu">
							<div class="line">
								<span class="valuta">MICEX / RUB</span>
								<span class="up green">15,35</span>
								<span class="green">1,75%</span>
							</div>
							<div class="line">
								<span class="valuta">RTS / USD</span>
								<span>4,87</span>
								<span>0%</span>
							</div>
							<div class="line">
								<span class="valuta">London / USD</span>
								<span class="down red">19,74</span>
								<span class="red">1,23%</span>
							</div>
						</dd>
					</dl>
				</div>
		<!--/правая колонка-->