<!--Финансовые цели-->
					<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h1>Финансовые цели</h1>
								<ul class="action">
									
									
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
						<div class="inside financobject_block">
							<div class="add"><span>Добавить цель</span></div>
							<div class="object">
								<div class="ban"><a href="#"><img src="/img/images/pic7.gif" alt="" /></a></div>
								<div class="descr">
									<img src="/img/images/pic6.jpg" alt="" />
									<a href="#">Купить очень, очень хорошую машину.</a>
									Отечественный рынок акций продолжает движение в зеленой зоне. Поддержку инвесторам оказывают рост стоимости
								</div>
								<div class="indicator_block">
									<div class="money">
										1 500 000 руб.<br />
										<span>1 000 000 руб.</span>
									</div>
									<div class="indicator">
										<div style="width:15%;"><span>15%</span></div>
									</div>
								</div>
								<div class="date">
									Целевая дата: 15.05.09 &nbsp;&nbsp;&nbsp; Прогнозная дата: 22.08.09
								</div>
								<ul>
									<li><a href="#">редактировать</a></li>
									<li><a href="#">копировать</a></li>
									<li><a href="#">удалить</a></li>
								</ul>
							</div>
							<div class="object">
								<div class="ban"><a href="#"><img src="/img/images/pic7.gif" alt="" /></a></div>
								<div class="descr">
									<img src="/img/images/pic6.jpg" alt="" />
									<a href="#">Купить очень, очень хорошую машину.</a>
									Отечественный рынок акций продолжает движение в зеленой зоне. Поддержку инвесторам оказывают рост стоимости
								</div>
								<div class="indicator_block">
									<div class="money">
										1 000 руб.<br />
										<span>500 руб.</span>
									</div>
									<div class="indicator">
										<div style="width:50%;"><span>50%</span></div>
									</div>
								</div>
								<div class="date">
									Целевая дата: 15.05.09 &nbsp;&nbsp;&nbsp; Прогнозная дата: 22.08.09
								</div>
								<ul>
									<li><a href="#">редактировать</a></li>
									<li><a href="#">копировать</a></li>
									<li><a href="#">удалить</a></li>
								</ul>
							</div>
							<div class="show_all"><span>Смотреть все цели</span></div>
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Финансовые цели-->
				<!--Популярные цели-->
					<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h2>Популярные цели</h2>
								<ul class="action">
									
									
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
						<div class="inside">
							<ul class="popularobject">
								<li>
									<img src="/img/images/pic5.jpg" alt="" />
									<span class="num">1.</span>
									<a href="#" class="name">В Москве завершился эксперимент по моделированию полета на Марс</a>
									<a href="#">Присоединиться</a>
									<div class="statistics">
										<div>
											<span class="green">1234</span> Последователей
											<span class="red">3200</span> Достигло цель
										</div>
									</div>
								</li>
								<li>
									<img src="/img/images/pic5.jpg" alt="" />
									<span class="num">2.</span>
									<a href="#" class="name">В Москве завершился эксперимент по моделированию полета на Марс</a>
									<a href="#">Присоединиться</a>
									<div class="statistics">
										<div>
											<span class="green">123</span> Последователей
											<span class="red">320</span> Достигло цель
										</div>
									</div>
								</li>
								<li class="last">
									<img src="/img/images/pic5.jpg" alt="" />
									<span class="num">9993.</span>
									<a href="#" class="name">В Москве завершился эксперимент по моделированию полета на Марс</a>
									<a href="#">Присоединиться</a>
									<div class="statistics">
										<div>
											<span class="green">123</span> Последователей
											<span class="red">320</span> Достигло цель
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Популярные цели-->