<!--popup добавить цель-->
    <div id="tpopup" title="Финансовая цель" style="display: none;">
        <input type="hidden" id="key">
        <div class="b-form-skeleton b-operations-journal-options fixed-width">
            <div class="b-row cols2">
                <div class="b-col">
                    <div class="b-col-indent">
                        {capture name='selectbox'}
                            <option value="r" selected="selected">Накопить</option>
                            <option value="d">Сэкономить</option>
                            <option value="d">Снизить долги</option>
                        {/capture}
                        {include file="ui/textfield.tpl" label="Хочу:" disabled=true selectbox=$smarty.capture.selectbox selectid="type"}
                    </div>
                </div>
                <div class="b-col">
                    <div class="b-col-indent">
                        {include file="ui/textfield.tpl" label="Категория:" empty_selectbox=true selectid="targets_category"}
                    </div>
                </div>
            </div>
            <div class="b-row">
                <div class="b-col">
                    <div class="b-col-indent">
                        {include file="ui/textfield.tpl" label="Наименование:" id="name" value=""}
                    </div>
                </div>
            </div>
            <div class="b-row cols2">
                <div class="b-col">
                    <div class="b-col-indent">
                        <div class="b-custom-input-inline">
                            <label class="">Дата начала:</label>
                            {include file="ui/textfield.tpl" id="start" value=$dateFrom class="b-date"}
                            <b class="clear"></b>
                        </div>
                    </div>
                </div>
                <div class="b-col">
                    <div class="b-col-indent">
                        <div class="b-custom-input-inline">
                            <label class="">Дата окончания:</label>
                            {include file="ui/textfield.tpl" id="end" value=$dateFrom class="b-date"}
                            <b class="clear"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-row cols2">
                <div class="b-col">
                    <div class="b-col-indent">
                       {include file="ui/textfield.tpl" label="Сумма:" id="tg_amount" value=""}
                    </div>
                </div>
                <div class="b-col">
                    <div class="b-col-indent">
                        {capture name='selectbox'}
                            {foreach from=$accounts item=acc_data}
                                <option value="{$acc_data.account_id}" currency="{$acc_data.account_currency_id}" abbr="{$acc_data.account_currency_name}">{$acc_data.account_name} ({$acc_data.account_currency_name})</option>
                            {/foreach}
                        {/capture}
                        {include file="ui/textfield.tpl" label="Счет накопления:" selectbox=$smarty.capture.selectbox selectid="account"}
                    </div>
                </div>
            </div>
            <div class="b-row">
                <div class="b-col">
                    <div class="b-col-indent">
                        {include file="ui/textarea.tpl" label="Комментарии:" id="comment"}
                    </div>
                </div>
            </div>
            <div class="b-row">
                <div class="b-col">
                    <div class="b-col-indent">
                        <input type="hidden" id="op_close2" value="0" />
                        <label>
                            <input type="checkbox" value="" id="visible" checked />
                            Видимая для других
                        </label>
                    </div>
                </div>
            </div>
            <b class="clear"></b>
        </div>
    </div>
<!--/popup добавить цель-->