{* SVN: $Id$ *}
<!--/вкладки-->
		<div class="ramka2">
			<div class="cct"></div>
		<!--меню4-->
			
		<!--/меню4-->
			<div class="mid general_cont">
		<!--левая колонка-->
            {include file="left.quick.html"}
		<!--/левая колонка-->
			<div class="block2">
		<!--наполнение-->
            <!--Ввод операции-->
                {include file="operation.quick.html"}
            <!--/Ввод операции-->
            <!--цели-->
                {include file="$name_page.content.html"}
            <!--/цели-->
		<!--/наполнение-->
			</div>
		<!--правая колонка-->
            {include file="right.quick.html"}
        <!--/правая колонка-->
			</div>
           {include file="$name_page.addpop.html"}
			<div class="ccb"></div>
		</div>