{* SVN: $Id$ *}
<link rel='stylesheet' type='text/css' href='/css2/jquery/jquery.calculator.css' />
<link rel='stylesheet' type='text/css' href='/css2/jquery/south-street/ui.datepicker.css' />
<link rel='stylesheet' type='text/css' href='/css2/jquery/south-street/ui.dialog.css' />
<link rel='stylesheet' type='text/css' href='/css2/jquery/south-street/ui.all.css' />
<script type='text/javascript' src='/js2/jquery/ui.core.js'></script>
<script type='text/javascript' src='/js2/jquery/ui.dialog.js'></script>
<script type='text/javascript' src='/js2/jquery/ui.draggable.js'></script>
<script type='text/javascript' src='/js2/jquery/ui.resizable.js'></script>
<script type="text/javascript" src="/js2/jquery/ui.datepicker.js"></script>
<script type='text/javascript' src='/js2/jquery/i18n/ui.datepicker-ru.js'></script>
<script type="text/javascript" src="/js2/jquery/jquery.calculator.min.js"></script>
<script type="text/javascript" src="/js2/jquery/jquery.calculator-ru.js"></script>
<script type="text/javascript" src="/js2/targets.js?r={$revision}"></script>

<div class="ramka2">
    <div class="cct"></div>
<ul class="menu4">
	<li id="m_first"><a href="/budget/">Бюджет</a></li>
	<li id="m_last" class="act"><span><b>Финансовые цели</b></span></li>
</ul>
{include file="targets/targets.$template.html"}
<div class="ccb"></div>
</div>