<form action="/accounts/" method="post" id="formAccount">

<div class="f_field">
    <label>Валюта счета:</label>
    <select name="currency_id">
        {foreach from=$currency item=data}
            <option value="{$data.key}">{$data.name}</option>
        {/foreach}
    </select>
</div>
<br class="clr"/>
<table class="tableForm" cellspacing="0" cellpadding="0">
{foreach from=$fields item=data}
<tr>
    <td><label>{$data.display}:</label></td>
</tr><tr>
    <td>{$data.value}</td>
</tr>
{/foreach}
</table>
<input type="hidden" name="type_id" value="{$type_id}" />
</form>