<?php
if($name_page == 'welcome')
{
	$name_page = isset($res['user'])?'info_panel/info_panel':'login';
}

?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
	<head>
		<title>EasyFinance - система управления личными финансами</title>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Мобильная версия EasyFinance.Ru" />
		<meta name="viewport" content="width=240" />
		<meta name="MobileOptimized" content="176" />
		<meta name="PalmComputingPlatform" content="true" />
		<?php ($name_page != 'login') ? '<script type="text/javascript" src="/js/pda/editForm.js"></script>' : '' ?>
		<link rel="stylesheet" type="text/css" href="/css/pda.css" />
	</head>
	<body>
		<table style="width:100%;height:4px; background-color:#93ca57;border-bottom: solid 1px #266823;"><tr>
			<td>
			</td>
		</tr></table>
		<?php
		if( isset($res['user']) )
		{
			$this->display('blocks/user_menu.tpl');
		}?>
		<div style="padding: 0px 5px 10px 5px;">
		<?php $this->display( $name_page . '.tpl'); ?>
		</div>
		<?php $this->display('blocks/bottom.tpl', true)?>
	</body>
</html>
