<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h1>Эксперты</h1>
								<ul class="action">
									
									
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
                                                <div class="inside">
							<ul class="menu5">
                                                            <li id="ic1" class="act"><a href="#" style="display:none">Резюме экспертов</a><div><span>Резюме экспертов</span></div></li>
                                                            <li id="ic2"><a href="#">Сообщения</a><div style="display:none"><span>Сообщения</span></div></li>
							</ul>
                                                    <div id="mail_list" class="operation_list">
                                                    </div>
                                                    <div id="mail_desc" class="operation_list">
                                                    </div>
                                                        <dl class="experts_list_in">
                                                        
							</dl>





                                                    
                                                    <div id="profile">
                                                    </div>
                                                </div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Эксперты-->