<div class="ramka3 hidden">
    <div class="ct">
            <div class="head">
                    <h1>Почта</h1>
                    <ul class="action">
                            <li class="over1"><a href="#" title="настройки">настройки</a></li>
                            <li class="over2"><a href="#" title="закрыть">закрыть</a></li>
                            <li class="over3" style="display:none"><a href="#" title="свернуть">свернуть</a></li>
                    </ul>
            </div>
    </div>

    <div class="inside">
        <div id="mailToolBar" class="hidden">
            <ul class="mail_control clearfix hidden">
                <li>
                    <select id="comboMailFolder">
                        <option selected value="inbox">Входящие</option>
                        <option value="outbox">Исходящие</option>
                        <option value="drafts">Черновики</option>
                        <option value="trash">Корзина</option>
                    </select>
                </li>
                <li id="mailsMenuReload"><a href="#" id="mails-reload"><img src="/img/i/btnMailRefresh.png" alt="Обновить" class="m-c-img" />Обновить</a></li>
                <li><a href="#" id="mail-write" class="hidden"><img src="/img/i/btnMailWrite.png" alt="Написать письмо" class="m-c-img" />Написать</a></li>
                <li id="mailsMenuDelete"><a href="#" id="mails-delete" ><img src="/img/i/btnMailTrash.png" alt="Удалить" class="m-c-img" />Удалить</a></li>
                <li id="mailsMenuRestore" class="hidden"><a href="#" id="mails-restore" ><img src="/img/i/btnMailRestore.png" alt="Восстановить" class="m-c-img" />Восстановить</a></li>
            </ul>
        </div>

        <div id="widgetMail" class="inside mail_list">
            <table id="mailsTable">
                <tr>
                    <th>
                        <input id="checkAllMails" type="checkbox" value="" />
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th class="cl-2">
                        <div class="cont">
                            <div>
                                <span class="sort" title="отсортировать">Тема</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="cont">
                            <div>
                                <span id="divAddressHeader" class="sort" title="отсортировать">Автор</span>
                                <span class="select" title="выбрать">выбрать</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="cont">
                            <div>
                                <span class="sort" title="отсортировать">Дата</span>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>

        <!--<ul class="menu6 clearfix">
                <li><a href="#">Предыдущие</a></li>
                <li><a href="#">Следущие</a></li>
        </ul>-->

        <div id="mail-popup" title="Новое сообщение" class="hidden">
            <table class="mail-wrapper">
                <tr>
                    <td class="m-w-left"><label for="mail-to">Кому</label></td>
                    <td>
                        <input type="hidden" id="mail-to-id" name="id"/>
                        <input type="text" id="mail-to" name="to" disabled />
                    </td>
                </tr>
                <tr>
                    <td class="m-w-left"><label for="mail-subject">Тема</label></td>
                    <td><input type="text" id="mail-subject" name="title"/></td>
                </tr>
                <tr>
                    <td class="m-w-left"><label for="mail-text">Сообщение:</label></td>
                    <td>
                        <textarea rows="10" cols="10" id="mail-text" name="text"></textarea>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="txtMailFolder" name="txtMailFolder" value=""/>
        </div>

        <div id="mail-popup-read" title="Сообщение" class="hidden">
            <table class="mail-wrapper">
                <tr>
                    <td class="m-w-left"><label id="lblMailFromTo" for="mail-from">От кого:</label></td>
                    <td class="m-w-right">
                        <strong><div id="mail-from"></div></strong>
                        <label for="mail-date" class="m-d-label">Дата:</label><strong><span id="mail-date">04.02.09</span></strong>
                    </td>
                </tr>
                <tr>
                    <td class="m-w-left"><label for="mail-subject-read">Тема:</label></td>
                    <td class="m-w-right"><strong><div id="mail-subject-read"></div></strong></td>
                </tr>

                <tr>
                    <td class="m-w-left"><label for="mail-text-read">Сообщение:</label></td>
                    <td>
                        <div id="mail-html-read" class="hidden"></div>
                        <div id="divMailTextRead">
                            <textarea rows="10" cols="10" id="mail-text-read"></textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="category" name="category" value=""/>
        </div>
    </div>

    <!-- rounded bottom -->
    <div class="cb"><div></div></div>
</div>