RewriteEngine On
Options +FollowSymLinks 
DirectoryIndex categories.php
#Discussions
RewriteRule ^discussions$ index.php [QSA,L]
RewriteRule ^discussions/$ index.php [QSA,L]
RewriteRule ^discussions/([0-9]+)$ index.php?page=$1 [QSA,L]
RewriteRule ^discussions/([0-9]+)/$ index.php?page=$1 [QSA,L]
RewriteRule ^([0-9]+)$ index.php?CategoryID=$1 [QSA,L]
RewriteRule ^([0-9]+)/$ index.php?CategoryID=$1 [QSA,L]
RewriteRule ^([0-9]+)/([0-9]+)$ index.php?CategoryID=$1&page=$2 [QSA,L]
RewriteRule ^([0-9]+)/([0-9]+)/$ index.php?CategoryID=$1&page=$2 [QSA,L]

#Comments
RewriteRule ^discussion/([0-9]+)/([0-9]+)/(.*)$ comments.php?DiscussionID=$1&page=$2 [QSA,L]
RewriteRule ^discussion/([0-9]+)/([0-9]+)/(.*)/$ comments.php?DiscussionID=$1&page=$2 [QSA,L]
RewriteRule ^discussion/([0-9]+)/(.*)$ comments.php?DiscussionID=$1 [QSA,L]
RewriteRule ^discussion/([0-9]+)/(.*)/$ comments.php?DiscussionID=$1 [QSA,L]
RewriteRule ^discussion/([0-9]+)/([0-9]+)$ comments.php?DiscussionID=$1&page=$2 [QSA,L]
RewriteRule ^discussion/([0-9]+)/([0-9]+)/$ comments.php?DiscussionID=$1&page=$2 [QSA,L]
RewriteRule ^discussion/([0-9]+)$ comments.php?DiscussionID=$1 [QSA,L]
RewriteRule ^discussion/([0-9]+)/$ comments.php?DiscussionID=$1 [QSA,L]

#Categories
RewriteRule ^categories/$ categories.php [QSA,L]

#Account
RewriteRule ^account/$ account.php [QSA,L]
RewriteRule ^account/([0-9]+)$ account.php?u=$1 [QSA,L]
RewriteRule ^account/([0-9]+)/$ account.php?u=$1 [QSA,L]

#Search
RewriteRule ^search/$ search.php [QSA,L]
RewriteRule ^search/([0-9]+)$ search.php?page=$1 [QSA,L]
RewriteRule ^search/([0-9]+)/$ search.php?page=$1 [QSA,L]
RewriteRule ^search/saved/([0-9]+)$ search.php?SearchID=$1 [QSA,L]
RewriteRule ^search/saved/([0-9]+)/$ search.php?SearchID=$1 [QSA,L]
RewriteRule ^search/saved/([0-9]+)/([0-9]+)$ search.php?SearchID=$1&page=$2 [QSA,L]
RewriteRule ^search/saved/([0-9]+)/([0-9]+)/$ search.php?SearchID=$1&page=$2 [QSA,L]

#Post
RewriteRule ^post/$ post.php [QSA,L]
RewriteRule ^post/([0-9]+)$ post.php?CommentID=$1 [QSA,L]
RewriteRule ^post/([0-9]+)/$ post.php?CommentID=$1 [QSA,L]
RewriteRule ^post/category/([0-9]+)$ post.php?CategoryID=$1 [QSA,L]
RewriteRule ^post/category/([0-9]+)/$ post.php?CategoryID=$1 [QSA,L]

#Settings
RewriteRule ^settings/$ settings.php [QSA,L]

#People
RewriteRule ^people/$ people.php [QSA,L]

# Prevent some little bad effects of Friendly Urls on relative links in some
# extensions
RewriteRule ^(discussions|categories|search|post|settings|people|[0-9]+)/(extensions|themes|images|ajax)/(.*) $2/$3 [QSA,L]
RewriteRule ^(discussions|categories|search|post|settings|people|[0-9]+)/(account.php|categories.php|comments.php|extension.php|index.php|people.php|post.php|search.php|settings.php) $2 [QSA,L]
RewriteRule ^discussion/([0-9]+/){1,2}[^/]*/(extensions|themes|images|ajax)/(.*) $2/$3 [QSA,L]
RewriteRule ^discussion/([0-9]+/){1,2}[^/]*/(account.php|categories.php|comments.php|extension.php|index.php|people.php|post.php|search.php|settings.php) $2 [QSA,L]
RewriteRule ^(discussions|account|search|post|[0-9]+)/.+/(extensions|themes|images|ajax)/(.*) $2/$3 [QSA,L]
RewriteRule ^(discussions|account|search|post|[0-9]+)/.+/(account.php|categories.php|comments.php|extension.php|index.php|people.php|post.php|search.php|settings.php) $2 [QSA,L]
