{* $Id: calendar.html 108 2009-07-23 10:21:50Z ukko $ *}
<div class="ramka2">
    <div class="cct"></div>
    <div class="mid general_cont">
        <!--левая колонка-->
        {include file="left.quick.html"}
        <!--/левая колонка-->
        <div  class="block2">
            {include file="operation.quick.html"}
            <div class="ramka3" id="views">
                <div class="ct">
                    <div class="head">
                        <h2>Календарь</h2>
                    </div>
                </div>
                <ul class="month_cal">
                    <li class="y_prev" title="Переход на предыдущий год"><a></a></li>
                    <li class="m_prev" title="Переход на предыдущий месяц"><a></a></li>
                    <li class="cur" title="Переход на текущий месяц"><a></a></li>
                    <li class="m_next" title="Переход на следующий месяц"><a></a></li>
                    <li class="y_next" title="Переход на следующий год"><a></a></li>
                </ul>
                <!-- Вкладка календаря -->
                <div id="calend">
                    <div id='calendar'></div>
                    <div id='datepicker'></div>
                    <div id="calendar-buttons"></div>
                </div>
                <!--/Вкладка календаря -->
                <!-- Вкладка списка событий -->
                <div id="events" style="display: none">
                    <div id="cal_events">
                        <form action="">
                            <div>
                                <h3>Регулярные операции</h3>
                                <table id="per_tabl_header" class="tab1 header">
                                    <thead>
                                        <tr>
                                            <th class="chk"><input type="checkbox" value="" /></th>
                                            <th>Дата</th>
                                            <th>Название</th>
                                            <th>Сумма</th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="height: 270px; overflow-y: scroll;overflow-x: hidden">
                                    <table id="per_tabl" class="tab1 t_body">
                                        <tbody/>
                                        <tfoot/>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <h3>События</h3>
                                <table id="ev_tabl" class="tab1 header">
                                    <thead>
                                        <tr>
                                            <th class="chk"><input type="checkbox" value="" /></th>
                                            <th>Дата</th>
                                            <th>Название</th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="height: 270px; overflow-y: scroll;overflow-x: hidden">
                                    <table id="ev_tabl" class="tab1 t_body">
                                        <tbody/>
                                        <tfoot/>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--правая колонка-->
        {include file="right.quick.html"}
        <!--/правая колонка-->
    </div>
    <div class="ccb"></div>
</div>