{include_php file="../sf/apps/frontend/templates/_common/mainmenu.php"}

<div class="ramka2">
    <div class="cct">
        <i class="tl"></i>
        <i class="tr"></i>
    </div>
    <div class="ccm">
        <div class="ccm-container">
            <div class="mid general_cont">
                <!--левая колонка-->
                {include file="left.quick.html"}
                <!--/левая колонка-->
                <div  class="block2">
                    <div class="l-indent">
                        {include file="operation.quick.html"}

                        <!-- BEGIN overdue events -->
                        <div id="divCalendarOverdue" class="ramka3 hidden" >
                            <div class="ct">
                                <div class="head">
                                    <h2 style="color: red;">Просроченные операции</h2>
                                </div>
                            </div>
                            <!-- таблица просроченных событий -->
                            <div id="calendarOverdue" class="efTableWrapper" style="height:160px;">
                                <table class="efTable head">
                                    <tr>
                                      <th class="col1 date">
                                          Дата
                                      </th>
                                      <th class="col2 money">
                                          <span>Сумма</span>
                                      </th>
                                      <th class="col3">
                                          Счёт
                                      </th>
                                      <th class="col4">
                                        Категория
                                      </th>
                                      <th class="scroll">
                                          <div>&nbsp;</div>
                                      </th>
                                    </tr>
                                </table>
                                <div class="efTable content" style="height:139px;">
                                    <table>
                                    </table>
                                </div>
                            </div>
                            <div align="right" style="margin-top: 10px; margin-right: 10px;">
                                <input id="btnOverdueAcceptAll" type="button" value="Подтвердить всё">
                            </div>
                            <div class="cb"><div></div></div>
                        </div>
                        <!-- END overdue events -->

                        <div id="views" class="ramka3 ui-widget-content">
                            <div class="ct">
                                <div class="head">
                                    <h2>Календарь</h2>
                                    <div id="calendarSwitchView">
                                        <div id="calendarModeCalendar" title="календарь"></div>
                                        <div id="calendarModeTable" title="список"></div>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <ul id="calendarMonthPicker" class="month_cal">
                                    <li class="y_prev" title="Переход на предыдущий год"><a></a></li>
                                    <li class="m_prev" title="Переход на предыдущий месяц"><a></a></li>
                                    <li class="cur" title="Переход на текущий месяц"><a></a></li>
                                    <li class="m_next" title="Переход на следующий месяц"><a></a></li>
                                    <li class="y_next" title="Переход на следующий год"><a></a></li>
                                </ul>

                                <!-- Вкладка календаря -->
                                <div id="calend">
                                    <!--<span style="font-size: 11px; color: #949494;width: 100%;text-align: center;display: block">Нажмите на любой день, чтобы запланировать операцию</span>-->
                                    <div id='calendar'></div>

                                    <div id="calendar-buttons"></div>
                                </div>
                                <!--/Вкладка календаря -->
                                <!-- Вкладка списка событий -->
                                <div id="events" style="display: none">
                                    <div id="cal_events">
                                        <form action="">
                                            <div id="event_with_select_events">
                                                <div><span id="remove_all_cal" style="text-decoration:underline;cursor:pointer">Удалить выделенные</span></div>
                                                <div><span id="accept_all_cal" style="text-decoration:underline;cursor:pointer">Подтвердить выделенные</span></div>
                                            </div>
                                            <div>
                                                <table id="per_tabl_header" class="tab1 header">
                                                    <thead>
                                                        <tr>
                                                            <th class="chk"><input type="checkbox" value="" /></th>
                                                            <th>Дата</th>
                                                            <th>Категория</th>
                                                            <th>Сумма</th>
                                                            <th colspan="2"></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div class="table_tab1" style="height: 270px; overflow-y: scroll;overflow-x: hidden">
                                                    <table id="per_tabl" class="tab1 t_body">
                                                        <tbody/>
                                                        <tfoot/>
                                                    </table>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <!--правая колонка-->
                {include file="right.quick.html"}
                <!--/правая колонка-->
            </div>
        </div>
    </div>
    <div class="ccb">
        <i class="bl"></i>
        <i class="br"></i>
    </div>
</div>
