        <div class="ramka2">
            <div class="cct">
                <i class="tl"></i>
                <i class="tr"></i>
            </div>
            <div class="ccm">
                <div class="ccm-container">
                    <div class="mid general_cont">
                        &nbsp;
                        <p align="justify">
                        <div style='margin:20px' align="justify">
                            <h2>Девиз</h2>
                            Управляя своими финансами &mdash; управляешь своим будущим!<br><br>
                            <h2>Миссия</h2>
                            Миссией нашей  компании является создание информационной системы учета и управления личными  финансами онлайн, позволяющей обычным  людям без особых усилий упорядочить  свои доходы и расходы и обоснованно спланировать свое финансовое будущее, а также повысить свою информированность о различных финансовых инструментах и методах их использования.<br><br>
                            <h2>Стратегия</h2>
                            Наша стратегия строится на следующих базовых принципах:<br>
                            <ul class="about">
                                <li>верность интересам Пользователей нашего сайта</li>
                                <li>конфиденциальность информации наших Пользователей</li>
                                <li>постоянное улучшение качества предоставляемых услуг</li>
                                <li>построение равноправных партнерских отношений со всеми контрагентами</li>
                            </ul><br>
                            <h2>Люди</h2>
                            Главной ценностью компании, безусловно, являются люди, которые каждый день вкладывают свой труд в создание и развитие Системы управления личными финансами EasyFinance.ru. Это талантливые программисты и креативные дизайнеры, опытные менеджеры и высококвалифицированные эксперты, которые формируют команду проекта «EasyFinance.ru»<br><br>
                            Компания ООО «EasyFinance.ru» &mdash; это сплоченный коллектив единомышленников, с энтузиазмом подходящий к решению поставленной перед ними задачи.<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ccb">
                <i class="bl"></i>
                <i class="br"></i>
            </div>
        </div>

<!--/середина-->
