<h2>Тарифный план «EASYFINANCE» - путь к автоматизации!</h2>

<p>Нравится, когда все операции учтены в EasyFinance.ru?</p>

<p>Хотите MasterCard Gold или Visa Gold всего за 150 рублей в год или Вы хотите карту с индивидуальным дизайном?</p>

<p>Тогда тарифный план «EASYFINANCE» от AMT-Банка для Вас!!!</p>

<p>На условиях тарифного плана «EASYFINANCE» может быть открыт специальный карточный счет (СКС) в одной из 3 валют (рубли, доллары США, евро), к которому, по выбору Клиента, предоставляются карты VISA Platinum, VISA Gold, MasterCard Gold, VISA Classic, VISA Classic Unembossed (неименная), MasterCard Standard на основании данной Анкеты и договора об открытии карточного счета и предоставлении платежных карт.</p>

<p>Кроме того, вы можете подключить услугу автоматического учета для операций по счету АМТ-Банка АБСОЛЮТНО БЕСПЛАТНО!</p>

<p>Подробные условия обслуживания по ТП «EASYFINANCE» на официальном сайте АМТ-Банка.</p>

Что нужно сделать для получения карты АМТ Банка с автоматическим учетом в EasyFinance.ru:
    <ul style="list-style: decimal; margin-left: 25px;">
        <li>Создать почтовый адрес на сайте easyfinance.ru - <a href="/profile/" target="_blank">пункт меню "Профиль", вкладка "Интеграция"</a>
        <li><a href="/redirect/anketa_amt/"><img src="/img/i/word16.png" border="0" />&nbsp;Скачать</a> и заполнить анкету, указав в ней почтовый адрес на easyfinance.ru
        <li>Сдать анкету в <a href="http://amtbank.com/ru/about/filials" target="_blank">один из дополнительных офисов АМТ Банка</a>
    </ul>
<br/>
<p>В итоге Вы получите карту, операции по которой будут автоматически учитываться в сервисе EasyFinance.ru</p>

<hr/>
<p><small>*При печати документа в текстовом редакторе Open Office, пожалуйста, проверьте настройки печати и корректность отображения Анкеты на бумажном носителе.</small></p>
