<link href="/css/anketa-amt.css" type="text/css" rel="stylesheet">

<script type="text/javascript">
    /*
    $(document).ready(function(){
        $('#ss-form').ajaxForm({
            type: "POST",
            success: function() {
                alert ('ok!');
            }
        });
    });
    */

$(document).ready(function(){
    /*
    $("#ss-form").submit(function(){
        $.getJSON(
            "https://spreadsheets.google.com/formResponse?formkey=dGptcWtrNmFXVE9MTEZCYUV6N2FoZGc6MA&ifq",
            $("#ss-form").serialize(),
            function(data){
                alert('ok!');
            }
        );

        return false;
    });
    */

    $('#ss-form').submit(function() {
        var $this = $(this);
        var data = $this.serialize();

        $.ajax({
            url:         $this.attr('action'),
            dataType:   'jsonp',
            data:        data,
            processData: false,
            success:     function() {
                alert("Ваша анкета отправлена в АМТ банк!\nВ ближайшее время с Вами свяжется сотрудник банка.");
            }
        });

        return false;
    });

});
</script>
{/literal}

<div class="ss-form-container">
<div class="ss-form-heading"><h1 class="ss-form-title">Анкета АМТ</h1>
<p></p>


<hr class="ss-email-break" style="display:none;">
</div>
<div class="ss-form"><form action="https://spreadsheets.google.com/formResponse?formkey=dGptcWtrNmFXVE9MTEZCYUV6N2FoZGc6MA&ifq" method="POST" id="ss-form">

<br>
<div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Фамилия
</label>
<label class="ss-q-help" for="entry_0"></label>
<input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Имя
</label>
<label class="ss-q-help" for="entry_2"></label>
<input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_3">Отчество
</label>
<label class="ss-q-help" for="entry_3"></label>
<input type="text" name="entry.3.single" value="" class="ss-q-short" id="entry_3"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_38">Фамилия - латинская транскрипция
</label>
<label class="ss-q-help" for="entry_38"></label>
<input type="text" name="entry.38.single" value="" class="ss-q-short" id="entry_38"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_39">Имя - латинская транскрипция
</label>
<label class="ss-q-help" for="entry_39"></label>
<input type="text" name="entry.39.single" value="" class="ss-q-short" id="entry_39"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_10">Дата рождения
</label>
<label class="ss-q-help" for="entry_10"></label>
<input type="text" name="entry.10.single" value="" class="ss-q-short" id="entry_10"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_11">Место рождения
</label>
<label class="ss-q-help" for="entry_11"></label>
<input type="text" name="entry.11.single" value="" class="ss-q-short" id="entry_11"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_12">Пол
</label>
<label class="ss-q-help" for="entry_12"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="radio" name="entry.12.group" value="Мужской" class="ss-q-radio" id="group_12_1">
<label class="ss-choice-label" for="group_12_1">Мужской</label></li> <li class="ss-choice-item"><input type="radio" name="entry.12.group" value="Женский" class="ss-q-radio" id="group_12_2">
<label class="ss-choice-label" for="group_12_2">Женский</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_13">Гражданство
</label>
<label class="ss-q-help" for="entry_13"></label>
<input type="text" name="entry.13.single" value="" class="ss-q-short" id="entry_13"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_14">ИНН
</label>
<label class="ss-q-help" for="entry_14"></label>
<input type="text" name="entry.14.single" value="" class="ss-q-short" id="entry_14"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Адрес прописки / регистрации</h2>
<div class="ss-section-description"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_16">Страна
</label>
<label class="ss-q-help" for="entry_16"></label>
<input type="text" name="entry.16.single" value="" class="ss-q-short" id="entry_16"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_17">Индекс
</label>
<label class="ss-q-help" for="entry_17"></label>
<input type="text" name="entry.17.single" value="" class="ss-q-short" id="entry_17"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_18">Регион, район
</label>
<label class="ss-q-help" for="entry_18"></label>
<input type="text" name="entry.18.single" value="" class="ss-q-short" id="entry_18"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_19">Название населенного пункта
</label>
<label class="ss-q-help" for="entry_19"></label>
<input type="text" name="entry.19.single" value="" class="ss-q-short" id="entry_19"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_20">Улица
</label>
<label class="ss-q-help" for="entry_20"></label>
<input type="text" name="entry.20.single" value="" class="ss-q-short" id="entry_20"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_21">Дом
</label>
<label class="ss-q-help" for="entry_21"></label>
<input type="text" name="entry.21.single" value="" class="ss-q-short" id="entry_21"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_22">Корпус
</label>
<label class="ss-q-help" for="entry_22"></label>
<input type="text" name="entry.22.single" value="" class="ss-q-short" id="entry_22"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Квартира
</label>
<label class="ss-q-help" for="entry_23"></label>
<input type="text" name="entry.23.single" value="" class="ss-q-short" id="entry_23"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Адрес местонахождения (для переписки)</h2>
<div class="ss-section-description"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_31">Страна
</label>
<label class="ss-q-help" for="entry_31"></label>
<input type="text" name="entry.31.single" value="" class="ss-q-short" id="entry_31"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_41">Индекс
</label>
<label class="ss-q-help" for="entry_41"></label>
<input type="text" name="entry.41.single" value="" class="ss-q-short" id="entry_41"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_32">Регион, район
</label>
<label class="ss-q-help" for="entry_32"></label>
<input type="text" name="entry.32.single" value="" class="ss-q-short" id="entry_32"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_33">Название населенного пункта
</label>
<label class="ss-q-help" for="entry_33"></label>
<input type="text" name="entry.33.single" value="" class="ss-q-short" id="entry_33"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_34">Улица
</label>
<label class="ss-q-help" for="entry_34"></label>
<input type="text" name="entry.34.single" value="" class="ss-q-short" id="entry_34"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_35">Дом
</label>
<label class="ss-q-help" for="entry_35"></label>
<input type="text" name="entry.35.single" value="" class="ss-q-short" id="entry_35"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_36">Корпус
</label>
<label class="ss-q-help" for="entry_36"></label>
<input type="text" name="entry.36.single" value="" class="ss-q-short" id="entry_36"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_37">Квартира
</label>
<label class="ss-q-help" for="entry_37"></label>
<input type="text" name="entry.37.single" value="" class="ss-q-short" id="entry_37"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Общегражданский паспорт</h2>
<div class="ss-section-description">для военнослужащих – удостоверение личности, паспорт моряка (для моряков), для лиц до 14 лет – свидетельство о рождении</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_25">Серия
</label>
<label class="ss-q-help" for="entry_25"></label>
<input type="text" name="entry.25.single" value="" class="ss-q-short" id="entry_25"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_26">Номер
</label>
<label class="ss-q-help" for="entry_26"></label>
<input type="text" name="entry.26.single" value="" class="ss-q-short" id="entry_26"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_27">Кем выдан
</label>
<label class="ss-q-help" for="entry_27"></label>
<textarea name="entry.27.single" rows="8" cols="75" class="ss-q-long" id="entry_27"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_28">Код подразделения
</label>
<label class="ss-q-help" for="entry_28"></label>
<input type="text" name="entry.28.single" value="" class="ss-q-short" id="entry_28"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_29">Дата выдачи
</label>
<label class="ss-q-help" for="entry_29"></label>
<input type="text" name="entry.29.single" value="" class="ss-q-short" id="entry_29"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Для иностранных граждан: второй документ</h2>
<div class="ss-section-description">(вид на жительство, миграционная карта, виза, разрешение на временное проживание)</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_44">Наименование документа
</label>
<label class="ss-q-help" for="entry_44"></label>
<input type="text" name="entry.44.single" value="" class="ss-q-short" id="entry_44"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_45">Серия
</label>
<label class="ss-q-help" for="entry_45"></label>
<input type="text" name="entry.45.single" value="" class="ss-q-short" id="entry_45"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_47">Номер
</label>
<label class="ss-q-help" for="entry_47"></label>
<input type="text" name="entry.47.single" value="" class="ss-q-short" id="entry_47"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_49">Кем выдан
</label>
<label class="ss-q-help" for="entry_49"></label>
<textarea name="entry.49.single" rows="8" cols="75" class="ss-q-long" id="entry_49"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_51">Дата выдачи
</label>
<label class="ss-q-help" for="entry_51"></label>
<input type="text" name="entry.51.single" value="" class="ss-q-short" id="entry_51"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_53">Срок окончания действия документа
</label>
<label class="ss-q-help" for="entry_53"></label>
<input type="text" name="entry.53.single" value="" class="ss-q-short" id="entry_53"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Контактная информация</h2>
<div class="ss-section-description"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_55">Телефон домашний
</label>
<label class="ss-q-help" for="entry_55"></label>
<input type="text" name="entry.55.single" value="" class="ss-q-short" id="entry_55"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_58">Электронный адрес
</label>
<label class="ss-q-help" for="entry_58"></label>
<input type="text" name="entry.58.single" value="" class="ss-q-short" id="entry_58"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_56">Телефон мобильный
</label>
<label class="ss-q-help" for="entry_56"></label>
<input type="text" name="entry.56.single" value="" class="ss-q-short" id="entry_56"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_60">Иное
</label>
<label class="ss-q-help" for="entry_60"></label>
<input type="text" name="entry.60.single" value="" class="ss-q-short" id="entry_60"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Место работы</h2>
<div class="ss-section-description"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_63">Название организации
</label>
<label class="ss-q-help" for="entry_63"></label>
<input type="text" name="entry.63.single" value="" class="ss-q-short" id="entry_63"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_64">Должность
</label>
<label class="ss-q-help" for="entry_64"></label>
<input type="text" name="entry.64.single" value="" class="ss-q-short" id="entry_64"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_80">Адрес
</label>
<label class="ss-q-help" for="entry_80"></label>
<input type="text" name="entry.80.single" value="" class="ss-q-short" id="entry_80"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_78">Телефон
</label>
<label class="ss-q-help" for="entry_78"></label>
<input type="text" name="entry.78.single" value="" class="ss-q-short" id="entry_78"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Международная банковская карта</h2>
<div class="ss-section-description"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_92">Основная или дополнительная
</label>
<label class="ss-q-help" for="entry_92"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="radio" name="entry.92.group" value="Основная карта" class="ss-q-radio" id="group_92_1">
<label class="ss-choice-label" for="group_92_1">Основная карта</label></li> <li class="ss-choice-item"><input type="radio" name="entry.92.group" value="Дополнительная карта" class="ss-q-radio" id="group_92_2">
<label class="ss-choice-label" for="group_92_2">Дополнительная карта</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_94">Валюта счета
</label>
<label class="ss-q-help" for="entry_94"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="radio" name="entry.94.group" value="Рубли" class="ss-q-radio" id="group_94_1">
<label class="ss-choice-label" for="group_94_1">Рубли</label></li> <li class="ss-choice-item"><input type="radio" name="entry.94.group" value="Доллары" class="ss-q-radio" id="group_94_2">
<label class="ss-choice-label" for="group_94_2">Доллары</label></li> <li class="ss-choice-item"><input type="radio" name="entry.94.group" value="Евро" class="ss-q-radio" id="group_94_3">
<label class="ss-choice-label" for="group_94_3">Евро</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_104">Тип карты
</label>
<label class="ss-q-help" for="entry_104"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="radio" name="entry.104.group" value="VISA Gold" class="ss-q-radio" id="group_104_1">
<label class="ss-choice-label" for="group_104_1">VISA Gold</label></li> <li class="ss-choice-item"><input type="radio" name="entry.104.group" value="Visa Classic" class="ss-q-radio" id="group_104_2">
<label class="ss-choice-label" for="group_104_2">Visa Classic</label></li> <li class="ss-choice-item"><input type="radio" name="entry.104.group" value="VISA Classic Unembossed" class="ss-q-radio" id="group_104_3">
<label class="ss-choice-label" for="group_104_3">VISA Classic Unembossed</label></li> <li class="ss-choice-item"><input type="radio" name="entry.104.group" value="VISA Platinum" class="ss-q-radio" id="group_104_4">
<label class="ss-choice-label" for="group_104_4">VISA Platinum</label></li> <li class="ss-choice-item"><input type="radio" name="entry.104.group" value="MasterCard Gold" class="ss-q-radio" id="group_104_5">
<label class="ss-choice-label" for="group_104_5">MasterCard Gold</label></li> <li class="ss-choice-item"><input type="radio" name="entry.104.group" value="MasterCard Standard" class="ss-q-radio" id="group_104_6">
<label class="ss-choice-label" for="group_104_6">MasterCard Standard</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_106">Срочность выпуска
</label>
<label class="ss-q-help" for="entry_106"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="radio" name="entry.106.group" value="Плановый выпуск карты" class="ss-q-radio" id="group_106_1">
<label class="ss-choice-label" for="group_106_1">Плановый выпуск карты</label></li> <li class="ss-choice-item"><input type="radio" name="entry.106.group" value="Экстренный выпуск карты" class="ss-q-radio" id="group_106_2">
<label class="ss-choice-label" for="group_106_2">Экстренный выпуск карты</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-title" for="entry_96">Услуга SMS-информирования
</label>
<label class="ss-q-help" for="entry_96"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="checkbox" name="entry.96.group" value="Включить SMS-информирование" class="ss-q-checkbox" id="group_96_1">
<label for="group_96_1">Включить SMS-информирование</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-title" for="entry_98">Куда направлять выписку по счету (отметьте необходимое)
</label>
<label class="ss-q-help" for="entry_98"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="checkbox" name="entry.98.group" value="Оставлять в дополнительном офисе" class="ss-q-checkbox" id="group_98_1">
<label for="group_98_1">Оставлять в дополнительном офисе</label></li> <li class="ss-choice-item"><input type="checkbox" name="entry.98.group" value="Направлять на мой e-mail (на mail.easyfinance.ru)" class="ss-q-checkbox" id="group_98_2">
<label for="group_98_2">Направлять на мой e-mail (на mail.easyfinance.ru)</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_100">mail.easyfinance.ru
</label>
<label class="ss-q-help" for="entry_100"></label>
<input type="text" name="entry.100.single" value="" class="ss-q-short" id="entry_100"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Пароль</h2>
<div class="ss-section-description">Слово на русском языке для идентификации Вашей личности при телефонных обращениях в Call-центр Банка</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_66">Пароль
</label>
<label class="ss-q-help" for="entry_66"></label>
<input type="text" name="entry.66.single" value="" class="ss-q-short" id="entry_66"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Дополнительная карта</h2>
<div class="ss-section-description">Если заказывается дополнительная карта, заполните, пожалуйста, следующие графы:</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_88">Ф.И.О. владельца карточного счета
</label>
<label class="ss-q-help" for="entry_88"></label>
<input type="text" name="entry.88.single" value="" class="ss-q-short" id="entry_88"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_90">Номер СКС основной карты
</label>
<label class="ss-q-help" for="entry_90"></label>
<input type="text" name="entry.90.single" value="" class="ss-q-short" id="entry_90"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_110">Ежемесячный доступный лимит (в валюте счета)
</label>
<label class="ss-q-help" for="entry_110"></label>
<input type="text" name="entry.110.single" value="" class="ss-q-short" id="entry_110"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">Дополнительная карта для лица до 14 лет</h2>
<div class="ss-section-description">Если заказывается дополнительная карта для лица в возрасте до 14 лет, дополнительно заполните, пожалуйста, нижеследующие графы:</div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-title" for="entry_114">Согласие владельца карточного счета
</label>
<label class="ss-q-help" for="entry_114"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="checkbox" name="entry.114.group" value="Денежные средства, размещенные на карточном счете, предоставляются владельцем карточного счета - законным представителем (родителем, усыновителем или попечителем) несовершеннолетнему лицу для свободного распоряжения." class="ss-q-checkbox" id="group_114_1">
<label for="group_114_1">Денежные средства, размещенные на карточном счете, предоставляются владельцем карточного счета - законным представителем (родителем, усыновителем или попечителем) несовершеннолетнему лицу для свободного распоряжения.</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_115">Документ, удостоверяющий права законного представителя
</label>
<label class="ss-q-help" for="entry_115"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="radio" name="entry.115.group" value="Свидетельство о рождении" class="ss-q-radio" id="group_115_1">
<label class="ss-choice-label" for="group_115_1">Свидетельство о рождении</label></li> <li class="ss-choice-item"><input type="radio" name="entry.115.group" value="Решение суда" class="ss-q-radio" id="group_115_2">
<label class="ss-choice-label" for="group_115_2">Решение суда</label></li> <li class="ss-choice-item"><input type="radio" name="entry.115.group" value="Документ, подтверждающий полномочия попечителя" class="ss-q-radio" id="group_115_3">
<label class="ss-choice-label" for="group_115_3">Документ, подтверждающий полномочия попечителя</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_116">Выдан кем, когда:
</label>
<label class="ss-q-help" for="entry_116"></label>
<textarea name="entry.116.single" rows="8" cols="75" class="ss-q-long" id="entry_116"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-section-header"><div class="ss-form-entry"><h2 class="ss-section-title">С правилами ознакомлен</h2>
<div class="ss-section-description"></div>
</div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-help" for="entry_118"></label>
<ul class="ss-choices"><li class="ss-choice-item"><input type="checkbox" name="entry.118.group" value="С Тарифами и Правилами обслуживания держателей банковских карт международных платежных систем VISA International,  MasterCard International, эмитированных ООО «АМТ Банк», ознакомлен(а) и обязуюсь их выполнять." class="ss-q-checkbox" id="group_118_1">
<label for="group_118_1">С Тарифами и Правилами обслуживания держателей банковских карт международных платежных систем VISA International,  MasterCard International, эмитированных ООО «АМТ Банк», ознакомлен(а) и обязуюсь их выполнять.</label></li>
</ul></div></div></div>
<br>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">
<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input id="btnSubmitForm" type="submit" name="submit" value="Отправить"></div></div></form>
</div>
</div>