		<div class="ramka2">
			<div class="cct"></div>
			<div class="mid general_cont">
                                <p align="justify">
                                <div style='margin:20px' align="justify">
<h2>ПРЕССА:</h2>
<p>«Любой посетитель может воспользоваться гостевым аккаунтом и, руководствуясь
всплывающими подсказками, тщательно изучить все доступные опции EasyFinance,
коих более чем достаточно: учёт и планирование доходов и расходов, ведение
счетов в различных видах валют, синхронизация курсов валют, наглядная
демонстрация отчётов в виде диаграмм и проч. Создатели проекта очень щепетильно
относятся с безопасности пользовательских данных, поэтому реализовали в своей 
системе поддержку протокола SSL и при создании аккаунта не требуют от посетителей указывать
какую-либо персональную информацию, кроме адреса электронной почты.»</p>
<p><a target="_blank" href="http://www.computerra.ru/terralab/softerra/472108/"> Читать статью полностью </a></p>
<p><i> — <a target="_blank" href="http://computerra.ru">Компьютерра — Онлайн</a></i></p>

<h2>ПОЛЬЗОВАТЕЛИ:</h2>
<p>Давно искала нечто подобное ))) Теперь скорее всего откажусь от таблиц в Excel. Здесь всё таки работать проще!</p>
<p><i> — Виолетта Савельева</i></p>

<p>Хотел бы выразить Вам признательность со создание удобного web2.0 проекта. Большое спасибо!</p>
<p><i><span> — Виталий Трушанин</span></i></p>
                                </div>
			</div>
			<div class="ccb"></div>
		</div>

<!--/середина-->
