		<div class="ramka2">
			<div class="cct"></div>
			<div class="mid general_cont">
                                <p align="justify">
                                <div style='margin:20px' align="justify">
            <h2>ПРЕССА:</h2>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://www.banki.ru/"><img src="/img/feedback/BankiRU.png" alt="БанкиРУ" title="Информационный портал" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Создатели онлайн-программы EasyFinance.ru, стартовавшей в этом году, пошли по другому пути - в отличие от программ конкурентов сервис отвечает не только на вопросы, куда и на что уходят деньги, но и объясняет, что делать дальше, какие финансовые или нефинансовые инструменты использовать для того, чтобы повысить свое благосостояние. Сервисы «Финансовая цель» и «Бюджет» помогут пользователю определить свои краткосрочные и долгосрочные финансовые планы. С помощью «Бюджета» можно создать план доходов и расходов, например на месяц, далее отслеживать и контролировать его исполнение, ориентируясь на информеры финансового состояния. «Финансовая цель» — способ обозначить любую материальную цель, например «Купить автомобиль», отслеживать динамику ее достижения, сравнивая свои достижения с лучшими достижениями других пользователей.»</p>
                    <div>
                        <a target="_blank" href="http://www.banki.ru/news/daytheme/?id=1611097"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://seopult.tv/"><img src="/img/feedback/Seopult.jpg" alt="Сеопульт" title="Информационный портал" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Очень интересный проект, для рынка который только начинает формироваться, рынка пользователей, которым важно знать о своем финансовом состоянии, уметь разбираться в финансах, просматривать ту модель финансовой жизни, которая присуща на Западе.»</p>
                    <div>
                        <a target="_blank" href="http://seopult.tv/video/easyfinance/"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://www.ibusiness.ru/"><img src="/img/feedback/ibuziness.png" alt="iБизнес" title="iБизнес" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Системы управления личными финансами оказались востребованы как никогда»</p>
                    <div>
                        <a target="_blank" href="http://www.ibusiness.ru/markets/473335/"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://computerra.ru"><img src="/img/feedback/computerra.gif" alt="Компьютерра — Онлайн" title="Компьютерра — Онлайн" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Любой посетитель может воспользоваться гостевым аккаунтом и, руководствуясь
                    всплывающими подсказками, тщательно изучить все доступные опции EasyFinance,
                    коих более чем достаточно: учёт и планирование доходов и расходов, ведение
                    счетов в различных видах валют, синхронизация курсов валют, наглядная
                    демонстрация отчётов в виде диаграмм и проч. Создатели проекта очень щепетильно
                    относятся с безопасности пользовательских данных, поэтому реализовали в своей
                    системе поддержку протокола SSL и при создании аккаунта не требуют от посетителей указывать
                    какую-либо персональную информацию, кроме адреса электронной почты.»</p>
                    <div><a target="_blank" href="http://www.computerra.ru/terralab/softerra/472108/"> Читать статью полностью </a></div>
                </div>
            </td>
        </tr>
    </table>
</div>
            <!-- -->
            
<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://amtv.ru/"><img src="/img/feedback/amtv.png" alt="Амтв.ру" title="Информационный портал" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Мы выяснили, каким образом мы будем теперь распоряжаться деньгами и даже будем их доверять интернету, по крайней мере, ресурсу EasyFinance, это уж точно.»</p>
                    <div>
                        <a target="_blank" href="http://www.youtube.com/user/EasyFinanceRu"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://www.f5.ru/"><img src="/img/feedback/f5.png" alt="F5" title="Журнал" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Бесплатная онлайн-система управления личными финансами позволяет вести учет расходов и доходов, советоваться с аналитиками, как эффективнее управлять финансами, а также получать советы по различным финансовым операциям: куда выгоднее всего вложить средства, какие действия необходимо произвести с текущими кредитами, вкладами, накоплениями в валюте, акциями.»</p>
                    <div>
                        <a target="_blank" href="http://www.f5.ru/magazine/37"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://www.unova.ru/"><img src="/img/feedback/Unova.gif" alt="Unova" title="Новости инноваций" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Стартап Easyfinance.ru предлагает пользователям услуги по ведению домашней бухгалтерии, планированию кредитов, сбережений и инвестиций. Для посетителей почти все на сайте бесплатно, монетизация идет за счет контрактов с финансовыми учреждениями.»</p>
                    <div>
                        <a target="_blank" href="http://www.unova.ru/article/1263"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://moneynews.ru/"><img src="/img/feedback/Moneynews.jpg" alt="Money News" title="Новости о деньгах" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«EasyFinance - это проект, который охватывает весь спектр  финансовых задач, и сочетает  в себе функционал персонального  банк-клиента, учетной системы  и личного финансового директора.»</p>
                    <div>
                        <a target="_blank" href="http://moneynews.ru/News/12759/"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://www.cnews.ru/"><img src="/img/feedback/CNews.gif" alt="CNews" title="Новости о высоких технологиях" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Отличительной особенностью ресурса Easyfinance.ru являются аналитические возможности системы. После заполнения необходимых данных система автоматически проанализирует их и подскажет пользователю, что нужно сделать для улучшения его финансового состояния, как в целом, так и по отдельным направлениям.»</p>
                    <div>
                        <a target="_blank" href="http://www.cnews.ru/news/line/index.shtml?2009/09/07/360835"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://www.itoday.ru/"><img src="/img/feedback/IToday.gif" alt="IToday" title="Онлайн-газета о сети и IT" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Удобство пользователей Easyfinance.ru обеспечивает и личная платежная система, которая позволяет оплачивать все счета в одном месте и автоматически передает данные в систему учета, освобождая пользователя от ручного ввода данных.»</p>
                    <div>
                        <a target="_blank" href="http://www.itoday.ru/news/24355.html"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="feedback">
    <table>
        <tr>
            <td class="banner">
                <div class="banner">
                    <a target="_blank" href="http://digest-news.ru/"><img src="/img/feedback/DigitalNews.gif" alt="Digital News" title="Информационное интернет-издание" /></a>
                </div>
            </td><td>
                <div class="text">
                    <p>«Простоту общения  с интеллектуальными личными  финансами обеспечивает пошаговое  сопровождение и многочисленные подсказки. Визуальное представление  аналитических данных информативно и интуитивно понятно. Результаты анализа  всех аспектов финансового состояния пользователя EasyFinance.ru наглядно представляются в виде информативных графиков, дэшбордов, диаграмм, где выделены критические разрывы и участки, на которые пользователю необходимо обратить особое внимание для улучшения дел. Именно такая подача данных способствует простому и эффективному управлению личными финансами.»</p>
                    <div>
                        <a target="_blank" href="http://digest-news.ru/30066-zapushhena-sistema-upravleniya-finansami.html"> Читать статью полностью </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<h2>ПОЛЬЗОВАТЕЛИ:</h2>
<p>Давно искала нечто подобное ))) Теперь скорее всего откажусь от таблиц в Excel. Здесь всё таки работать проще!</p>
<div class="userfeedback"><i> — Виолетта Савельева</i></div>

<p>Хотел бы выразить Вам признательность за создание удобного web2.0 проекта. Большое спасибо!</p>
<div class="userfeedback"><i> — Виталий Трушанин</i></div>
                                </div>
			</div>
			<div class="ccb"></div>
		</div>

<!--/середина-->
