{* $Id: index_old.html -1   $ *}
<!--подвал-->
<div id="footer">
	<a title="оставить отзыв" class="addmessage">оставить отзыв</a>
	<dfn>&copy; 2009&nbsp;&laquo;Home-Money&raquo;</dfn>
	<ul class="contacts">
		<li>Телефон:  (495)-971-00-52</li>
		<li>Клиентская служба:  <a href="mailto:support@home-money.ru">support@home-money.ru</a></li>
		<li>Техническая поддержка:  <a href="mailto:support@home-money.ru">support@home-money.ru</a></li>
		<li class="icq">ICQ:  562-487-015</li>
		<li class="skype">Skype:  <a>home-money.ru</a></li>
	</ul>
	<!--<form action="">
		<div class="search">
			<label for="fsearch">Поиск</label>
			<input type="text" value="" id="fsearch" class="inp" />
			<input type="image" src="/img/i/pix.gif" value="Найти" class="but" />
			<a href="#">карта сайта</a>
		</div>
	</form>-->
	<div class="creator"><a href="http://notamedia.ru">дизайн сайта - Нотамедиа</a><br />2009</div>
<!--popup оставить отзыв-->
	<div id="popupreport" style="display: block;">
		<div class="bg"></div>
                
		<form action="">
			<div class="inside">
                            <table>
                                <tr>
                                    <td>
                                        <h2>оставить отзыв</h2>
                                     </td>
                                     <td>
                                        <ul class="action">
                                            <li class="over2"><a title="закрыть"></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <div class="f_field">
                                <label for="ffmes">Ваш отзыв</label>
				<textarea cols="1" rows="1" id="ffmes"></textarea>
                            </div>
                            <img src="/img/i/pix.gif" class="but" />
                            <table>
                                <tr>
                                    <td>
                                        <h3>список лидеров <div></div></h3>
                                    </td>
                                    <td>
                                        <a class="rating_list" id="">все тестеры</a>
                                    </td>
                                </tr>
                            </table>
                            
                            <div id="rating"></div>

                            
			</div>
		</form>
	</div>
<div id='dialog_rating'></div>
<!--/popup оставить отзыв-->
</div>
<!--/подвал-->

</body>
</html>
