{* $Id: index_old.html -1   $ *}
<div id="footer">
	<dfn>&copy; 2009&nbsp;&laquo;Home-Money&raquo;</dfn>
	<ul class="contacts">
		<li>Телефон:  (495)-777-77-77</li>
		<li>Клиентская служба:  <a href="mailto:info@home-money.ru">info@home-money.ru</a></li>
		<li>Техническая поддержка:  <a href="mailto:support@home-money.ru">support@home-money.ru</a></li>
		<li class="icq">ICQ:  562-487-015</li>
		<li class="skype">Skype:  <a href="#">My status home-money.ru</a></li>
	</ul>
	<form action="">
		<div class="search">
			<label for="fsearch">Поиск</label>
			<input type="text" value="" id="fsearch" class="inp" />
			<input type="image" src="/img/i/pix.gif" value="Найти" class="but" />
			<a href="#">карта сайта</a>
		</div>
	</form>
	<div class="creator"><a href="http://notamedia.ru">дизайн и разработка сайта - Нотамедиа</a><br />2009</div>
</div>
</div>
</body>
</html>
