<!--реклама-->
<dl id="advertisement">
    <dt>реклама</dt>
    <dd>
        <div class="ramka1">
            <div class="ct"><div></div></div>
            <div class="inside" title="Здесь могла бы быть ваша реклама." style="text-align:center;">
            {if $user_info.user_id > 0}
                {if $smarty.const.IS_DEMO == true}
                    <!-- <a href="http://{$smarty.const.URL_ROOT_MAIN}registration/"><img src="/img/i/bannerBookRegister.gif" alt="Здесь могла бы быть ваша реклама." title=" Бесплатная книга &quot;Финансовая грамота&quot;" /></a> -->
                    <script language='JavaScript' src='https://fa.easyfinance.ru/adjs.php?what=format:web,_717x86,_client_id:418,'></script>
                {else}
                    {php}
                        srand(floor(time()));
                        if (rand(0,1) == 1) {
                            echo "<script language='JavaScript' src='https://fa.easyfinance.ru/adjs.php?what=format:web,_717x86,_client_id:420,'></script>";
                        } else {
                            echo "<script language='JavaScript' src='https://fa.easyfinance.ru/adjs.php?what=format:web,_717x86,_client_id:421,'></script>";
                        }
                    {/php}
                {/if}
            {else}
                {if $smarty.server.REQUEST_URI == "/"}
                {/if}
                <!-- <a href="http://{$smarty.const.URL_ROOT_MAIN}registration/"><img src="/img/i/bannerBookRegister.gif" alt="Здесь могла бы быть ваша реклама." title=" Бесплатная книга &quot;Финансовая грамота&quot;" /></a> -->
                <script language='JavaScript' src='https://fa.easyfinance.ru/adjs.php?what=format:web,_717x86,_client_id:418,'></script>
            {/if}
            </div>
            <div class="cb"><div></div></div>
        </div>
    </dd>
</dl>
<!--/реклама-->
