<!--реклама-->
<dl id="advertisement">
    <dt>реклама</dt>
    <dd>
        <div id="bannerWrapper">
            <div class="inside" style="text-align:center;">
            {if $user_info.user_id > 0 && $smarty.const.IS_DEMO == false}
                {php}
                    srand(floor(time()));
                    $r = rand(0,2);
                    if ($r == 1) {
                        // AMT1
                        echo "<script language='JavaScript' src='" . URL_ROOT_BANNERS . "adjs.php?what=format:web,_717x86,_client_id:420,'></script>";
                    } elseif ($r == 2) {
                        // AMT2
                        echo "<script language='JavaScript' src='" . URL_ROOT_BANNERS . "adjs.php?what=format:web,_717x86,_client_id:421,'></script>";
                    } else {
                        // Тиньков
                        echo "<script language='JavaScript' src='" . URL_ROOT_BANNERS . "adjs.php?what=format:web,_717x86,_client_id:427,'></script>";
                    }
                {/php}
            {else}
                {php}
                    srand(floor(time()));
                    $r = rand(0,1);
                    if ($r == 1) {
                        // Регистрация + AMT
                        echo "<script language='JavaScript' src='" . URL_ROOT_BANNERS . "adjs.php?what=format:web,_717x86,_client_id:418,'></script>";
                    } else {
                        echo "<script language='JavaScript' src='" . URL_ROOT_BANNERS . "adjs.php?what=format:web,_717x86,_client_id:427,'></script>";
                    }
                {/php}
            {/if}
            </div>
        </div>
    </dd>
</dl>
<!--/реклама-->
