<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ru">
    <title>Home money - домашняя бухгалтерия он-лайн</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
<!--
    <script type="text/javascript" language="javascript" src="/js/codethatcalendarstd.js"></script>
    <script type="text/javascript" language="javascript" src="/js/local_ex.js"></script>  
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/js/calendar.js"></script>
    <script type="text/javascript" src="/js/calendar-ru_win_.js"></script>
    <script type="text/javascript" src="/js/calendar-setup.js"></script>
    <link rel="stylesheet" href="/css/dtree.css" type="text/css" />
    <link rel="stylesheet" href="/css/calendar-win2k-1.css" type="text/css" />
-->
    <link rel="stylesheet" href="/css/dtree.css" type="text/css" />
</head>
<body leftmargin="0" topmargin="0" bgcolor="#FFFFFF">
{$notice}
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td valign="top" width="15%" bgcolor="#76b900">&nbsp;</td>
	<td width="85%" height="100" align="center" bgcolor="#ffffff">
		<a href="/"><img src="/img/logo2.gif" border="0"></a>		
	</td>
</tr>
<tr>
	{if !empty($user)}
	<td width="17%" height="100%" valign="top" bgcolor="#76b900">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0" >
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/profile/">Профиль: [<b>{$user.user_name}</b>]</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/">Главная</a><br>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:10px;">
				<a href="/operation/add/"><b>Добавить операцию</b></a>			
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/accounts/">Счета</a>			
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/category/">Категории</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/calendar/">Календарь</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/periodic/">Регулярные транзакции</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/budget/">Планирование бюджета</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/report_wizard/">Отчеты</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/export/">Экспорт</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/experts/">Помощь экспертов</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/import/">Импорт</a>
			</td>
		</tr>       
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/help/" target="_blank">Инструкция</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/forum/">Форум</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu">
				<a href="/logout/" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">Выход</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" height="100%">&nbsp;
				
			</td>
		</tr>        
		</table>
	</td>
	{else}
	<td width="15%" height="100%" valign="top" bgcolor="#76b900">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top" class="menu">
				<a href="/" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">Главная</a>			
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/registration/">Регистрация</a>			
			</td>
		</tr>        
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/help/" target="_blank">Инструкция</a>
			</td>
		</tr>
        <tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/forum/">Форум</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/{if !empty($link_login)}{$link_login}{else}login{/if}/">Вход</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="http://demo.home-money.ru/index.php?modules=demo_registration&action=new_user">Демо-вход</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" height="100%">&nbsp;
				
			</td>
		</tr>
		</table>
	</td>
	{/if}
	<td width="83%" height="100%" valign="top">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0" class="main">
		<tr>
			<td width="100%" height="100%" valign="top" class="content">
				{include file="$name_page.html"}
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td height="50" valign="top" bgcolor="#76b900">&nbsp;    	
            
	</td>
	<td height="50" valign="top" class="cat_add">
            &nbsp;<a href="/about/security/">Безопасность</a>
	</td>
</tr>
</table>
</body>
</html>