{* $Id: registration.html 1578 2009-12-03 09:25:28Z ukko $ *}
<div class="ramka2">
<div class="cct"></div>
<div id="auth" class="formRegister" >
    <div class="logo"><a href="http://easyfinance.ru"><img src="/img/i/logo_iframe.png"></a></div>

    <h2>Вход в систему</h2>

    <div class="loginError">{$loginErrorText}</div>

{if $smarty.const.IS_DEMO == false}
    <form action="/login/" method="post">
{else}
    <form action="http://{$smarty.const.URL_ROOT}login/" method="post">
{/if}
        <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="name">Логин:</td>
            <td><input id="flogin" type="text" name="login"/></td>
        </tr>
        <tr>
            <td class="name">Пароль:</td>
            <td><input type="password" id="pass" name="pass" /></td>
        </tr>
        <tr>
            <td class="name">Запомнить меня:</td>
            <td><input type="checkbox" class="forget" value="" name="autoLogin" id="autoLogin" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="btnLogin" type="submit" value="Войти" class="but"/></td>
        </tr>
        <tr>
            <td class="name"></td>
            <td>
                <a href="/registration/">Регистрация</a><br>
                <a href="/restore/">Восстановление пароля</a>
            </td>
        </tr>
        </table>
    </form>
</div>
<div  id="formConfirm" class="formConfirm" style="height:250px;padding: 10px;display:none;">
    <div class="block2" style="margin-left:200px">
        <div class="ramka3">
            <div class="ct"><div class="head"><h2>Регистрация в системе</h2></div></div>
            <div class="inside">
                <p align="justify">Уважаемый пользователь системы домашнего бюджетирования easyfinance.ru!</p>
                <p align="justify">Вы успешно зарегистрировались в системе. На указанный при регистрации
                    e-mail отправлено письмо со ссылкой,
                    перейдя по которой, вы активируете вашу учетную запись. Проверьте, пожалуйста, почту.</p>
                <p align="justify">Если вы не получите письмо с подтверждением в течение 30 минут, свяжитесь
                    со службой технической поддержки
                    easyfinance.ru по e-mail <b>support@easyfinance.ru</b></p>
                <p align="justify">C уважением,
                    Администрация системы easyfinance.ru</p>
            </div>
            <div class="cb"><div></div></div>
        </div>
    </div>
</div>
<div  id="activation" class="activation" style="height:200px;padding: 10px;display:none;">
    <div class="block2" style="margin-left:200px">
        <div class="ramka3">
            <div class="ct"><div class="head"><h2>Регистрация в системе</h2></div></div>
            <div class="inside">
                <p>Поздравляем, Ваша учётная запись успешно активирована.</p>
                <p>Теперь Вы можете авторизироваться в системе. </p>
                <p>Для входа, нужно щёлкнуть по иконке в правом верхнем углу экрана, или перейти по ссылке 
                    <a href="https://easyfinance.ru/login/">https://easyfinance.ru/login/</a>
                 и указать свой логин и пароль.</p>
            </div>
            <div class="cb"><div></div></div>
        </div>
    </div>
</div>
<div class="ccb"></div>
</div>
