<div class="menu3">
    <ul class="dropdown">
        <li id="m1">
            <a href="/info/"></a>
            <ul>
                <li><span> </span><a href="/info/">Инфо-панель</a></li>
                <li><span> </span><a href="/profile/">Профиль</a></li>
                <li><span> </span><a href="https://{$smarty.const.URL_ROOT_MAIN}integration/">EasyBank</a></li>
                <li class="last"></li>
            </ul>
        </li>
        <li id="m2">
            <a href="/accounts/"></a>
            <ul>
                <li><span> </span><a href="/accounts/">Счета</a></li>
                <li><span> </span><a href="/operation/">Операции</a></li>
                <li><span> </span><a href="/category/">Категории</a></li>
                <li class="last"></li>
            </ul>
        </li>
        <li id="m3">
            <a href="/budget/"></a>
            <ul>
                <li><span> </span><a href="/budget/">Бюджет</a></li>
                <li><span> </span><a href="/targets/">Фин. цели</a></li>
                <li class="last"></li>
            </ul>
        </li>
        <li id="m4">
            <a href="/report/"></a>
        </li>
        <li id="m5">
            <a href="/calendar/"></a>
            <ul>
                <li><span> </span><a id="linkMainMenuEventsCalendar" href="/calendar/#calend">Календарь</a></li>
                <li><span> </span><a id="linkMainMenuEventsJournal" href="/calendar/#list">События</a></li>
                <li class="last"></li>
            </ul>
        </li>
    </ul>
    <a id="tabIntegration" href="/integration/" ><img src="/img/i/tabIntegration.png" ></a>

<!--    <div class="buttons_block">
        
        <a title="Добавить в календарь" id="op_addtocalendar_but">&nbsp;</a>
    </div>-->
</div>