{* $Id$ *}
<link rel='stylesheet' type='text/css' href='/css2/jquery/jquery.calculator.css' />
<link rel='stylesheet' type='text/css' href='/css2/jquery/south-street/ui.datepicker.css' />
<script type='text/javascript' src='/js2/jquery/ui.core.js'></script>
<script type="text/javascript" src="/js2/jquery/ui.datepicker.js"></script>
<script type="text/javascript" src="/js2/jquery/jquery.calculator.min.js"></script>
<script type="text/javascript" src="/js2/jquery/jquery.calculator-ru.js"></script>
<script type="text/javascript" src="/js2/operation.js?r={$revision}"></script>
<h3>Операции по счету</h3>
<div id="form">
    <div class="field">
       <label for="account">Счёт:</label>
        <select id="account">
            {foreach from=$accounts item=acc_data}
            <option value="{$acc_data.account_id}">{$acc_data.account_name}</option>
            {/foreach}
        </select>
       <input type="button" id="btn_EditAccount" value="Редактировать счет" />
    </div>
    <div class="field">
       <label for="type">Тип операции:</label>
        <select name="type" id="type">
            <option value="0">Расход</option>
            <option value="1">Доход</option>
            <option value="2">Перевод со счета</option>
            {*<!-- <option value="3">Покупка валюты</option> -->*}
            <option value="4">Перевод на финансовую цель</option>
        </select>
    </div>
    <div class="field">
       <label for="amount">Сумма:</label>
       <input type="text" id="amount">
    </div>
    <div class="field">
       <label for="category">Категория:</label>
        {if !empty($list)}
        <select id="category">
            {if !empty($often)}
            <optgroup id="often" label="&nbsp;Часто используемые">
            {foreach from=$often item=data}
                <option value="{$data.cat_id}">{$data.cat_name}</option>
            {/foreach}
            </optgroup>
            {/if}
            <optgroup id="all" label="&nbsp;Все категории">
            {foreach from=$list item=data}
                {if $data.cat_parent == 0}
                <option value="{$data.cat_id}">{$data.cat_name}</option>
                {foreach from=$list item=child}
                    {if $child.cat_parent == $data.cat_id}
                    <option value="{$child.cat_id}">&nbsp;&nbsp;&nbsp;&nbsp;- {$child.cat_name}</option>
                    {/if}
                {/foreach}
                {/if}
                {/foreach}
            </optgroup>
        </select>
        {else}
        <select id="category">
            {$categories}
        </select>
        {/if}
    </div>
    {* <!-- Финансовая цель --> *}
    <div class="field" id="target_fields" style="display:none;">
       <label for="target">Финансовая цель:</label>
        <select id="target">
            {foreach from=$targetList item=target}
                <option bill="{$target.target_account_id}" value="{$target.id}"
                    target_account_id='{$target.target_account_id}' amount_done='{$target.amount_done}'
                    percent_done='{$target.percent_done}' forecast_done='{$target.forecast_done}' amount={$target.amount}
                    {if $target.id==$target_sel}selected{/if}>
                    {$target.title|stripslashes|truncate:50:".."}</option>
            {/foreach}
        </select>
        <div>
            <div>Стоимость цели: <span id='amount'/><span class='currency'/></div>
            <div>Сумма накопленная: <span id='amount_done' /><span class='currency' /></div>
            <div>Прогноз: <span id='forecast_done'></span> %</div>
            <div>Процент готовности: <span id='percent_done'></span> %</div>
        </div>
        <input type="checkbox" id="close" name="close" value="Закрытая финансовая цель" />
        <label for="close">Закрытая финансовая цель</label>
    </div>
    {*<!-- Трансфер -->*}
    <div class="field" id="transfer" style="display:none;">
        <label for="target">На счет:</label>
        <select id="AccountForTransfer" onChange="changeAccountForTransfer();">
            {foreach from=$accounts item=acc_data}
            <option id="{$acc_data.id}" value="{$acc_data.id}">{$acc_data.name}</option>
            {/foreach}
        </select>
        <span id="operationTransferCurrency" style="padding-left:5px;"></span>
    </div>
    {*<!-- Основные поля -->*}
    <div class="field">
        <label for="target">Дата:</label>
        <input type="text" value="{$date}" id="date">
    </div>
    <div class="field">
        <label for="target">Комментарий:</label>
        <textarea rows="4" cols="50" name="comment" id="comment"></textarea>
    </div>
    <div class="field">
        <input type="button" value="Сохранить" id="btn_Save">
        <input type="button" value="Отменить" id="btn_Cancel" >
    </div>
</div>
{*<!-- Фильтр -->*}
<div id="filtr">
    с: <input type="text" value="{$dateFrom}" name="dateFrom" id="dateFrom">&nbsp;
    по: <input type="text" value="{$dateTo}" name="dateTo" id="dateTo">&nbsp;&nbsp;
    категория:
    <select name="category" id="category">
        <option label="Все" value=""> --- Все ---</option>
        {$categories}
    </select>
    &nbsp;&nbsp;
    <input type="button" value="Обновить данные" id="btn_ReloadData"/>
</div>
<div id="list" />