<!--Ввод операции-->
{include file="common.html}
<div class="ramka3" style="margin:7px 0;border: none;">
    <ul class="buttons_block">
        <li id="op_addoperation_but"><a title="Добавить операцию">Добавить операцию</a></li>
        <li id="op_addtocalendar_but"><a title="Добавить в календарь">Добавить в календарь</a></li>
        {if $template_view == 'iframe'}
            <li id="op_addoperation_logo"><a href="http://easyfinance.ru"><img src="/img/i/logo_iframe.png" alt='Easyfinance.ru'></a></li>
        {/if}
    </ul>
</div>
