<!--Ввод операции-->
<div class="ramka3">
    <div class="ct">
	<div class="head">
            <h2>Ввод операции</h2>
            <ul class="action">
                <li class="over1"><a title="настройки">настройки</a></li>
		<li class="over2"><a title="закрыть">закрыть</a></li>
		<li class="over3"><a title="свернуть">свернуть</a></li>
            </ul>
	</div>
    </div>
    <div class="inside">
    <ul class="buttons_block">
        <li id="op_addoperation_but"><a title="Добавить операцию">Добавить операцию</a></li>
	<li id="op_addtocalendar_but"><a title="Добавить в календарь">Добавить в календарь</a></li>
    </ul>
    <form action="/operation/add/" style="display:none;" class="op_addoperation">
        <input type="hidden" id="op_id" />
	<div class="op_addoperation" style="display: block;">
            <div class="op_line">
                <div class="op_f_field" id="op_account_fields">
                    <div><label for="op_account">Счет</label>
                        <select id="op_account">
                            {foreach from=$accounts item=acc_data}
                            <option value="{$acc_data.account_id}" currency="{$acc_data.account_currency_id}" abbr="{$acc_data.account_currency_name}">{$acc_data.account_name} ({$acc_data.account_currency_name})</option>
                            {/foreach}
			</select>
                    </div>
                    <div>
                        <label for="op_type">Тип операции</label>
                        <select id="op_type">
                            <option value="0">Расход</option>
                            <option value="1">Доход</option>
                            <option value="2">Перевод со счета</option>
                            {*<!-- <option value="3">Покупка валюты</option> -->*}
                            <option value="4">Перевод на фин. цель</option>
                        </select>
                    </div>
		</div>
            </div>
            <div class="op_line">
                <div class="op_f_field op_category" id="op_category_fields">Категория
                    {if !empty($list)}
                    <select id="op_category">
                        {if !empty($often)}
                        <optgroup id="op_often" label="&nbsp;Часто используемые">
                            {foreach from=$often item=data}
                            <option value="{$data.cat_id}">{$data.cat_name}</option>
                                {/foreach}
                        </optgroup>
                        {/if}
                        <optgroup id="op_all" label="&nbsp;Все категории">
                            {$category}
                        </optgroup>
                    </select>
                    {else}
                    <select id="op_category">
                    {$category}
                    </select>
                    {/if}
                    </div>
            </div>
                                    {* <!-- Финансовая цель --> *}
                                    <div class="op_line" >
                                        <div class="op_field" id="op_target_fields" style="display:none;">
                                           <label for="op_target">Финансовая цель:</label>
                                            <select id="op_target">
                                                <option bill="0" value="0" target_account_id='0' amount_done='0' percent_done='0'
                                                        forecast_done='0' amount="0"> -- Все -- </option>

                                            </select>
                                            <div>
                                                <div>Стоимость цели: <span id='op_amount_target'></span><span class='op_currency'></span></div>
                                                <div>Сумма накопленная: <span id='op_amount_done'></span><span class='op_currency' ></span></div>
                                                <div>Прогноз: <span id='op_forecast_done'></span> %</div>
                                                <div>Процент готовности: <span id='op_percent_done'></span> %</div>
                                            </div>
                                            <input type="checkbox" id="op_close" name="op_close" value="Закрытая финансовая цель" />
                                            <label for="op_close">Закрытая финансовая цель</label>
                                        </div>
                                    </div>
                                    {*<!-- Трансфер -->*}
                                    <div class="op_line" >
                                        <div class="op_field" id="op_transfer_fields" style="display:none;">
                                            <label for="op_AccountForTransfer">На счет:</label>
                                            <select id="op_AccountForTransfer">
                                                {foreach from=$accounts item=acc_data}
                                                <option value="{$acc_data.account_id}" currency="{$acc_data.account_currency_id}" abbr="{$acc_data.account_currency_name}">{$acc_data.account_name} ({$acc_data.account_currency_name})</option>
                                                {/foreach}
                                            </select>
                                            <span id="op_operationTransferCurrency" style="display:none;">
                                                <span></span>
                                                <input type='text' id='op_currency'><span id="op_convertSumCurrency"></span>
                                            </span>
                                        </div>
                                    </div>
                                    {*<!-- Основные поля -->*}
									<div class="op_line" >
										<div class="op_f_field date" id="op_date_fields">
											<label for="op_date">Дата</label>
                                            <input type="text" value="{$date}" id="op_date" autocomplete="off" class="op_inp">
										</div>
										<div class="op_f_field op_amount" id="op_amount_fields">
											<label for="op_amount">Сумма</label>
                                            <input type="text" id="op_amount">
										</div>
										<!--<label for="fonline" class="online"><input type="checkbox" value="" id="fonline" />Заплатить online</label>-->
									</div>
									<div class="op_line">
										<div class="op_f_field op_tags">
											<label for="op_tags">Теги</label>
											<input type="text" value="" id="op_tags" class="op_inp" autocomplete="off" />
											<a id="op_tags" title="Редактировать"></a>
										</div>
										<div class="op_tags_could" id="op_tags">

										</div>
									</div>
									<div class="op_line">
										<label for="op_comment">Комментарии</label>
										<textarea rows="1" cols="1" id="op_comment"></textarea>
									</div>
									<div class="but">
										<input type="button" id="op_btn_Save" value="Сохранить" />
										<input type="button" id="op_btn_Cancel" value="Отменить" />
									</div>
								</div>
							</form>
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Ввод операции-->

                                <div id="op_addtocalend"></div>



    <div id="op_dialog_event" title="Событие" style="display: none;">
        <div class="event_form">
            <div class="line periodic event">
                <input id="cal_key" type="hidden" value ="0" />
                <input id="cal_chain" type="hidden" value ="0" />
                <input id="cal_href" type="hidden" value ="0" />
                    <ul id="cal_mainselect">
                        <li id="event" class="act"><span>Событие</span></li>
                        <li id="periodic"><span>Регулярные транзакции</span></li>
                    </ul>
            </div>
            <div class="line periodic event">
                    <label for="cal_title">Название</label>
                    <input type="text" name="title" id="cal_title" />
            </div>
            <div class="line periodic">
                    <label for="cal_category">Категория</label>
                    <select name="category" id="cal_category">{$category}</select>
            </div>
            <div class="line periodic">
                <label for="cal_type">Тип</label>
                <select name="type" id="cal_type">
                    <option value="-1">Расход</option>
                    <option value="1">Доход</option>
                </select>
            </div>
            <div class="line periodic">
                    <label for="cal_account">Счёт</label>
                    <select name="account" id="cal_account">
                        {foreach from=$accounts item=acc_data}
                        <option value="{$acc_data.account_id}" currency="{$acc_data.account_currency_id}" abbr="{$acc_data.account_currency_name}">{$acc_data.account_name} ({$acc_data.account_currency_name})</option>
                        {/foreach}
                    </select>
            </div>
            <div class="line periodic">
                    <label>Сумма</label>
                    <input type="text" name="amount" id="cal_amount" />
            </div>
            <div class="line periodic event">
                    <label for="cal_date">Дата</label>
                    <input type="text" name="date" id="cal_date" />
            </div>
            <div class="line event">
                    <label for="cal_time">Время</label>
                    <input type="text" name="time" id="cal_time" />
            </div>
            <div class="line periodic event">
                    <label for="cal_repeat">Повторить</label>
                    <select name="repeat" id="cal_repeat">
                            <option value="0">Без повторения</option>
                            <option value="1">Каждый день</option>
                            <option value="7">Каждую неделю</option>
                            <option value="30">Каждый месяц</option>
                            <!-- <option value="90">Ежеквартально</option> -->
                            <option value="365">Каждый год</option>
                    </select>
            </div>
            <div class="line periodic event"  style="display:none">
                    <div class='week' id='week'>
                        <h4 style="position:absolute">Дни недели</h4>
                        <div>
                            <label for="cal_mon">Пн</label>
                            <label for="cal_tue">Вт</label>
                            <label for="cal_wed">Ср</label>
                            <label for="cal_thu">Чт</label>
                            <label for="cal_fri">Пт</label>
                            <label for="cal_sat">Сб</label>
                            <label for="cal_sun">Вс</label>
                        </div>
                        <div>
                            <input name="mon" id="cal_mon" value="1" type="checkbox">
                            <input name="tue" id="cal_tue" value="1" type="checkbox">
                            <input name="wed" id="cal_wed" value="1" type="checkbox">
                            <input name="thu" id="cal_thu" value="1" type="checkbox">
                            <input name="fri" id="cal_fri" value="1" type="checkbox">
                            <input name="sat" id="cal_sat" value="1" type="checkbox">
                            <input name="sun" id="cal_sun" value="1" type="checkbox">
                        </div>
                    </div>
            </div>
            <div class="line periodic event" style="display:none">
                <div class="count repeat">
                            <span>Повторить</span>
                            <input name="rep_type" class="rep_type" value="1" type="radio" checked="checked">
                            <select name="count" id="cal_count" class="ui-widget-content"><option selected="selected">1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option></select>
                            <span>раз</span>
                    </div>
                    <div class="infinity repeat">
                            <input name="rep_type" class="rep_type" value="2" type="radio">
                            <label>Бесконечно</label>
                    </div>
                    <div class="todate repeat">
                        <label for="cal_date_end">До даты</label>
                            <input name="rep_type" class="rep_type" value="3" type="radio">
                            <input name="date_end" id="cal_date_end" value="" type="text">
                    </div>
            </div>

            <div class="line event periodic">
                <label for="cal_comment">Комментарий</label>
                <textarea id="cal_comment" name="comment" class="text ui-widget-content"></textarea>
            </div>
        </div>
    </div>
                                
    <!--popup события-->
	<div id="popupcalendar" style="top: auto; left: auto; display: none;">
		<div class="cont">
			<div class="ct"></div>
			<form action="">
				<div class="inside">
					<div class="close" title="Закрыть">Закрыть</div>
					<h3>Список транзакции</h3>
					<table class="tab1" id="events_periodic">
                        <thead>
                            <tr>
                                <th class="chk"><input type="checkbox" /></th>
                                <th>Дата</th>
                                <th>Комментарий</th>
                                <th>Пр. дней</th>
                                <th>Категория</th>
                                <th>Счет</th>
                                <th class="money">Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
					</table>
                    <div id="pages_periodic"></div>
					<h3>Список событий</h3>
					<table class="tab1" id="events_calendar">
                        <thead>
                            <tr>
                                <th class="chk"><input type="checkbox" /></th>
                                <th>Дата</th>
                                <th>Комментарий</th>
                                <th>Пр. дней</th>
                                <th>Вид события</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
					</table>
                    <div id="pages_calendar"></div>
					<div class="but_cal">
                        <input type="button" value="Подтвердить" id="btnAccept" />
                        <!--<input type="button" value="Пропустить" id="btnContinue" />-->
                        <!--<input type="button" value="Редактировать" id="btnEdit" />-->
                        <input type="button" value="Удалить" id="btnDel" />
					</div>

				</div>
			</form>
		</div>
		<div class="cb"><div></div></div>
	</div>
<!--/popup события-->

<!--гид-->
        <div id="conf" title="" style="width:200px;height:50px;display:none;">
            <label>Гид отключён. Включить его Вы всегда можете в настройках профиля</label><br><br>
        </div>
<div id="dial" class="dial" title="Добро пожаловать в систему управления Вашими финансами" style="width:400px;height:300px;display:none;" >
<div id="guide" class="guide" style="display: none;">
        <ul>
		<li><a href="#bill">Шаг 1</a></li>
		<li><a href="#categ">Шаг 2</a></li>
		<li><a href="#uchet">Шаг 3</a></li>
                <li><a href="#plan">Шаг 4</a></li>
                <li><a href="#repor">Шаг 5</a></li>
	</ul>
<div id="tabs">

<div id="bill" class="bill" >
    <h3>Создайте счета!</h3>
    <div align="justify">Это не обязательно банковский счет - а то место, где вы обычно храните деньги: кошелек, кредитка, банковский депозит или сейф – все это счета. Начните с основных мест хранения, которыми пользуетесь чаще всего, определите тип для каждого счета. Укажите сумму начального баланса – сколько денег находится на счете сейчас. Не забудьте выбрать валюту счета. В примечании можно указать любую дополнительную информацию.<br><br>

    Пример: <i>Если Вы пользуетесь кошельком и у Вас есть карта банка, можете завести счета с названиями «Кошелек» (тип счета «Наличные») и «Карточка» (тип счета «Кредитная карта»)</i><br><br>

    Меню: В личном кабинете наведите указатель мыши на вкладку «Счета», в появившемся подменю щелкните «Счета», на открывшейся странице щелкните «Добавление счета». После заполнения всех параметров счета, нажмите «Сохранить».<br>
    </div>
    </div>
<div id="categ" class="categ" >
    <h3>Отредактируйте или создайте категории</h3>
    <div align="justify">Зарплата, премия, еда, одежда, расходы на автомобиль – это все категории, по которым можно объединять Ваши доходы или расходы, осуществлять планирование. Система уже содержит в себе стандартный набор категорий, Вы можете удалить или отредактировать существующие категории, а также добавить свои собственные. При создании категории, обязательно выберите для нее название и тип. Добавьте из списка наиболее подходящую системную категории (Это позволит системе в дальнейшем предлагать Вам советы и рекомендации).<br><br>

    Также вы может подчинить одну категорию другой, создав таким образом Подкатегорию.<br><br>


    Пример: <i>Если Вы хотите вести учет расходов на питание в разрезе нескольких видов продуктов, то можете добавить к уже существующей категории «Питание» подкатегории «Продукты», «Напитки», «Кондитерские изделия» и т.д.</i><br><br>


    Меню: В личном кабинете наведите указатель мыши на вкладку «Счета», в появившемся подменю щелкните «Категории», на открывшейся странице щелкните «Добавить новую категорию». Или наведите указатель мыши на существующую категории и щелкните во всплывающем меню, на значок «Редактировать» или «Удалить». После заполнения \ редактирования всех параметров категории, нажмите «Сохранить».<br>
    </div>
</div>
<div id="uchet" class="uchet" >
    <h3>Ведите учет!</h3>
    <div align="justify">Учитывайте движение Ваших денег, используя кнопку «Добавить операцию». Выберите счет, по которому были произведены расходы, получены доходы или совершен перевод. Выберите категорию, к которой относится данная операция. Введите сумму операции и выберите дату, в которую она была совершена. А для более детального учета используйте Комментарий и Теги (отметки для упрощения поиска похожих операций и составления отчетов по ним)<br><br>


    Пример: <i>Если Вы хотите учесть в системе покупку бензина для автомобиля при оплате банковской карточкой – укажите сумму и дату, выберите счет «Карточка», тип операции «Расход», категория «Автомобиль», подкатегория «Бензин», в комментарии можете указать, сколько литров бензина было приобретено или какой конкретно автомобиль заправляли. Используя Теги Вы сможете например, разделить расходы на личные и служебные, просто напишите в поле теги «Личные расходы», если заправляли свой автомобиль или «Служебные расходы», если заправляли служебный автомобиль.</i><br><br>


    Меню: Ввод операции доступен с любой страницы личного кабинета сайта.<br>
    </div>
</div>
<div id="plan" class="plan" >
    <h3>Планируйте!</h3>
    <div align="justify">Воспользуйтесь календарем, чтобы отметить и не забыть важное или повторяющееся событие с помощью внесения данного события в календарь. Снимите с плеч заботу об учете регулярно повторяющихся платежей, воспользовавшись регулярными транзакциями, в которых Вы можете внести все детали операции и добавить к ним дату или периодичность, в которую платеж совершается.<br><br>


    Пример: <i>Если Вы платите ежемесячно за интернет, телевидение или телефон, создайте регулярную транзакцию с параметрами этого платежа и выберите для нее периодичность повторения «Каждый месяц»</i><br><br>


    Меню: В личном кабинете наведите указатель мыши на вкладку «Календарь», в появившемся подменю щелкните «Регулярные транзакции», на открывшейся странице щелкните «Добавить регулярную транзакцию». После заполнения всех данных регулярной транзакции, нажмите «Сохранить».<br>
    </div>
</div>
<div id="repor" class="repor" >
    <h3>Оцените результаты!</h3>
    <div align="justify">Получите наглядное представление о состоянии своих финансов с помощью отчетов. Структурная диаграмма покажет, на что больше всего уходит денег, а на графике сможете определить наиболее прибыльный период. Различные варианты сравнивающих отчетов, помогут увидеть отрицательную или положительную динамику Вашего финансового состояния.<br><br>


    Пример: <i>Если Вы хотите определить структуру своих расходов за прошедший месяц, сформируйте отчет «Расходы» выбрав дату начала и дату окончания данного периода.</i><br><br>


    Меню: В личном кабинете щелкните на вкладку «Отчёты», на открывшейся странице в выпадающем меню выберите тип отчета и его параметры. После заполнения всех данных, нажмите «Показать».<br>
    </div>
</div>
</div>
</div>
</div>
<!--гид-->
