{* $Id: registration.html 578 2009-09-26 10:43:22Z rewle $ *}
<div class="ramka2">
    <div class="cct">
        <i class="tl"></i>
        <i class="tr"></i>
    </div>
    <div class="ccm">
        <div class="ccm-container">
            <div class="formActivate" style=" padding: 10px">
                <p>Ваша учётная запись активирована.</p>
                <p>Для входа в систему щёлкните на иконку входа в правом верхнем углу экрана или перейдите по ссылке <a href="https://easyfinance.ru/login">https://easyfinance.ru/login</a></p>
            </div>
        </div>
    </div>
    <div class="ccb">
        <i class="bl"></i>
        <i class="br"></i>
    </div>
</div>