<div class="ramka2">
<div class="cct"></div>
<div class="formRegister">
    <h2>Регистрация</h2>
    <form action="" id="formRegister">
        <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="name">Имя:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td class="name">Логин:</td>
            <td><input type="text" name="login"/></td>
        </tr>
        <tr>
            <td class="name">Пароль:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td class="name">Повтор пароля:</td>
            <td><input type="password" name="confirm_password" /></td>
        </tr>
        <tr>
            <td class="name">e-mail:</td>
            <td><input type="text" name="mail" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="butt" type="submit" value=""/></td>
        </tr>
        </table>
    </form>
</div>
<div class="ccb"></div>
</div>
<!--
{* $Id$ *}
<table width="100%" class="menu">
	{if !empty($good_activation)}
	<tr>
		<td width="5%" height="100%" class="menu">&nbsp;</td>
		<td width="95%" height="100%"><br />
		<font size="+1" color="#76b900"> {$good_activation} </font></td>
	</tr>
	{else} {if empty($good_text)}
	<form action="/registration/new_user/" method="post">
	<tr>
		<td width="20%" class="reg">Имя:</td>
		<td width="80%" class="reg"><input type="text" name="register[name]" style="width: 200px;"
			value={if !empty($register.name)}{$register.name}{/if}></td>
	</tr>
	<tr>
		<td height="100%" class="reg">{if !empty($error_text.login)}<font color="#FF0000">Логин:</font>{else}Логин:{/if}</td>
		<td height="100%" class="reg"><input type="text" name="register[login]"
			style="width: 200px;" value={if !empty($register.login)}{$register.login}{/if}></td>
	</tr>
	<tr>
		<td height="100%" class="reg">{if !empty($error_text.pass)}<font color="#FF0000">Пароль:</font>{else}Пароль:{/if}</td>
		<td height="100%" class="reg"><input type="password" name="register[pass]"
			style="width: 200px;" value=''></td>
	</tr>
	<tr>
		<td height="100%" class="reg">{if !empty($error_text.pass)}<font color="#FF0000">Повтор
		пароля:</font>{else}Повтор пароля:{/if}</td>
		<td height="100%" class="reg"><input type="password" name="register[pass_r]"
			style="width: 200px;" value=''></td>
	</tr>
	<tr>
		<td height="100%" class="reg">{if !empty($error_text.mail)}<font color="#FF0000">e-mail:</font>{else}e-mail:{/if}</td>
		<td height="100%" class="reg"><input type="text" name="register[mail]" style="width: 200px;"
			value={if !empty($register.mail)}{$register.mail}{/if}></td>
	</tr>
	<tr>
		<td height="100%" class="reg">&nbsp;</td>
		<td height="100%" class="reg"><br />
		<input type="submit" class="inputsubmit" style="width: 200px;" value="Зарегистрироваться" /></td>
	</tr>
	{/if} {/if}
	</form>
	{if !empty($error_text)}
	<tr>
		<td align="left" class="cat_add">&nbsp;</td>
		<td align="left" class="cat_add"><br />
		<font size="+1" color="#FF0000">Внимание, ошибка!</font>
		<ul>
			{foreach from=$error_text item=err_text}
			<li>{$err_text}</li>
			{/foreach}
		</ul>
		</td>
	</tr>
	{/if} {if !empty($good_text)}
	<tr>
		<td align="left" class="cat_add" colspan="2" width="100%">
		<div
			style="border: 1px dotted rgb(255, 96, 2); background-color: rgb(248, 248, 216); padding: 15px;">
		<p align="justify">Уважаемый пользователь системы домашнего бюджетирования Home-money.ru!</p>
		<p align="justify">Вы успешно зарегистрировались в системе. На указанный при регистрации
		e-mail отправлено письмо со ссылкой,<br>
		перейдя по которой, вы активируете вашу учетную запись. Проверьте, пожалуйста, почту.</p>
		<p align="justify">Если вы не получите письмо с подтверждением в течение 30 минут, свяжитесь
		со службой технической поддержки<br>
		Home-Money.ru по e-mail <b>support@home-money.ru</b></p>
		<p align="justify">C уважением,<br>
		Администрация системы Home-money.ru</p>
		</div>
		</td>
	</tr>
	{/if}
</table>-->
