{* $Id$ *}
<div class="ramka2">
<div class="cct"></div>
<div class="formRegister" >
    <h2>Регистрация</h2>
    <form id="formRegister" >
        <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="name">Имя:</td>
            <td><input id="name" type="text" name="name"/></td>
        </tr>
        <tr>
            <td class="name">Логин:</td>
            <td><input id="log" type="text" name="login"/></td>
        </tr>
        <tr>
            <td class="name">Пароль:</td>
            <td><input type="password" id="passw" name="passw" /></td>
        </tr>
        <tr>
            <td class="name">Повтор пароля:</td>
            <td><input id="confirm_password" type="password" name="confirm_password" /></td>
        </tr>
        <tr>
            <td class="name">e-mail:</td>
            <td><input id="mail" type="text" name="mail" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="butt" class="butt" type="button" value=""/></td>
        </tr>
        </table>
    </form>
</div>
<div  id="formConfirm" class="formConfirm" style="height:250px;padding: 10px;display:none;">
    <div class="block2" style="margin-left:200px">
        <div class="ramka3">
            <div class="ct"><div class="head"><h2>Регистрация в системе</h2></div></div>
            <div class="inside">
                <p align="justify">Уважаемый пользователь системы домашнего бюджетирования easyfinance.ru!</p>
                <p align="justify">Вы успешно зарегистрировались в системе. На указанный при регистрации
                    e-mail отправлено письмо со ссылкой,
                    перейдя по которой, вы активируете вашу учетную запись. Проверьте, пожалуйста, почту.</p>
                <p align="justify">Если вы не получите письмо с подтверждением в течение 30 минут, свяжитесь
                    со службой технической поддержки
                    easyfinance.ru по e-mail <b>support@easyfinance.ru</b></p>
                <p align="justify">C уважением,
                    Администрация системы easyfinance.ru</p>
            </div>
            <div class="cb"><div></div></div>
        </div>
    </div>
</div>
<div id="formActivate"  class="formActivate" style="display: none; padding: 10px">
    <p >Ваша учётная запись активирована.</p>
    <p >Для входа в систему щёлкните на иконку входа в правом верхнем углу экрана или перейдите по ссылке <a href="https://easyfinance.ru/login">https://easyfinance.ru/login</a></p>
</div>
<div class="ccb"></div>
</div>
