		<!--<div class="ramka2">
			<div class="cct"></div>
			<div class="mid general_cont">             
			</div>
			<div class="ccb"></div>
		</div>-->
<div id="mainwrap">
		<div class="ramka2">
			<div class="cct"></div>
			<div class="mid general_cont">
				<div class="map">
                                    <!---->
<div class="registration">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -180px; left: -130px;" class="w_dialog mapContent"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/registration.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="CreateSales">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -180px; left: -130px;" class="w_dialog mapContent2"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/createsales.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="categoryEdit">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -180px; left: 50px;" class="w_dialog mapContent3"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/categoryedit.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="closeOperation">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -10px; left: -10px;" class="w_dialog mapContent4"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/closeoperation.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="infoPanel">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -10px; left: -10px;" class="w_dialog mapContent5"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/infopanel.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="createTransaction">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -10px; left: -10px;" class="w_dialog mapContent6"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/createtransaction.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>
<div class="expertView">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -10px; left: -270px;" class="w_dialog mapContent7"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/expertview.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="analise">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -10px; left: -70px;" class="w_dialog mapContent8"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/analise.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="financeTarget">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 300px; top: -10px; left: -10px;" class="w_dialog mapContent9"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/financetarget.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>

<div class="capitalCreate">
<div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 270px; top: -10px; left: -10px;" class="w_dialog mapContent10"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
<img src="/img/i/review/capitalcreate.png" /><p></p></div><div class="w_d_foot"></div></div></div>
</div>
				</div>
			</div>
			<div class="ccb"></div>
                </div></div>

<!--/середина-->
