        <!--<div class="ramka2">
            <div class="cct"></div>
            <div class="mid general_cont">             
            </div>
            <div class="ccb"></div>
        </div>-->
<div id="mainwrap">
        <div class="ramka2">
            <div class="cct">
                <i class="tl"></i>
                <i class="tr"></i>
            </div>
            <div class="ccm">
                <div class="ccm-container">
                    <div class="mid general_cont">
                        <div class="map">
                                            <!---->
        <div class="registration" title="Нажмите для увеличения">
            <a id="aRegistration" class="fancy" href="/img/i/review/registrationbig.png" title="Регистрация"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -180px; left: -130px;" class="w_dialog mapContent"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/registrationbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="CreateSales" title="Нажмите для увеличения">
            <a id="aCreateSales" class="fancy" href="/img/i/review/createsalesbig.png" title="Счета"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -180px; left: -130px;" class="w_dialog mapContent2"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/createsalesbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="categoryEdit" title="Нажмите для увеличения">
            <a id="aCategoryEdit" class="fancy" href="/img/i/review/categoryeditbig.png" title="Категории"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -180px; left: 15px;" class="w_dialog mapContent3"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/categoryeditbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="closeOperation" title="Нажмите для увеличения">
            <a id="aCloseOperation" class="fancy" href="/img/i/review/closeoperationbig.png" title="Операции"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -10px; left: -10px;" class="w_dialog mapContent4"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/closeoperationbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="infoPanel" title="Нажмите для увеличения">
            <a id="aInfoPanel" class="fancy" href="/img/i/review/infopanelbig.png" title="Инфопанель"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -10px; left: -10px;" class="w_dialog mapContent5"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/infopanelbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="createTransaction" title="Нажмите для увеличения">
            <a id="aCreateTransaction" class="fancy" href="/img/i/review/createtransactionbig.png" title="Регулярные операции"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -10px; left: -10px;" class="w_dialog mapContent6"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/createtransactionbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="expertView" title="Нажмите для увеличения">
            <a id="aExpertView" class="fancy" href="/img/i/review/reportcirclebig.png" title="Отчёты"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -10px; left: -270px;" class="w_dialog mapContent7"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/expertviewbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="analise" title="Нажмите для увеличения">
            <a id="aAnalise" class="fancy" href="/img/i/review/analisebig.png" title="Анализ"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -10px; left: -70px;" class="w_dialog mapContent8"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/analisebig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="financeTarget" title="Нажмите для увеличения">
            <a id="aFinanceTarget" class="fancy" href="/img/i/review/financetargetbig.png" title="Цели"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -10px; left: -10px;" class="w_dialog mapContent9"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/financetargetbig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>

        <div class="capitalCreate" title="Нажмите для увеличения">
            <a id="aCapitalCreate" class="fancy" href="/img/i/review/capitalcreatebig.png" title="Бюджет"></a>
        <!--
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; top: -10px; left: -30px;" class="w_dialog mapContent10"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/i/review/capitalcreatebig.png" /><p></p></div><div class="w_d_foot"></div></div></div>
        -->
        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ccb">
                <i class="bl"></i>
                <i class="br"></i>
            </div>
         </div></div>

<!--/середина-->
