<!--правая колонка-->
<div class="block3 ramka3">
    <div class="ct head">
        <h2>Настройки</h2>
	<ul class="action">
            <li class="over1"><a href="#" title="настройки">настройки</a></li>
            <li class="over2"><a href="#" title="закрыть">закрыть</a></li>
            <!--<li class="over3"><a href="#" title="свернуть">свернуть</a></li>-->
	</ul>
    </div>
    <dl class="info">
    <dt>Курсы валют</dt>
        <dd>
	</dd>
    </dl>
<!--календарь-->
    <div class="calendar_block">
        <h2>Календарь</h2>
        <div class="calendar">
	</div>
    </div>
<!--/календарь-->
<!--календарь-->
    <div class="calendar_block">
        <h2>Флэш</h2>
        <div class="flash" id ="flash" name="flash">
	</div>
    </div>
<!--/календарь-->
<!--калькулятор-->
    <div class="calculator_block">
        <h2>Калькулятор</h2>
	<div class="calculator">
	</div>
    </div>
<!--/калькулятор-->
</div>
<!--/правая колонка-->