{if $template_view != 'iframe'}
<!--правая колонка-->
<div class="block3 ramka3">
    <div class="ct head">
        <h2>Информер</h2>
	<ul class="action">
            <li class="over1" style="display: none;"><a title="настройки">настройки</a></li>
            <li class="over2" style="display: none;"><a title="закрыть">закрыть</a></li>
            <!--<li class="over3"><a href="#" title="свернуть">свернуть</a></li>-->
	</ul>
    </div>
<!--Финсостояние-->
    <div class="calendar_block">
        <h2>Фин. состояние</h2>
        <div class="flash informerGauge efTooltip" id="divInformer0">
            <div id="divGaugeMain"></div>
        </div>
    </div>
<!--/Финсостояние-->
<!--Курсы валют-->
    <dl class="b-rates">
        <dt>Курсы валют</dt>
        <dd></dd>
    </dl>
<!--/Курсы валют-->
<!--калькулятор-->
{include_php file="../sf/apps/frontend/templates/_common/calcul.php"}
<!--/калькулятор-->
<!--календарь-->
    <div class="calendar_block">
        <h2>Календарь</h2>
        <div class="calendar"></div>
    </div>
<!--/календарь-->
</div>
<!--/правая колонка-->
{/if}
