		<div class="ramka2">
			<div class="cct"></div>
			<div class="mid general_cont">
                        <p align="justify">
                            <div style='margin:20px;text-indent:10px'>
				&nbsp;
                                <p align="center"><big><b>ИНФО-ПАНЕЛЬ</b></big><br></p>

Данная вкладка содержит 4 основных виджета:<br>

- <b>Ввод операции</b> позволяет:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;А) <b>добавить операцию</b> - ввести разовую совершенную трату, полученный доход или осуществленный между счетами перевод<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Б) <b>добавить в календарь</b> – отметить операцию, планируемую в будущем или осуществляемую на регулярной основе.<br>
- <b>Финансовое состояние</b> отображает 5 тахометров:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <b>Фин. состояние</b> – показывает насколько устойчиво Ваше финансовое положение, т.е. насколько Вы подвержены банкротству или насколько быстро растет Ваш капитал<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. <b>Деньги</b> – показывает степень обеспеченности сбережениями, т.е. насколько существующие накопления могут обеспечивать текущий уровень расходов<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. <b>Бюджет</b> – отражает сбалансированность денежных поступлений и совершенных расходов, т.е. насколько затраты соответствуют получаемым доходам<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. <b>Расходы</b> – показывает степень запланированности расходов, т.е. насколько реально совершенные затраты были заранее запланированы<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. <b>Кредиты</b> – отражает величину кредитной нагрузки, т.е. насколько платежи по кредитам уменьшают располагаемые денежные средства<br>
- <b>Финансовые цели</b> позволяют:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;А) <b>добавить финансовую цель</b> – запланировать крупную покупку или трату (например, машину, дачу или отпуск за рубежом), т.е. определить название, стоимость и целевую (желательную) дату покупки<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Б) <b>изменить</b> или <b>удалить</b> существующие цели – внести поправки путем клика на иконках с изображением блокнота (изменить) и крестика (удалить) над соответствующей целью<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В) отражать степень выполнения поставленных целей – <b>целевая дата</b> показывает, когда данная цель, на Ваш взгляд, должна быть выполнена, а <b>прогнозная дата</b> – когда она будет выполнена с учетом существующей скорости накопления, <b>процентный бар</b> показывает долю накопленных средств от стоимости данной цели<br>
- <b>Доходность и инвестиции</b> отражают прирост стоимости финансовых вложений по категориям:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;А) <b>за год</b> – насколько % выросла (зеленая стрелка вверх) или снизилась (красная стрелка вниз) текущая стоимость инвестиции к стоимости на начало года (цена закрытия первого рабочего дня торговых площадок)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Б) <b>за день</b> – насколько % изменилась текущая стоимость инвестиции по отношению к стоимости на начало дня (цена открытия торговых площадок)<br>
<p align="center"><big><b>СЧЕТА</b></big><br></p>
Данная вкладка содержит ряд внутренних вкладок:<br>
- <b>Счета</b> позволяют:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;А) осуществить <b>добавление счета</b> – сохранить новый счет, т.е. выделить обособленное хранилище денег, например, дебетовая карта, долг другу или копилка<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Б) <b>изменить</b>, <b>удалить</b> или <b>копировать</b> счет – Вы можете это сделать при помощи соотвествующих иконок<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В) отразить в <b>Журнале счетов</b> информацию по существующим счетам, сгруппированным по типам:<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) <b>Деньги</b> (наличные, электронные деньги, дебетовые карты, депозиты)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) <b>Долги мне</b> (Займы выданные)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) <b>Мои долги</b> (Займы полученные, кредиты, кредитные карты)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) <b>Инвестиции</b> (Акции, ОФБУ, ПИФ, металлические счета )<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5) <b>Имущество</b><br>
- <b>Журнал операций</b> предлагает такие виджеты, как:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;А) Ввод операции<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <b>добавить операцию</b> - ввести разовую совершенную трату, полученный доход или осуществленный между счетами перевод, при этом вводятся следующие параметры:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;а) <b>Счет</b> – название счета, например, дебетовая карта Н-банка<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;б) <b>Тип операции</b> – доход, расход или перевод<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;в) <b>Сумма</b> – величина вводимой операции (валюта операции соответствует валюте счета)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г) <b>Категория</b> – статья бюджета, в рамках которой осуществляется данная операция, например, категория зарплата<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;д) <b>Дата</b> – дата осуществления операции, в формате дд.мм.гггг<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;е) <b>Теги</b> – пометки для быстрого поиска, например, аванс<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ж) <b>Комментарии</b> – описание совершенной операции, например, аванс за сентябрь<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;з) <b>Заплатить online</b> – подключение дополнительной возможности электронной оплаты<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <b>добавить в календарь</b> содержит:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;а) <b>Регулярная транзакция</b> - внесение операции, планируемую в будущем или осуществляемую на регулярной основе с указанием регулярности повторов данной операции (при достижении соответствующей даты будет предлагаться окно ввода операции с заполненными полями)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;б) <b>Событие</b> – отмечание дат в календаре с комментарием и возможностью задания регулярности события<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Б) <b>Журнал счетов</b> позволяет просматривать операции с фильтрацией (отбором) как за определенный период, так и по категориям<br>
- <b>Категории</b> позволяют:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;А) <b>Добавить новую категорию</b> – внести в бюджет новую категорию (группировку операций), определив при этом:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <b>Название категории</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. <b>Подкатегория для</b> – название существующей пользовательской категории, в которую будет новая (если есть)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. <b>Тип категории</b> – тип операций, которые будут учитываться по новой категории, например, расход для категории еда, т.к. по ней будут учитываться расходы на еду<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. <b>Системная категория</b> – корневая категория, в которую будет входить новая, например, <i>Коммунальные услуги</i> для категории <i>Свет</i><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Б) <b>изменить</b>, <b>удалить</b> или <b>копировать</b> категорию – Вы можете это сделать при помощи соотвествующих иконок<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В) отразить информацию о категориях, в том числе на уровне подкатегорий, с указанием типа категории, величины оборотов и их доли от запланированной в бюджете<br>

<p align="center"><big><b>БЮДЖЕТ</b></big><br></p>
Данная вкладка позволяет определить плановые значения категорий и подкатегорий, а также сравнить их со статистикой за предыдущие периоды, в том числе путем отображения их в виде графика<br>
<p align="center"><big><b>ОТЧЕТЫ</b></big><br></p>
Данная вкладка отображает различные виды отчетов (обобщенные фактические данные по категориям) в виде графиков<br>
<p align="center"><big><b>КАЛЕНДАРЬ</b></big><br></p>
Данная вкладка содержит две внутренние вкладки:<br>
- <b>Календарь</b> отображается в 2 форматах:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;А) <b>Календарь</b> – в виде таблицы Пн-Вс с указанием наличия событий или регулярных транзакций<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Б) <b>Список событий</b> – в виде 2 последовательных списков с указанием значения параметров:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <b>Регулярные транзакции</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. <b>События</b><br>
- <b>Регулярные транзакции</b> позволяют<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <b>Добавить регулярную транзакцию</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. отобразить список регулярных транзакций<br>
<p align="center"><big><b>СЕРВИСЫ</b></big><br></p>
Данная вкладка содержит виджеты дополнительных услуг:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Консультация эксперта<br>


                            </div>
			<p align="justify" />
                        </div>
			<div class="ccb"></div>
		</div>

<!--/середина-->
