<div class="ramka2">
        <div class="cct"></div>
            <div style="padding:15px">
                <P><FONT SIZE=4 STYLE="font-size: 16pt"><B>Пользовательское
                соглашение </B></FONT>
                </P>
                <P>Пользователь – любой зарегистрировавшийся
                на сайте .ru человек, имеющий доступ к
                сети Интернет.
                </P>
                <P>Сайт – веб-сайт с адресом easyfinance.ru
                </P>
                <P>Пользовательское соглашение (Соглашение)
                – документ, регулирующий отношения
                между Пользователем и Сайтом по
                пользованию услугами Сайта.
                </P>
                <P><FONT SIZE=4><B>1. Общие положения </B></FONT>
                </P>
                <P>Пользовательское соглашение вступает
                в силу с момента регистрации Пользователя
                на сайте EasyFinance.ru.</P>
                <P>Соглашение является договором между
                пользователем и сайтом EasyFinance.ru и
                регламентирует использование пользователем
                сервисов EasyFinance.ru. Все возможные споры
                по поводу Соглашения будут разрешаться
                по нормам российского права.
                </P>
                <P>Бездействие со стороны EasyFinance.ru в
                случае нарушения вами либо иными
                пользователями положений Соглашения
                не лишает EasyFinance.ru права предпринять
                соответствующие действия в защиту своих
                интересов позднее, а также не означает
                отказа EasyFinance.ru от своих прав в случае
                совершения в последующем подобных либо
                сходных нарушений.
                </P>
                <P>Регистрируясь на сайте EasyFinance.ru
                Пользователь подтверждает, что прочитал,
                понял и согласен соблюдать настоящее
                Соглашение. Соглашение может быть
                изменено администрацией сайта в любое
                время без уведомления. Все изменения
                будут опубликованы на этой странице.
                Новая редакция Соглашения вступает в
                силу с момента публикации, если иной
                срок вступления изменений в силу не
                определен дополнительно при их публикации.
                Действующая редакция Соглашения всегда
                находится на этой странице по адресу:
                АДРЕС СТРАНИЦЫ.
                </P>
                <P>Дальнейшее использование сайта
                EasyFinance.ru после любых подобных изменений
                означает согласие пользователя с
                изменениями. Ознакомление с действующей
                редакцией Соглашения остается на
                ответственности пользователя.
                </P>
                <P>По завершении процесса регистрации
                пользователь получает подтверждение
                регистрации на указанный e-mail. Администрация
                EasyFinance.ru имеет право запретить использование
                определенных логинов, изъять их из
                обращения.
                </P>
                <P>Пользователь несет ответственность
                за сохранность своих логина и пароля.
                </P>
                <P><FONT SIZE=4><B>2. Права и обязанности
                администрации EasyFinance.ru </B></FONT>
                </P>
                <P>EasyFinance.ru предлагает пользователям
                доступ к ряду сервисов. Все существующие
                на данный момент сервисы, любое их
                развитие или добавление новых является
                предметом настоящего Соглашения.
                </P>
                <P>Все сервисы предоставляются &quot;как
                есть&quot;. EasyFinance.ru не несет ответственность
                за какие-либо задержки, сбои, неверную
                или несвоевременную доставку, удаление
                или сохранность какой-либо пользовательской
                информации.
                </P>
                <P>EasyFinance.ru не гарантирует, что сервисы
                будут соответствовать требованиям
                пользователя; будут предоставляться
                непрерывно, быстро, надежно и без ошибок;
                результаты, которые могут быть получены
                с использованием сервисов, будут точными
                и надежными; качество какого-либо
                продукта, услуги, информации и пр.,
                полученного с использованием сервиса,
                будет соответствовать ожиданиям
                пользователя.
                </P>
                <P>Администрация EasyFinance.ru не несет
                ответственности за любой ущерб, который
                может быть нанесен компьютеру и данным
                пользователя в результате использования
                материалов, полученных с использованием
                сервисов EasyFinance.ru.
                </P>
                <P>EasyFinance.ru не несет ответственности за
                любые прямые или непрямые убытки,
                произошедшие из-за: использования либо
                невозможности использования сервисов;
                несанкционированного доступа к вашим
                коммуникациям; заявления или поведение
                любого третьего лица в сервисах.
                </P>
                <P>EasyFinance.ru не несет ответственности за
                контент (информацию, данные, текст,
                сообщения и другие материалы, размещенные
                на сайте), созданный его пользователями,
                и не гарантирует точность, полноту или
                качество этого контента.
                </P>
                <P>Администрация EasyFinance.ru не обязана
                просматривать контент любого вида перед
                размещением. Администрация EasyFinance.ru
                имеет право (но не обязанность) по своему
                усмотрению отказать в размещении или
                удалить любой контент, который доступен
                через один из сервисов EasyFinance.ru.
                </P>
                <P>EasyFinance.ru имеет право размещать на
                странице аккаунта пользователей
                рекламную информацию или любую другую
                информацию для публичного распространения,
                однако без ущерба для содержания
                аккаунта. Форма, порядок и объемы такой
                информации могут время от времени
                изменяться EasyFinance.ru.
                </P>
                <P>Администрация сайта EasyFinance.ru (или
                представители администрации в лице
                модераторов) имеют право заблокировать
                любой аккаунт.
                </P>
                <P>Администрация EasyFinance.ru может посылать
                своим пользователям информационные
                сообщения. EasyFinance.ru не несет ответственности
                ни за какие задержки, сбои, неверную или
                несвоевременную доставку, удаление или
                несохранность какой-либо пользовательской
                персональной информации. вы согласны
                с тем, что EasyFinance.ru оставляет за собой
                право удалить пользователей, которые
                не использовали свой доступ в течение
                долгого времени.
                </P>
                <P>Сервисы EasyFinance.ru могут содержать ссылки
                на другие ресурсы. Администрация сайта
                не несет ответственности за доступность
                этих ресурсов и за их контент, а также
                за любые последствия, связанные с
                использованием контента этих ресурсов.
                </P>
                <P>Администрация EasyFinance.ru оставляет за
                собой право прекратить действие любого
                логина и пароля и удалить любой контент
                по любой причине, в том числе при
                неиспользовании доступа или при нарушении
                Соглашения.
                </P>
                <P>EasyFinance.ru может в любой момент закрыть
                любой из своих сервисов без предварительного
                уведомления.
                </P>
                <P>EasyFinance.ru также не несет никакой
                ответственности за прекращение доступа
                к своим сервисам.
                </P>
                <P><FONT SIZE=4><B>3. Обязательства пользователя
                </B></FONT>
                </P>
                <P>Пользователь сайта EasyFinance.ru обязан:
                </P>
                <P>Выполнять данное Соглашение.
                </P>
                <P>Не нарушать нормальную работу сайта
                EasyFinance.ru.
                </P>
                <P>Принимать надлежащие меры для
                обеспечения сохранности логина (адреса
                электронной почты) и пароля.
                </P>
                <P>При регистрации указывать реальный
                e-mail в соответствующем поле регистрации.
                </P>
                <P>Нести полную ответственность за любые
                действия, совершенные с использованием
                его аккаунта, а также за любые последствия,
                которые могло повлечь или повлекло
                подобное его использование.
                </P>
                <P>Нести ответственность за всю информацию,
                данные, текст, сообщения и другие
                материалы (контент), размещенные на
                сайте.
                </P>
                <P>Самостоятельно оценивать все риски,
                связанные с использованием контента,
                включая оценку надежности, полноты или
                полезности этого контента.
                </P>
                <P>Не использовать сайт для умышленного
                нарушения местного, российского
                законодательства или норм международного
                права.
                </P>
                <P>Не размещать на сайте ссылок на ресурсы
                Сети, содержание которых противоречит
                действующему законодательству РФ.
                </P>
                <P>Не использовать сервисы EasyFinance.ru для
                загрузки, посылки, передачи или любого
                другого способа размещения контента,
                который является незаконным, вредоносным,
                угрожающим, клеветническим, оскорбляет
                нравственность, нарушает авторские
                права, пропагандирует ненависть и/или
                дискриминацию людей по расовому,
                этническому, половому, религиозному,
                социальному признакам, содержит
                оскорбления в адрес конкретных лиц или
                организаций.
                </P>
                <P>Не выдавать себя за другого человека,
                в том числе за сотрудника EasyFinance.ru, за
                модераторов блогов или проектов, за
                владельца сайта.
                </P>
                <P>Не использовать сайт EasyFinance.ru для
                массовой публикации сообщений
                (комментариев, блогов, отзывов) рекламного
                характера (спам) и флуда.
                </P>
                <P><FONT SIZE=4><B>4. Права собственности</B></FONT>
                </P>
                <P>Сервисы EasyFinance.ru и все необходимые
                программы, связанные с ними, содержат
                конфиденциальную информацию, которая
                защищена законами об интеллектуальной
                собственности и прочими российскими и
                международными законами, а контент,
                предоставляемый в процессе использования
                сервисов, защищен авторскими правами,
                торговыми марками, патентами и прочими
                соответствующими законами.
                </P>
                <P>EasyFinance.ru предоставляет вам личное
                неисключительное и непередаваемое
                право использовать программное
                обеспечение, предоставляемое в сервисах,
                на одном компьютере, при условии, что
                ни вы сами, ни любые иные лица при
                содействии с вашей стороны не будут
                копировать или изменять программное
                обеспечение; создавать программы,
                производные от программного обеспечения;
                проникать в программное обеспечение с
                целью получения кодов программ;
                осуществлять продажу, уступку, сдачу в
                аренду, передачу третьим лицам в любой
                иной форме прав в отношении программного
                обеспечения служб, предоставленных вам
                по Соглашению, а также модифицировать
                службы, в том числе с целью получения
                несанкционированного доступа к ним.</P>
            </div>
        <div class="ccb"></div>
</div>

<!--/середина-->
