		<div class="ramka2">
			<div class="cct"></div>
			<div class="mid general_cont">
				<span class="mid_text">
					<br>Администрация Системы управления личными финансами  Easyfinance.ru обеспечивает высокий уровень безопасности пользовательских данных, используя специальное программно-техническое обеспечение, протокол SSL при передаче данных через Интернет, пользовательские Логин и Пароль для защищенного доступа к системе. 
					<br><br>При регистрации  мы не требуем от Вас указывать  какую-либо персональную информацию, кроме адреса электронной почты. Эти регистрационные данные могут быть использованы Администрацией для установления контакта с Пользователем Системы в случае необходимости, распространения официальной информации компании и  материалов наших партнеров. Вместе с тем, персональная информация НЕ будет передана третьим лицам.
					<br><br>В связи  с этим, возможной причиной нарушения конфиденциальности является получение третьими лицами доступа к паролю пользователя или его электронной почте посредством действия вредоносных программ и хакерских атак на программно-техническое обеспечение Пользователя. В этом случае Администрация НЕ несет ответственности за нарушение конфиденциальности, но обеспечивает ее восстановлении в разумные сроки по просьбе Пользователя. 
					<br><br>Администрация Системы управления личными финансами Easyfinance.ru оставляет за собой право вносить изменения без специального оповещения Пользователей о внесенных изменениях в Политике безопасности. Все изменения в данном документе размещаются на этой электронной странице. 
				<span>
			</div>
			<div class="ccb"></div>
		</div>

<!--/середина-->
