{* $Id$ *}
	<div id="presentation">
		<a href="/registration/" title="зарегистрироваться" class="reg">зарегистрироваться</a>
		<a href="https://demo.easyfinance.ru/login" title="демо-вход" class="demo" >демо-вход</a>
                <!--<ul class="inf">
			<li class="u">Пользователей: <b></b></li>
			<li class="t">Сумма транзакций: <b></b>руб.</li>
		</ul>-->
		<div id="bgpics" class="bg1"></div> <!--меняем класс, меняется бэк, например для 2-го шага бек будет class="bg2"-->
		<ul class="steps">
			<li id="step1" class="act" title="Шаг 1">1</li>
			<li id="step2" title="Шаг 2">2</li>
			<li id="step3" title="Шаг 3">3</li>
			<li id="step4" title="Шаг 4">4</li>
			<li id="step5" title="Шаг 5">5</li>
		</ul>
		<div class="descr">
			<div class="txt1" style="display: block;">
				<h2>С чего начать?</h2>
				Вы хотите знать, откуда приходят и куда уходят деньги, ведь это нужно для того, чтобы оптимизировать расходы и начать контролировать свои финансы.
			</div>
		</div>
	</div>
<!--/презентация-->
	<div id="mainwrap">
	<!--анонс проекта-->
		<div id="aboutproject" class="ramka1">
			<div class="ct"><div></div></div>
			<div class="inside">
				<div class="monitors">
					<h2><a title="Контролируй">Контролируй</a></h2>
					Возьмите под контроль свои личные финансы с помощью easyfinance.ru. Вносите информацию о доходах и расходах из любой точки мира, 24 часа в сутки.
				</div>
				<div class="control">
					<h2><a title="Управляй">Управляй</a></h2>
					Воспользуйтесь возможностями системы easyfinance, для планирования и анализа. Держите финансы «на кончиках пальцев».
				</div>
				<div class="economy">
					<h2><a title="Экономь">Экономь</a></h2>
					Добейтесь эффекта экономии быстро и без труда вместе с easyfinance.ru. Получайте удовольствие и пользу – деньги работают!
				</div>
				<div id="dialog" class='w_dialog' style="display: none;">
                                    <div class="w_d_head">&nbsp;</div>
                                    <div class="w_d_body">
                                        <div class="link close">&nbsp;
                                        </div>
                                        <span class="text">&nbsp;</span>
                                    </div>
                                    <div class="w_d_foot">&nbsp;</div>
			</div></div>
			<div class="cb"><div></div>
		</div>
	<!--/анонс проекта
	список вопросов
		<div class="info_block general_cont">
			<a href="#" title="оставить отзыв" class="addmessage">оставить отзыв</a>
			<dl class="fl_l">
				<dt class="interest"><span>Интересно</span> <a href="#">архив</a></dt>
				<dd>
					<ul>
						<li><a href="#">Как продать кредитный автомобиль?</a></li>
						<li><a href="#">На какие товары и услуги из-за кризиса снизились цены</a></li>
						<li><a href="#">Как выбирать кредитную карту</a></li>
						<li><a href="#">Как с толком распределить семейный бюджет</a></li>
						<li><a href="#">Деньги из воздуха</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="fl_r">
				<dt class="twitter"><span>Twitter</span> <a href="#">следовать</a></dt>
				<dd>
					<ul>
						<li><a href="#">У нас снова заработал форум! Ждем от вас пожеланий по улучшению сервиса</a></li>
						<li><a href="#">Заработал калькулятор в полях ввода сумм! </a></li>
						<li><a href="#">Сегодня на сайте EasyFinance.ru открывается доступ к подборке интересных статей.</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	список вопросов-->
        <div class="browser">
        <div class="popup_map2"><div style="overflow: hidden; display: none; position: absolute; z-index: 1002; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 400px; top: -400px; left: 400px;" class="w_dialog"><div class="link close"></div><div class="w_d_head"></div><div class="w_d_body">
        <img src="/img/images/ie.jpg"  ><a href="http://www.microsoft.com/rus/windows/internet-explorer/"></a></img><p>У Вас установлена старая старая версия браузера!<br>Для стабильной работы Системы личного управления<br> финансами рекомендуем Вам обновить свой браузер<br><a href='http://www.microsoft.com/rus/windows/internet-explorer/'>http://www.microsoft.com/rus/windows/internet-explorer/</a></p></div><div class="w_d_foot"></div></div></div>
        </div><!---->
	</div>
