{* $Id$ *}
<div id="presentation">
    <a href="http://{$smarty.const.URL_ROOT_MAIN}registration/" title="зарегистрироваться" class="reg">зарегистрироваться</a>
    <a href="http://{$smarty.const.URL_ROOT_DEMO}login" title="демо-вход" class="demo" >демо-вход</a>
    <ul class="inf">
        <li class="u">Пользователей: <b>8 286</b></li>
        <li class="t">Транзакций: <b>936 115</b></li>
    </ul>
    <div id="bgpics" class="bg1"></div>
    <ul class="steps">
        <li id="step1" class="act" title="Шаг 1">1</li>
        <li id="step2" title="Шаг 2">2</li>
        <li id="step3" title="Шаг 3">3</li>
        <li id="step4" title="Шаг 4">4</li>
        <li id="step5" title="Шаг 5">5</li>
    </ul>
    <div class="descr">
        <div class="txt1" style="display: block;">
            <h2>С чего начать?</h2>
            EasyFinance.ru это on-line система управления личными финансами с широкими аналитическими возможностями.
        </div>
    </div>
</div>
<!--/презентация-->
<div id="mainwrap">
    <!--анонс проекта-->
    <div id="aboutproject" class="ramka1">
        <div class="ct"><div></div></div>
        <div class="inside">
            <div class="monitors">
                <h2><a title="Контролируй">Контролируй</a></h2>
		Возьмите под контроль свои личные финансы с помощью easyfinance.ru. Вносите информацию о доходах и расходах из любой точки мира, 24 часа в сутки.
            </div>
            <div class="control">
                <h2><a title="Управляй">Управляй</a></h2>
		Воспользуйтесь возможностями системы easyfinance, для планирования и анализа. Держите финансы «на кончиках пальцев».
            </div>
            <div class="economy">
                <h2><a title="Экономь">Экономь</a></h2>
		Добейтесь эффекта экономии быстро и без труда вместе с easyfinance.ru. Получайте удовольствие и пользу – деньги работают!
            </div>
        </div>
        <div class="cb"><div></div>
        </div>
    </div>
</div>

<div id="dialog" class='w_dialog' style="display: none;">
    <div class="w_d_head">&nbsp;</div>
    <div class="w_d_body">
        <div class="link close">&nbsp;
        </div>
        <div class="text">&nbsp;</div>
    </div>
    <div class="w_d_foot">&nbsp;</div>
</div>
