<!--середина-->

	<!--вкладки-->
	<!--/вкладки-->
		<div class="ramka2">
			<div class="cct"></div>
		<!--меню4-->

		<!--/меню4-->
			<div class="mid general_cont">
            <!--левая колонка-->
                {include file="left.quick.html"}
            <!--/левая колонка-->
				<div class="block2">
            <!--наполнение-->
            <!--Ввод операции-->
                {include file="operation.quick.html"}
            <!--/Ввод операции-->
            <!--Бюджет-->
                {include file="$name_page.content.html"}
            <!--/Бюджет-->
            <!--/наполнение-->
                    </div>
            <!--правая колонка-->
                {include file="right.quick.html"}
            <!--/правая колонка-->
			</div>
			<div class="ccb"></div>
		</div>

<!--/середина-->
