<!--Категории-->
                    <div class="ramka3">
                        <div class="ct">
                            <div class="head">
                                <h1>Категории</h1>
                                <ul class="action">
                                    <li class="over1"><a title="настройки">настройки</a></li>
                                    <li class="over2"><a title="закрыть">закрыть</a></li>
                                    <li class="over3"><a title="свернуть">свернуть</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="inside">

<!--добавить новую категорию-->
<form action="">
    <input type="hidden" id="cat_id">
    <div class="addcategories">
        <a id="add_category">Добавить новую категорию</a>
        <div id="add_form">
        <div class="form_block" style="display: block;">
            <div class="f_field">
                <label for="namecat">Название категории</label>
                <input type="text" id="namecat" />
            </div>
            <div class="f_field" id="divCategoryEditType">
                <label for="f_cattype">Тип категории <span class="star">*</span></label>
                <select id="cattype">
                    <option value="1">Доходная</option>
                    <option value="-1">Расходная</option>
                </select>
            </div>
            <div class="f_field" id="divCategoryEditCustom">
                <div class="f_field">
                    <label for="subcat">Подкатегория для</label>
                    <select id="subcat">
                        <option value=""> --- </option>
                    </select>
                </div>
                <div class="f_field" id="divCategoryEditSystem">
                    <label for="catsys">Системная категория</label>
                    <select id="catsys">
                    </select>
                </div>
            </div>
            <input type="button" id="btnSave" value="Сохранить" />
            <input type="button" id="btnCancel" value="Отменить" />
            <small><div id="txtCategoryComment" style="display: inline"></div></small>
        </div>
        </div>
    </div>
</form>
<!--/добавить новую категорию-->


                            <div class="categoriesSH" style="padding:10px; padding-left: 0;">
                                <table class="h">
                                    <tr>
                                        <td class="w1">Категория <span></span></td>
                                        <td class="w2">Тип <span></span></td>
                                        <td class="w3">Сис. категория <span></span></td>
                                        <td class="w4" ><!--Сумма <span></span>--></td>
                                    </tr>

                                </table>
                                                            <div class="categories"></div>
                            </div>
                        </div>
                        <div class="cb"><div></div></div>
                    </div>
                <!--/Категории-->
