<!--правая колонка-->
				<div class="block3 ramka3">
					<div class="ct head">
						<h2>Настройки</h2>
						<ul class="action">
							<li class="over1"><a href="#" title="настройки">настройки</a></li>
							<li class="over2"><a href="#" title="закрыть">закрыть</a></li>
							<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
						</ul>
					</div>
					<dl class="info">
						<dt>Курсы валют</dt>
						<dd>
							<div class="line">
								<span class="valuta">Euro</span>
								<span class="down">35,55</span>
								<span class="up">36,15</span>
							</div>
							<div class="line">
								<span class="valuta">USD</span>
								<span class="up">35,55</span>
								<span class="down">36,15</span>
							</div>
						</dd>
						<dt>Финансовое сотояние</dt>
						<dd class="budget_inf">
							<div class="flash"><img src="/img/images/pic4.jpg" alt="" /></div>
							Общая информация о вашем состоянии
						</dd>
						<dt>Популярные счета</dt>
						<dd>
							<ul>
								<li><a href="#">Мальдивы</a></li>
								<li><a href="#">Зарплатный счет</a></li>
								<li><a href="#">Рабочий счет</a></li>
							</ul>
						</dd>
						<dt><b>Топ 5</b> операций</dt>
						<dd>
							<ul class="list2">
								<li><span>24.04.09</span> 2 000 000 руб. <a href="#">Отправил дяде в Бразилию.</a></li>
								<li><span>16.05.09</span> 1 500 руб. <a href="#">Взятка директору.</a></li>
							</ul>
						</dd>
					</dl>
				</div>
		<!--/правая колонка-->