html, body {
	margin:0px;
	padding:0px;
}
body,  select, textarea {
	background-color: #fff;
}
td,  select, textarea {
	font-family: tahoma;
	font-size: 12px;
	color: #000000;
}
input {
	padding-left: 5px;
	font-size: 10px;
}
.td_login_passwd_input
{
	PADDING-LEFT: 14px;
}

.td_login_passwd_text
{
	color:white;
	vertical-align: middle;
	PADDING-LEFT: 5px;
	font-weight: bold;
}

.image_to_button
{
	padding-left: 5px;
	vertical-align: middle;
	cursor:pointer;
}
.item{
	background-image: url(/img/2/item2.gif);
	background-repeat: no-repeat;
	text-indent: 30px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}



.menu_attantion {
	font-family: Tahoma;
	font-size: 12px;

	text-indent: 0px;
	border-bottom: 2px #f26122 dotted;
	width: 210px;

}
.menu_attantion a,.menu a:link,.menu a:active,.menu a:visited {
	font-weight:normal;
	display:block;
	color:#555555;
	text-indent: 0px;
	padding-bottom:0px;
	padding-TOP:3px;
	text-decoration: none;
}
.menu_attantion a:hover {
	color:#f26122;
	cursor:pointer;
	font-weight:none;
	text-decoration: none;
}
.menu {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	white-space: nowrap;
	text-indent: 30px;
	border-bottom: 2px #f26122 dotted;
	padding-bottom:3px;
	padding-TOP:3px;
	width: 210px;

}
.menu a,.menu a:link,.menu a:active,.menu a:visited {
	font-weight:normal;
	display:block;
	color:#76b900;
	font-weight:bold;
	text-indent: 30px;
	padding-bottom:3px;
	padding-TOP:3px;
	text-decoration: none;
}
.menu a:hover {
	color:#f26122;
	cursor:pointer;
	font-weight:bold;
	text-decoration: none;
}




.top_left_center_border
{
	background-image: url(/img/2/top_left_center_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.top_right_center_border
{
	background-image: url(/img/2/top_right_center_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.top_center_center_border
{
	background-image: url(/img/2/top_center_center_border.gif);
	background-repeat: repeat-x;
}
.center_center_left_border
{
	background-image: url(/img/2/center_center_left_border.gif);
	background-repeat: repeat-y;
}
.center_center_right_border
{
	background-image: url(/img/2/center_center_right_border.gif);
	background-repeat: repeat-y;
}
.bottom_left_center_border
{
	background-image: url(/img/2/bottom_left_center_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.bottom_right_center_border
{
	background-image: url(/img/2/bottom_right_center_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.bottom_center_center_border
{
	background-image: url(/img/2/bottom_center_center_border.gif);
	background-repeat: repeat-x;
}


.top_left_right_border
{
	background-image: url(/img/2/top_left_right_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.top_right_right_border
{
	background-image: url(/img/2/top_right_right_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.top_center_right_border
{
	background-image: url(/img/2/top_center_right_border.gif);
	background-repeat: repeat-x;
}
.right_center_left_border
{
	background-image: url(/img/2/right_center_left_border.gif);
	background-repeat: repeat-y;
}
.right_center_right_border
{
	background-image: url(/img/2/right_center_right_border.gif);
	background-repeat: repeat-y;
}
.bottom_left_right_border
{
	background-image: url(/img/2/bottom_left_right_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.bottom_right_right_border
{
	background-image: url(/img/2/bottom_right_right_border.gif);
	background-repeat: no-repeat;
	width: 40px;
}
.bottom_center_right_border
{
	background-image: url(/img/2/bottom_center_right_border.gif);
	background-repeat: repeat-x;
}

.whats_hm2 {
	font-family: tahoma;
	font-size: 16px;
	color:#76b900;
	font-weight:bold;

}

.about_hm2 {
	font-family: tahoma;
	font-size: 12px;
	color: #555555;
	padding-left:12px;
}

.news_title_column{

	font-family: tahoma;
	font-size: 16px;
	color:#f26122;
	font-weight:bold;
	margin: 5px;
}

.news_title_link_from_column {
	font-family: tahoma;
	font-size: 12px;
	color: #555555;
}
.news_title_link_from_column a,.news_title_link_from_column a:link,.news_title_link_from_column a:active,.news_title_link_from_column a:visited {
	font-weight:normal;
	color:#76b900;
	font-weight:none;

	text-decoration: none;
}

.news_title_link_from_column a:hover {
	color:#555555;
	cursor:pointer;
	font-weight:none;
	text-decoration: none;
}

.td_logout a,.td_logout a:link,.td_logout a:active,.td_logout a:visited {
	font-weight:normal;
	color:#ffffff;
	font-weight:bold;

	text-decoration: none;
}
.td_logout a:hover {
	color:#f26122;
	cursor:pointer;
	font-weight:none;
	text-decoration: none;
}

.copyright a,.copyright a:link,.copyright a:active,.copyright a:visited {
	font-weight:normal;
	color:#555555;
	text-indent: 0px;
	text-decoration: none;
}
.copyright a:hover {
	color:#f26122;
	cursor:pointer;
	font-weight:normal;
	text-decoration: none;
}

.news_text {
	font-family: Tahoma;
	font-size: 12px;
	color: #555555;
}

.news_title_link_from_news {
	font-family: tahoma;
	font-size: 12px;
	color: #555555;
	text-indent:10px;
}
.news_title_link_from_news a,.news_title_link_from_news a:link,.news_title_link_from_news a:active,.news_title_link_from_news a:visited {
	font-weight:normal;
	color:#555555;
	font-weight:none;

	text-decoration: none;
}

.news_title_link_from_news a:hover {
	color:#f26122;
	cursor:pointer;
	font-weight:none;
	text-decoration: none;
}

.news_navigation{
	font-family: Tahoma;
	font-size: 14px;
	color:#555555;
	padding-top:20px;
	text-indent:54px;
}