<!-- Журнал операций -->
                    <div class="ramka3">
                        <div class="ct">
                            <div class="head">
                                <h2>Журнал операций</h2>
                                    <input type="button" title="Экспорт в Excel в формате CSV" id="btn_CSV" >
                            </div>
                        </div>
                        <div class="operation_list operationsJournal">
                            <div class="inside">
                                <form action="">
                                    <div class="sorting">
                                        <div class="line">
                                            <div class="f_field">
                                                <select id="account_filtr">
                                                    <option value="">Все счета</option>
                                                    {foreach from=$accounts item=acc_data}
                                                        <option value="{$acc_data.account_id}">{$acc_data.account_name} ({$acc_data.account_currency_name})</option>
                                                    {/foreach}
                                                </select>
                                            </div>

                                            <div class="" style="float: right;">
                                                <select id="cat_filtr" style="width:300px">
                                                    <option value="">Все категории</option>
                                                    {$category}
                                                </select>
                                            </div><br><br>
                                            <div>
                                                <div id="divSearchOperations">
                                                    <input type="text" id="search_field" title="поиск по меткам и коментариям" />
                                                </div>


                                                <div class="f_field">
                                                    С:
                                                    <input type="text" id="dateFrom" value="{$dateFrom}" size="9" class="efTooltip" title="Дата начала периода, дд.мм.гггг"/>
                                                </div>
                                                <div class="f_field">
                                                    По:
                                                    <input type="text" id="dateTo" value="{$dateTo}" size="9" class="efTooltip" title="Дата конца периода, дд.мм.гггг"/>
                                                </div>
                                                <input type="button" value="Показать" id="btn_ReloadData"/>
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div id="divOperationsJournalFilters" class="hidden">
                                                <span id="lblOperationsJournalFilters"></span>&nbsp;<a id="linkOperationsJournalClearFilters" href="#">(сбросить фильтр)</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <ul class="period" style="display:none;">
                                    <li><span>Год</span></li>
                                    <li class="act"><span>Месяц</span></li>
                                    <li><span>Неделя</span></li>
                                    <li><span>Сегодня</span></li>
                                </ul>

                                <span id="remove_all_op" class="hidden" style="text-decoration:underline;cursor:pointer">Удалить выделенные</span>

                                <div id="divOperationsJournalTotal">
                                    <span class="before">
                                        <b>было: </b>
                                        <span type="text" id="balance_before" size="30">0.00 руб.</span>
                                    </span>
                                    <span id="lblOperationsJournalSum" class="hidden"><b>Итого: </b>&nbsp;руб.</span>
                                    <span class="after">
                                        <b>стало: </b>
                                        <span type="text" id="balance_after" size="30">0.00 руб.</span>
                                    </span>
                                    <span id="lblOperationsJournalAccountBalance" class="hidden"><b>Остаток по счёту:</b>&nbsp;руб.</span>
                                </div>
                            </div>
                            <table id="operations_list_header" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th><input type='checkbox' /></th>
                                            <th>
                                                    <span>Дата</span>
                                            </th>
                                            <th>
                                                    <span id="btnFilterType" class="sort">Тип</span>
                                            </th>
                                            <th>
                                                    <span id="btnFilterSum" class="sort">Сумма</span>
                                            </th>
                                            <th>
                                                    <span>Категория</span>
                                            </th>
                                            <th>
                                                    <span>Комментарий</span>
                                            </th>
                                            <th>
                                                    &nbsp;
                                            </th>
                                    </tr>
                            </table>

                            <div id="operations_list_container">
                                <table id="operations_list" class="efTableWithTooltips" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody></tbody>
                                </table>
                            </div>

                            <div id="dialogFilterType" class="hidden">
                                <div class="padding10">
                                    <a href="#" value="-1">Все типы</a><br><hr>

                                    <a href="#" value="0">Расход</a><br>
                                    <a href="#" value="1">Доход</a><br>
                                    <a href="#" value="2">Перевод</a><br>
                                    <a href="#" value="4">Фин. цель</a><br>
                                </div>
                            </div>

                            <div id="dialogFilterSum" class="hidden">
                                <div class="padding10">
                                    <a href="#" value="">Любая сумма</a><br><hr>

                                    <label for="txtFilterSumFrom">От: </label>
                                    <input type="text" id="txtFilterSumFrom" />
                                    <label for="txtFilterSumTo">До: </label>
                                    <input type="text" id="txtFilterSumTo" />
                                    руб.
                                    <input type="button" id="btnFilterSumSave" value="Сохранить"/>
                                </div>
                            </div>

                            <div id="dialogFilterCategory" class="hidden">
                                <div class="padding10">
                                    <a href="#" value="">Все категории</a><hr>
                                    <select id="selectFilterCategory">
                                        {$category}
                                    </select>
                                    <input type="button" id="btnFilterCategorySave" value="Сохранить"/>
                                </div>
                            </div>

                            <div id="dialogFilterAccount" class="hidden">
                                <div class="padding10">
                                    <a href="#" value="">Все счета</a><br><hr>
                                    {foreach from=$accounts item=acc_data}
                                        <a href="#" value="{$acc_data.account_id}">{$acc_data.account_name} ({$acc_data.account_currency_name})</a><br>
                                    {/foreach}
                                </div>
                            </div>

                            <!--<div class="operation_list"></div>-->
                        </div>
                        <div class="cb"><div></div></div>
                    </div>
<!--/Журнал операций-->
