<!--середина-->
{include_php file="../sf/apps/frontend/templates/_common/mainmenu.php"}
    <!--вкладки-->
    <!--/вкладки-->
        <div class="ramka2 no-overflow">
            <div class="cct">
                <i class="tl"></i>
                <i class="tr"></i>
            </div>
        <!--меню4-->
        <!--/меню4-->
            <div class="ccm">
                <div class="ccm-container">
                    <div class="mid general_cont">
                <!--левая колонка-->
                    {include file="left.quick.html"}
                <!--/левая колонка-->
                    <div class="block2">
                        <div class="l-indent">
                    <!--наполнение-->
                        <!--Ввод операции-->
                            {include file="operation.quick.html"}
                        <!--/Ввод операции-->
                        <!--Бюджет-->
                            {include file="$name_page.content.html"}
                        <!--/Бюджет-->
                    <!--/наполнение-->
                        </div>
                    </div>
                <!--правая колонка-->
                    {include file="right.quick.html"}
                <!--/правая колонка-->
                    </div>
                </div>
            </div>
            <div class="ccb">
                <i class="bl"></i>
                <i class="br"></i>
            </div>
        </div>

<!--/середина-->
