<!--правая колонка-->
				<div class="block3 ramka3">
					<div class="ct head">
						<h2></h2>
						<ul class="action">
							<li class="over1"><a href="#" title="настройки">настройки</a></li>
							<li class="over2"><a href="#" title="закрыть">закрыть</a></li>
							<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
						</ul>
					</div>
					<dl class="info">
						<dt>Курсы валют</dt>
						<dd>
							<div class="line">
								<span class="valuta">Euro</span>
								<span class="down">35,55</span>
								<span class="up">36,15</span>
							</div>
							<div class="line">
								<span class="valuta">USD</span>
								<span class="up">35,55</span>
								<span class="down">36,15</span>
							</div>
						</dd>
					</dl>
				</div>
		<!--/правая колонка-->
