<!--Журнал операций-->
					<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h2>Журнал операций</h2>
								<ul class="action">
									<li class="over1"><a href="#" title="настройки">настройки</a></li>
									<li class="over2"><a href="#" title="закрыть">закрыть</a></li>
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
						<div class="inside operation_list">
							<form action="">
								<div class="sorting">
									<div class="f_field">
										Операции с
                                                                                <input type="text" id="dateFrom" value="{$dateFrom}" size="9"/>
									</div>
									<div class="f_field">
										по
										<input type="text" id="dateTo" value="{$dateTo}" size="9"/>
									</div>
									<input type="button" value="Показать" id="btn_ReloadData"/>
								</div>
							</form>
							<ul class="period">
								<li><span>Год</span></li>
								<li class="act"><span>Месяц</span></li>
								<li><span>Неделя</span></li>
								<li><span>Сегодня</span></li>
							</ul>
							<table>
								<tr>
									<th>&nbsp;</th>
									<th>
										<span class="sort" title="отсортировать"><span class="down">вниз</span>Тип</span>
										<span class="select" title="выбрать">выбрать</span>
									</th>
									<th>
										<span class="sort" title="отсортировать"><span class="up">вверх</span>Сумма</span>
										<span class="select" title="выбрать">выбрать</span>
									</th>
									<th>
										<span class="sort" title="отсортировать">Дата</span>
										<span class="select" title="выбрать">выбрать</span>
									</th>
									<th>
										<span class="sort" title="отсортировать">Категория</span>
										<span class="select" title="выбрать">выбрать</span>
									</th>
									<th>
										<span class="sort" title="отсортировать">Счет</span>
										<span class="select" title="выбрать">выбрать</span>
									</th>
									<th>
										<span class="sort" title="отсортировать">Тэги</span>
										<span class="select" title="выбрать">выбрать</span>
									</th>
									<th>
										<span class="sort" title="отсортировать">Комментарии</span>
										<span class="select" title="выбрать">выбрать</span>
									</th>
                                                                </tr>
                                                                <div id="list">
                                                                    
                                                                </div>
								<!--<tr class="first">
									<td><input type="checkbox" value="" /></td>
									<td><a href="#">Доход</a></td>
									<td><b>5 000</b></td>
									<td>04.05.09</td>
									<td>алименты</td>
									<td>руб.</td>
									<td>баблос..</td>
									<td>
										<div class="cont">
											Стратегическое...
											<ul>
												<li class="edit"><a href="#" title="Редактировать">Редактировать</a></li>
												<li class="del"><a href="#" title="Удалить">Удалить</a></li>
												<li class="add"><a href="#" title="Добавить">Добавить</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="act">
									<td><input type="checkbox" value="" checked="checked" /></td>
									<td><a href="#">Доход</a></td>
									<td><b>5 000</b></td>
									<td>04.05.09</td>
									<td>алименты</td>
									<td>руб.</td>
									<td>баблос..</td>
									<td>
										<div class="cont">
											Стратегическое...
											<ul>
												<li class="edit"><a href="#" title="Редактировать">Редактировать</a></li>
												<li class="del"><a href="#" title="Удалить">Удалить</a></li>
												<li class="add"><a href="#" title="Добавить">Добавить</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" value="" /></td>
									<td><a href="#">Доход</a></td>
									<td><b>5 000</b></td>
									<td>04.05.09</td>
									<td>алименты</td>
									<td>руб.</td>
									<td>баблос..</td>
									<td>
										<div class="cont">
											Стратегическое...
											<ul>
												<li class="edit"><a href="#" title="Редактировать">Редактировать</a></li>
												<li class="del"><a href="#" title="Удалить">Удалить</a></li>
												<li class="add"><a href="#" title="Добавить">Добавить</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr class="act">
									<td><input type="checkbox" value="" checked="checked" /></td>
									<td><a href="#">Доход</a></td>
									<td><b>5 000</b></td>
									<td>04.05.09</td>
									<td>алименты</td>
									<td>руб.</td>
									<td>баблос..</td>
									<td>
										<div class="cont">
											Стратегическое...
											<ul>
												<li class="edit"><a href="#" title="Редактировать">Редактировать</a></li>
												<li class="del"><a href="#" title="Удалить">Удалить</a></li>
												<li class="add"><a href="#" title="Добавить">Добавить</a></li>
											</ul>
										</div>
									</td>
								</tr>-->
							</table>
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Журнал операций-->