{literal}
<style type="text/css">
.article
{
    overflow:hidden;
    margin-bottom:20px;
    #border-bottom: 1px dotted #6CBD45;
}

.article .readMore
{
    float: right;
    text-align:left;
}

.article .announce img
{
    border:0;
    float:left;
    padding:0 21px 5px 0;
}

.article .announce
{
    font-size:1.083em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.54em;
}

.article .announce p
{
    margin: 0;
}

.article .date
{
    float: right;
    height: 22px;
    line-height: 31px;
    margin-left: 22px;
}

.article .additional
{
    margin: 10px 0 10px 0;
    clear:both;

    font-size:1.083em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.54em;
}

.article h3
{
    margin: 12px 0 12px 0;
}

ul.articlesPager
{
    list-style-type:none;
    margin-bottom:40px;
    margin-top:-10px;
    overflow:hidden;
    padding-top:9px;
    text-align:center;
    
    font-size:1.083em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.54em;
}

.articlesPager li
{
    display:inline;
    position:relative;
    margin: 0 5px 0 5px;
}

.articlesPager b
{
    ##background-color:#CFCFCF;
    font-style:normal;
}

.articlesPager i
{
    font-style:normal;
}

</style>
{/literal}
<div class="ramka2">
    <div class="cct">
        <i class="tl"></i>
        <i class="tr"></i>
    </div>
    <div class="ccm">
        <div class="ccm-container">
            <div class="mid general_cont">
                <div style='margin:6px 23px 0 20px' align="justify">
                    {foreach from=$articles item=article}
                    {assign var=url value=/articles/`$article.id`}
                    <div class="article">
                        <div class="date">
                            {$article.date}
                            {if !empty($article.authorUrl)}
                            <noindex><a href="{$article.authorUrl}" target="_blank" rel="nofollow">{$article.authorName}</a></noindex>
                            {else}
                            {$article.authorName}
                            {/if}
                        </div>
                        <a href="{$url}">
                            <h2>{$article.title}</h2>
                        </a>
                        <div class="announce">
                            {if !empty($article.imageMain)}
                            <a target="_blank" href="{$url}">
                                <img src="/img/feedback/f5.png" alt="{$article.id}" title="Журнал" />
                            </a>
                            {/if}
                                    <p>{$article.announce}</p>
                        </div>
                        <div class="additional">
                            {if !empty($article.tags.0)}
                            <span>
                                <a href="/articles/tag/asdas">уроды</a>, 
                                <a href="/articles/tag/asda">кризис</a>, 
                                <a href="/articles/tag/sdas">доллар</a>
                            </span>
                            {/if}
                            <div class="readMore">
                                <a href="{$url}"> Читать статью полностью </a>
                            </div>
                        </div>
                    </div>
                    {/foreach}
            
                    <ul class="articlesPager">
                        {foreach from=$pager item=page}<li {if $page.current}class="active"{/if}>
                            {if $page.current}
                            <b>{$page.title}</b>
                            {elseif $page.link}
                            <a href="{$page.link}">{$page.title}</a>
                            {else}
                            <i>{$page.title}</i>
                            {/if}
                        </li>{/foreach}				
                    </ul>
            
                </div>
            </div>
        </div>
    </div>
    <div class="ccb">
        <i class="bl"></i>
        <i class="br"></i>
    </div>
</div>