#integrationSteps a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

#integrationSteps #registration {
    display: none;
}

.ui-dialog #registration h2{
    display: none;
}

#authRegisterRestore {
    display: none;
}

