<form action="index.php?modules=plan&action=save_plan" method="post">
<table width="100%" style=" background-color:#f8f8d8; padding-top:15px; padding-bottom:15px; border:1px dotted #ff6002;">
<tr>
	<td colspan="2" width="100%">
		<table width="100%" border="0">
		<tr>
			<td class="cat_add" style="padding-left:15px;padding-right:15px;padding-bottom:15px;" width="90%">				
				<p align="justify">Укажите способы оповещения по правилам плана и оставьте комментарий</p>
			</td>
			<td class="cat_add" valign="top" align="right">шаг 6/6&nbsp;</td>
		</tr>
		
		<tr>
			<td class="cat_add" style="padding-left:15px;padding-right:15px;padding-bottom:15px;" colspan="2" width="330">
				Оповестить по email?
				<input type="checkbox" {if $plan.notice_email == 1} checked="checked" {/if} name="notice_email">
			</td>
		</tr>
		<tr>
			<td class="cat_add" style="padding-left:15px;padding-right:15px;padding-bottom:15px;" colspan="2" width="330" valign="top">
				Комментарий:
				<textarea rows="4" cols="50" name="comment" id="comment">{$plan.comment}</textarea>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" class="cat_add" width="100%" style="padding-left:15px;padding-right:15px;padding-top:15px;">
				<input type="button" onclick="location.href='index.php?modules=plan&action=create_new_plan&step=5'" value="Назад" class="inputsubmit"/>
				<input type="submit" value="Сохранить" class="inputsubmit" />
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</form>