<table width="100%">
	<tr>
		<td width="100%" colspan="4" class=cat_add valign="top">
			<span style="color: #76b900; font-size:14px;" id="goodOperation">{$goodOperation}</span>
			<span style="color: #bc5f5f; font-size:14px;" id="badOperation">{$badOperation}</span>
            {if !empty($empty_history)}
            	<div id="createPlan" style="display:block;">
                    За период с 01.{$history_settings.text_last_period} по 01.{$history_settings.text_next_period} нет запланированного бюджета<br><br>
                </div>
            {elseif !empty($plan_copy)}
            	<div id="createPlan" style="display:block;">
                    {include file="Plan/plan.copy.html"}
                </div>
            {else}
                {if empty($plan_settings)}
                <div id="createPlan" style="display:block;">
                    {include file="Plan/plan.add.html"}<br><br>
                </div>
                {/if}
            {/if}
		</td>
	</tr>
    {if !empty($plan_settings)}
    	{if !empty($history_settings)}
        	<tr>
                <td valign="top" width="200" class=cat_add>
                        <a href="index.php?modules=plan&action=history_plan{$history_settings.last_period}">предыдущий</a>		                  
                </td>
                <td valign="top" width="200" class=cat_add>
                        <a href="index.php?modules=plan&action=history_plan{$history_settings.next_period}">следующий</a>		                  
                </td>
                <td valign="top" class=cat_add colspan="2">&nbsp;
                	
                </td>
            </tr>
            <tr>
                <td valign="top" width="100%" style=" background-color:#f8f8d8; padding:5px;" colspan="4">
	                <div id="operationDataList">{include file="Plan/plan.history.html"}</div>
                </td>
			</tr>
        {else}
            <tr>
                <td valign="top" width="100%" style=" background-color:#f8f8d8; padding:5px;" colspan="4">
                    <div id="operationDataList">{include file="Plan/plan.view.html"}</div>
                </td>
            </tr>
		{/if}
    {else}
    	{if !empty($history_settings)}
        	<tr>
                <td valign="top" width="200" class=cat_add>
                        <a href="index.php?modules=plan&action=history_plan{$history_settings.last_period}">предыдущий</a>		                  
                </td>
                <td valign="top" width="200" class=cat_add>
                        <a href="index.php?modules=plan&action=history_plan{$history_settings.next_period}">следующий</a>		                  
                </td>
                <td valign="top" class=cat_add colspan="2">&nbsp;
                	
                </td>
            </tr>
        {/if}
    {/if}
</table>