<form action="index.php?modules=plan&action=copy_plan&step=3&id={$id}" method="post">
<table width="100%" style=" background-color:#f8f8d8; padding-top:15px; padding-bottom:15px; border:1px dotted #ff6002;">
<tr>
	<td colspan="2" width="100%">
		<table width="100%" border="0">
		<tr>
			<td class="cat_add" style="padding-left:15px;padding-right:15px;padding-bottom:15px;" width="90%">				
				<p align="justify">Выберите период, в какой надо скопировать выбранный план</p>
			</td>
			<td class="cat_add" valign="top" align="right">шаг 2/3&nbsp;</td>
		</tr>

		<tr>
			<td class="cat_add" valign="top" colspan="2" style="padding-left:15px;padding-right:15px;padding-bottom:15px;">
				Период планирования:&nbsp;
				<select name="planning_month">
                	<option value="01" {if $current_month == '01'} selected="selected" {/if}>Январь</option>
                    <option value="02" {if $current_month == '02'} selected="selected" {/if}>Февраль</option>
                    <option value="03" {if $current_month == '03'} selected="selected" {/if}>Март</option>
                    <option value="04" {if $current_month == '04'} selected="selected" {/if}>Апрель</option>
                    <option value="05" {if $current_month == '05'} selected="selected" {/if}>Май</option>
                    <option value="06" {if $current_month == '06'} selected="selected" {/if}>Июнь</option>
                    <option value="07" {if $current_month == '07'} selected="selected" {/if}>Июль</option>
                    <option value="08" {if $current_month == '08'} selected="selected" {/if}>Август</option>
                    <option value="09" {if $current_month == '09'} selected="selected" {/if}>Сентябрь</option>
                    <option value="10" {if $current_month == '10'} selected="selected" {/if}>Октябрь</option>
                    <option value="11" {if $current_month == '11'} selected="selected" {/if}>Ноябрь</option>
                    <option value="12" {if $current_month == '12'} selected="selected" {/if}>Декабрь</option>
                </select>
                
                <select name="planning_year">
                	<option value="2008" {if $current_year == '2008'} selected="selected" {/if}>2008</option>
                	<option value="2009" {if $current_year == '2009'} selected="selected" {/if}>2009</option>
                    <option value="2010" {if $current_year == '2010'} selected="selected" {/if}>2010</option>
                    <option value="2011" {if $current_year == '2011'} selected="selected" {/if}>2011</option>
                </select>
			</td>        
		</tr>

		<tr>
			<td colspan="2" class="cat_add" width="100%" style="padding-left:15px;padding-right:15px;padding-top:15px;">
				<input type="button" onclick="location.href='index.php?modules=plan&action=copy_plan'" value="Назад" class="inputsubmit"/>
				<input type="submit" value="Далее" class="inputsubmit" />
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</form>