<script type="text/javascript">
{literal}
$(function() {
	$('.childrenToggler').click(function() {
		$('.'+$(this).attr('rel')).toggle();
	});
});
{/literal}
</script>

<form action="index.php?modules=plan&action=create_new_plan&step=5" method="post">
<table width="100%" style=" background-color:#f8f8d8; padding-top:15px; padding-bottom:15px; border:1px dotted #ff6002;">
<tr>
	<td colspan="2" width="100%">
		<table width="100%" border="0">
		<tr>
			<td class="cat_add" style="padding-left:15px;padding-right:15px;padding-bottom:15px;" width="90%">
				<p align="justify">Оставьте все по умолчанию или детализируйте расходы</p>
			</td>
			<td class="cat_add" valign="top" align="right">шаг 4/6&nbsp;</td>
		</tr>

		<tr>
			<td class="cat_add" valign="top" colspan="2" style="padding-left:15px;padding-right:15px;padding-bottom:15px;">
<div class="overFlowDIV">
				<table width=100%>
				<tr>
					<td colspan="3" class=cat_add style="border-bottom:1px solid #CCCCCC;font-size:13px">
						<span style="color: Green;">Итого доходов: <span id="s_income">{$total_sum_income}</span> р.&nbsp;&nbsp;</span>
                        <span style="color: #FF8040;">Итого расходов: <span id="current_total">0</span> р.&nbsp;&nbsp;</span>
                        <span style="color: Green;">Остаток: <span id="remainder">{$total_sum_income}</span> р.</span>
					</td>
				</tr>
				<tr>
					<td width=460 class=cat_add style='border-bottom:1px solid #CCCCCC;border-right:1px solid #CCCCCC;'>Название категории</td>
					<td width=160 class=cat_add style='border-bottom:1px solid #CCCCCC;border-right:1px solid #CCCCCC;'>Сумма планирования</td>
                    <td class=cat_add style='border-bottom:1px solid #CCCCCC;'>Сумма за 3 последних месяца</td>
				 </tr>
				 <tr><td colspan="3">
				{$listDetalizeOutcomeCategories}
                </td></tr>
				<tr>
					<td colspan="2" class=cat_add style='border-bottom:1px solid #CCCCCC;'>
						Сумма на странице: <span id="current_total_bottom">0</span>
					</td>
				</tr>
				</table>
</div>
			</td>
		</tr>

		<tr>
			<td colspan="2" class="cat_add" width="100%" style="padding-left:15px;padding-right:15px;padding-top:15px;">
				<input type="hidden" id="is_detalize_outcome" name="is_detalize_outcome" value="">
				<input type="button" onclick="location.href='index.php?modules=plan&action=create_new_plan&step=3'" value="Назад" class="inputsubmit"/>
				<input type="submit" value="Далее" class="inputsubmit" />
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</form>