<form action="index.php?modules=plan&action=create_new_plan&step=2" method="post">

<table width="100%" style=" background-color:#f8f8d8; padding-top:15px; padding-bottom:15px; border:1px dotted #ff6002;">
<tr>
	<td colspan="2" width="100%">
		<table width="100%">
		<tr>
			<td class="cat_add" style="padding-left:15px;padding-right:15px;padding-bottom:15px;" width="90%">				
				<p align="justify">Здесь мы рассказываем, для чего нужно планировать бюджет</p>
			</td>
			<td class="cat_add" valign="top" align="right">шаг 1/6&nbsp;</td>
		</tr>            
		<tr>
			<td colspan="2" class="cat_add" width="100%" style="padding-left:15px;padding-right:15px;padding-top:15px;">
				<input type="button" onclick="location.href='index.php?modules=plan&action=copy_plan'" value="Копировать прошлый план" class="inputsubmit"/>
				<input type="submit" value="Создать новый план" class="inputsubmit" />
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>

</form>
