<table width="100%" border="0">
<td width="25%" valign="top">
{if empty($history_settings)}
<h3>Планирование бюджета</h3>
{else}
<h3>Планирование бюджета</h3>
{/if}
</td>
<td align="left">
{if !empty($plan_settings)}
<form action="index.php?modules=plan&action=delete_plan&id={$plan_settings.plan_id}" method="post" name="form_del">
	<input type="button" onclick="location.href='index.php?modules=plan&action=create_new_plan&step=1'" value="Создать новый план" class="inputsubmit"  style="width:180px;"/>
    <input class="inputsubmit" name="sub_del" type="button" value="Удалить план" style="width:120px;" OnClick="confirmDelete('текущий план');">
    <input type="button" onclick="location.href='index.php?modules=plan&action=create_new_plan&step=2'" value="Редактировать план" class="inputsubmit"  style="width:180px;"/>
    <!--<input type="button" onclick="location.href='index.php?modules=plan&action=history_plan'" value="История планов" class="inputsubmit"  style="width:180px;"/>-->
</form>
{else}
<form action="#">
    <input type="button" onclick="location.href='index.php?modules=plan&action=create_new_plan&step=1'" value="Создать новый план" class="inputsubmit"  style="width:180px;"/>
    </form>
{/if}
</td>
</table>



<script language="javascript">
{literal}
	var total_sum=0;
	/*function createPlanShow()
	{
		$("#createPlan").show();	/*$("#editOperation").hide();*/
	/*}
	function createPlanHide()
	{
		$("#createPlan").hide();	/*$("#editOperation").hide();*/
	//}


	/*function onSumChange(data)
	{
		var Input1 = null;
		var Input2 = null;
		var tmp = null;

		Input1 = getObjectById(data + '_temp_sum');
		Input2 = getObjectById(data + '_sum');

		if (Input1 && Input2) {
			tmp = convertCurrency(Input1.value);
			if (tmp) {
				Input2.value = round(tmp, 4);
			}
			else {
				Input2.value = '';
			}
			return true;
		}
		Input2.value = 'неверная сумма!';
		return false;
	}*/

	function cp(obj) {
		var value = '';
		obj.value = obj.value.replace(',','.');

		if (obj.value)
		{
			total_sum = total_sum + obj
		}

		if(obj.value.substring(obj.value.length-1, obj.value.length) == '.') {
			obj.value += "00";
		}
		var reInt = /^(\d+)$/
		var reFloat = /^(\d+).(\d+)$/
		if(!reInt.test(obj.value) && !reFloat.test(obj.value) && (obj.value != '')) {
			//var msg = 'Строка '+obj.value+' не является цифрой';
			//$("#error_reporting").text(msg);
			//obj.value = '';
			$(obj).addClass('input_wrong');
		} else {
			if($(obj).hasClass('input_wrong'))
				$(obj).removeClass('input_wrong');
		}
		var classname = $(obj).attr('class');
		var parentID = classname.replace('child','parent');
		var oPar = document.getElementById(parentID);
		$('.'+classname).each(function() {
			value += $(this).val();
			if(value == '') oPar.checked = false;
			else oPar.checked = true;
		});

		var arInBill = $(obj).parents('form').find('input:text');
		if(arInBill.size() > 0) {
			var total=0;
			arInBill.each(function() {
				total+=Number($(this).val());
			});
		}
		var add_total = isNaN(parseInt($('#s_income').text()))?0:parseInt($('#s_income').text());
		if((add_total-total) < 0) {
			$('#remainder').parent().css('color', '#FF8040');
		} else {
			$('#remainder').parent().css('color', 'green');
		}
		$('#remainder').text(add_total-total);
		$("#current_total").text(total);
		$("#current_total_bottom").text(total);
		return false;
	}

	function checkSumOutcome()
	{
		current_total = document.getElementById('current_total').value;
		var total_sum_income = document.getElementById('s_income').value;
		if (total > total_sum_income)
		{
			alert('Внимание! Сумма расходов превышает сумму доходов за выбранный период!');
		}
	}

	function showChildCategory(data)
	{
		if ($("#"+data).css('display') == 'none')
		{
			$("#"+data).show();
		}else{
			$("#"+data).hide();
		}

	}

	function checkAllAccounts(cnt, data)
	{
		for (i=0; i<cnt; i++)
		{
			oAcc = document.getElementById("account_"+i);
			if (data == 'check')
			{
				oAcc.checked = true;
			}else{
				oAcc.checked = false;
			}
		}
	}

	function checkCategory(data)
	{
		input = getObjectById('inp_'+data);
		checkbox = getObjectById('ch_'+data);
		if (input.value != '')
		{
			checkbox.checked = true;
		}else{
			checkbox.checked = false;
		}
	}

	function goNextStep(data)
	{
		nextStep = getObjectById('wzStep' + data);

		for (i=1; i<=10; i++)
		{
			step = getObjectById('wzStep' + i);
			$("#wzStep"+i).hide();
			if (i == data)
			{
				$("#wzStep"+data).show();
			}
		}
	}

	function to_split( delimiter, string ) {
	return string.toString().split ( delimiter.toString() );
    	//return explode( delimiter, string );
	}

	function changeDatePeriod()
	{
		planning_horizon = getObjectById('planning_horizon');

		$.ajax({
				type: "GET",
				url: "/index.php",
				data: {
					modules: "plan",
					action: "change_date_period",
					period: planning_horizon.value,
					ajax: true
				},
				success: function(data) {
					data = $(data);
					//alert(data.html());
					//создаем data-сборник
					$('<div id="drainAll" style="display:none"></div>')
						.append(data)         //скидываем все в него
						.appendTo($('body')); //добавляем его в DOM
					//теперь когда доступно через DOM,
					//раскидываем по нужным контейнерам
					$('#IncomeCats').append($('#d_0'));
					$('#OutcomeCats').append($('#d_1'));
					//alert($('body #drainAll').html())
					//удаляем data-сборник за ненадобностью
					//$('body #drainAll').remove();
				}
			});
	}

	function onAjaxHandler(data) {
		//alert('1');
		//  $('#IncomeCats').html(cats[0]);
		// $('#OutcomeCats').html(cats[1]);
	}


	$(function() {
	$('#planning_horizon').change(function() {
		var plan = ['Неделя','Месяц','Квартал','Год'];
		// Выбираем значение из id="planning_horizon"
		var cntOnControl = new Number($(this).val()-1);
		// Если количество выбранных елементов меньше нуля то
		if(cntOnControl == 0) {
			// увеличиваем до одного, для того чтобы
			// было неделя ровна недели
			cntOnControl = 1;
		} else if(cntOnControl == 3) {
			cntOnControl=2;
			plan.pop();
			plan.shift();
		}
		// Получаем объект id="planning_control"
		var control = $('#planning_control');
		// Если id="planning_control" заблокирован то
		if(control.attr('disabled') === true) {
			// разблокируем его
			control.removeAttr('disabled');
		}
		// опустошаем его
		control.empty();
		// теперь щепляем это к id="planning_control"
		for(var i=0;i<cntOnControl;i++) {
			if ((cntOnControl == 2) && (plan[i] == 'Неделя'))
			{
				//
			}else{
				control.append("<option value='"+(i+1)+"'>"+plan[i]+"</option>");
			}
		}
	});

	$("#planning_control").change(function() {
		var cols=0;
		$("#cat").css('display','block');
		if($(this).val() == 2) {
			cols=4;
			var titles = ['4-ый квартал','3-ий квартал','2-ой квартал','1-й квартал'];
			$("#cat .cols").val(cols);
		}
		for(var i=0;i<cols;i++) {
			$("#cat .lastTH").after("<th>"+titles[i]+"</th>");
			$("#cat .cat_add").after("<td><input class='output' type='text'></td>");
		}
	});
	$("#cat .cat_print").blur(function() {
		$(this).parents('tr').children('td').children('.output').each(function() {
			var cols = $(this).parents('form').children('.cols').val();
			var tota = $(this).parents('tr').children('.cat_add').children('.cat_print').val();
			$(this).val(tota/cols);
		});
	});


});
{/literal}
</script>

{include file="Plan/plan.default.html"}