<script type="text/javascript">
{literal}
function confirmDeletePlan(id)
{
	if (confirm("Вы действительно хотите удалить этот план?")) {           
        location.href='index.php?modules=plan&action=delete_plan&id='+id;
    }
}
{/literal}
</script>
<table width="100%" style=" background-color:#f8f8d8; padding-top:15px; padding-bottom:15px; border:1px dotted #ff6002;">
<tr>
	<td width="100%">
		<table width="100%">	
        <tr>
            <td class="cat_add" style="padding-left:15px;padding-right:15px;padding-bottom:15px;" width="90%">				
                <p align="justify">Объясняем смысл копирования бюджета</p>
            </td>
            <td class="cat_add" valign="top" align="right">&nbsp;</td>
        </tr>
        <tr>
        	<td class="cat_add" width="100%" colspan="2">
            	<table width="100%">
                {foreach from=$plan_copy item=data}        
                <tr class="cat_add colored">
                    <td  width="250" style="padding-left:15px;padding-right:15px;padding-top:15px;">
                        <a href="#" class="cat_add">{$data.replace_date_start}</a>   <br>              
                        {$data.comment} 
                    </td>
                    <td  align="left">
                        <input type="button" onclick="location.href='index.php?modules=plan&action=copy_plan&step=2&id={$data.plan_id}'" value="копировать" 
                                class="inputsubmit"  style="width:180px;"/>
                        <input class="inputsubmit" name="sub_del" type="button" value="Удалить план" style="width:120px;" 
                                OnClick="confirmDeletePlan({$data.plan_id});">
                    </td>
                </tr>
                {/foreach}
        		</table>
        	</td>
        </tr>
        </table>
	</td>
</tr>
</table>