<table width="100%">
	<tr>
        <td width="10%" style="background-color:#B8C1DA; color:#FFF; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">Дата</td>
        <td width="15%" style="background-color:#B8C1DA; color:#FFF; padding:3px; font-size:14px; font-family:Verdana, Geneva, sans-serif;">Пользователей</td>
        <td width="20%" style="background-color:#B8C1DA; color:#FFF; padding:3px; font-size:14px; font-family:Verdana, Geneva, sans-serif;">Операций</td>
        <td style="background-color:#B8C1DA; color:#FFF; padding:3px; font-size:14px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>    
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">январь 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.0.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.0.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">февраль 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.1.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.1.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">март 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.2.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.2.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">апрель 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.3.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.3.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">май 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.4.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.4.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">июнь 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.5.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.5.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">июль 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.6.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.6.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">август 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.7.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.7.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">сентябрь 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.8.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.8.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">октябрь 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.9.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.9.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">ноябрь 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.10.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.10.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">декабрь 2008</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.11.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.11.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">январь 2009</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.12.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.12.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">февраль 2009</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$users.13.cnt}</td>
		<td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$operations.13.cnt}</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
</table>