<table width="100%">
<tr>
	<td class="cat_add" colspan="6">
		<a href="index.php?modules=admin">Вернуться в панель администрирования</a><br><br>
	</td>
</tr>
{foreach from=$listExperts item=data}
<tr {if $data.active == 0}style="background-color:#FFCCCC;" {/if}>
	<td class="cat_add_experts">{$data.last_name} {$data.first_name} {$data.middle_name}</td>
	<td class="cat_add_experts">{$data.email}</td>
	<td class="cat_add_experts">{$data.rank} ({$data.voice_up} / {$data.voice_down})</td>
	<td class="cat_add_experts">{if !empty($data.photo)}<a href="/upload/photo_experts/{$data.photo}">Фото</a>{else}нет фото{/if}</td>
	<td class="cat_add_experts">{$data.date_created}</td>
	<td class="cat_add_experts">
		{if $data.active == 0}
			<a href="index.php?modules=admin&action=active_expert&id={$data.id}">Активировать</a>
		{else}
			<a href="index.php?modules=admin&action=blocked_expert&id={$data.id}">Блокировать</a>
		{/if}
	</td>
</tr>
{/foreach}
</table>