<table width="100%">
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=get_list_experts">Список экспертов</a>
	</td>
</tr>
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=get_list_category_for_experts">Список категорий для экспертов</a>
	</td>
</tr>
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=get_list_cost_for_experts">Список услуг для экспертов</a>
	</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=manage_articles">Статьи</a>
	</td>
</tr>
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=subscribe">Рассылка</a>
	</td>
</tr>
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=manage_system_categories">Системные категории</a>
	</td>
</tr>
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=manage_daily_currency">Ежедневные курсы валют</a>
	</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
	<td class="cat_add">
		<a href="index.php?modules=admin&action=statistic_cnt_user_and_operation">
        	Статистика: количество пользователей и операций за период по месячно
        </a>
	</td>
</tr>
</table>