<table width="100%" border="0">
<tr>
	<td width="100%">
    	<h3>Список категорий</h3>
	</td>
</tr>
</table>

<div id="createCategory">
<form action="index.php?modules=admin&action=manage_system_categories" method="post">
<table width="100%" border="0">
<tr>
	<td width="20%">Название категории</td>
    <td>
    	<input type="text" name="cat_name" style="width:250px;" value="{$select_cat.system_category_name}" />
   	</td>
</tr>
<tr>
	<td>Группа</td>
    <td>
    	<select name="sys_category">
        <option value="">- не привязывать -</option>
        {foreach from=$groups item=gdata}
        <option value="{$gdata.system_group_id}" {if $select_cat.system_group_id == $gdata.system_group_id} selected{/if}>{$gdata.system_group_name}</option>
        {/foreach}
        </select>
   	</td>
</tr>
<tr>
	<td>&nbsp;</td>
    <td>
    	<input type="hidden" value="{$select_cat.system_category_id}" name="cat_id">
    	<input type="submit" name="save_cat" value="Сохранить" />
   	</td>
</tr>
</table>
</form>
</div>

<div id="createCategory">
<form action="index.php?modules=admin&action=manage_system_categories" method="post">
<table width="100%" border="0">
<tr>
	<td width="20%">Название группы</td>
    <td>
    	<input type="text" name="group_name" style="width:250px;" />
   	</td>
</tr>
<tr>
	<td>&nbsp;</td>
    <td>
    	<input type="submit" name="save_group" value="Сохранить" />
   	</td>
</tr>
</table>
</form>
</div>

<table width="100%">
	<tr>
        <td width="20%" style="background-color:#B8C1DA; color:#FFF; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">Категория</td>
        <td width="15%" style="background-color:#B8C1DA; color:#FFF; padding:3px; font-size:14px; font-family:Verdana, Geneva, sans-serif;">Группа</td>
        <td style="background-color:#B8C1DA; color:#FFF; padding:3px; font-size:14px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    {foreach from=$categories item=data}
    <tr>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">
        	<a href="index.php?modules=admin&action=manage_system_categories&id={$data.system_category_id}">{$data.system_category_name}</a></td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">{$data.system_group_name}&nbsp;</td>
        <td style="border:1px solid #B8C1DA; padding:3px; font-size:12px; font-family:Verdana, Geneva, sans-serif;">&nbsp;</td>
   	</tr>
    {/foreach}
</table>