<script type="text/javascript">
{literal}
	function articleAddVisible()
	{
		$("#addArticle").show();
	}

	function articleAddInVisible()
	{
		$("#addArticle").hide();
	}
{/literal}
</script>

<table width="100%">
	<tr>
    	<td class=cat_add>
        	<input type="button" onclick="articleAddVisible();" value="Добавить статью" class="inputsubmit" /><br><br>
			<div id="addArticle" style="display:none;">
            <form action="index.php?modules=admin&action=manage_articles" method="post">
				<table width="100%" style=" background-color:#f8f8d8; padding-top:15px; padding-bottom:15px; border:1px dotted #ff6002;">
                <tr>
                    <td  align="right" class="cat_add" valign="top">
                        Название:
                    </td>
                    <td  align="left" class="cat_add">
                        <input type="text" value="" name="title" style="width:660px;">
                    </td>
                </tr>
                <tr>
                    <td  align="right" class="cat_add" valign="top">
                        Дата:
                    </td>
                    <td  align="left" class="cat_add">
                        <input type="text" name="date" value="{$date}">
                    </td>
                </tr>
                <tr>
                    <td  align="right" class="cat_add" valign="top">
                        Краткое описание:
                    </td>
                    <td  align="left" class="cat_add">
                        <textarea cols="80" rows="4" name="description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td  align="right" class="cat_add" valign="top">
                        Текст статьи:
                    </td>
                    <td  align="left" class="cat_add">
                        <textarea cols="100" rows="20" name="article"></textarea>
                    </td>
                </tr>
                <tr>
                    <td  align="right" class="cat_add" valign="top">&nbsp;</td>
                    <td  align="left" class="cat_add">
                        <input class="inputsubmit" type="submit" value="Сохранить">
                        <input class="inputsubmit" type="button" value="Отменить" onclick="articleAddInVisible();">
                    </td>
                </tr>
                </table>
            </form>
			</div>

        </td>
    </tr>
	<tr>
    	<td valign="top" width="100%" style=" background-color:#f8f8d8; padding:5px;">
        	<table width="100%" bgcolor="#ffffff" border="0" cellpadding="5" cellspacing="0">
            <tr>
            	<td class="td_data_header" width="3">&nbsp;</td>
				<td class="td_data_header" width="10%">Дата</td>
				<td class="td_data_header" width="20%">Название</td>
				<td class="td_data_header" width="67%">Описание</td>
			</tr>

            {foreach from=$articles item=data}
            <tr style="background-color: #FFFFFF;"
            	onmouseover="this.style.backgroundColor='#f8f6ea';"
                onmouseout="this.style.backgroundColor='#FFFFFF';">
                <td class="td_data_content">
                	<a href="index.php?modules=admin&action=manage_articles&del={$data.id}"><img src="img/delete.gif" title="Удалить" border="0" alt="Удалить" style="cursor:pointer;"/></a></td>
            	<td class="td_data_content" valign="top">{$data.date_f}</td>
				<td class="td_data_content" valign="top">{$data.title}</td>
                <td class="td_data_content" valign="top">{$data.description}&nbsp;</td>
            </tr>
			{/foreach}

            </table>
        </td>
    </tr>
</table>