<script type="text/javascript" src="js/jquery/jquery.ui.js"></script>
<script type="text/javascript" src="js/jquery/jquery.datapicker.ru.js"></script>
<link rel="stylesheet" href="css/jquery/jquery.ui.css" type="text/css" />

<style type="text/css">
{literal}#ui-datepicker-div { font-size: .7em!important; }{/literal}
</style>

<script type="text/javascript">
{literal}
	$(function() {
		$("#datepicker").datepicker();
		$("#datepicker1").datepicker();
		$("#datepicker2").datepicker();
	});

	function currencyAddVisible()
	{
		$("#addCurrency").show();
	}

	function currencyAddInVisible()
	{
		$("#addCurrency").hide();
	}
{/literal}
</script>
<table width="100%">
	<tr>
    	<td class=cat_add>
        	<input type="button" onclick="currencyAddVisible();" value="Добавить курс валюты" class="inputsubmit" />&nbsp;
			<input type="button" onclick="location.href='index.php?modules=admin&action=manage_daily_currency&area=automatic'"
            	value="Автоматический сбор курсов" class="inputsubmit" /><br><br>

			<div id="addCurrency" style="display:none;">
            <form action="index.php?modules=admin&action=manage_daily_currency" method="post">
				<table width="100%" style=" background-color:#f8f8d8; padding-top:15px; padding-bottom:15px; border:1px dotted #ff6002;">
                <tr>
                	<td  align="right" class="cat_add" width="15%">Валюта:</td>
					<td  align="left" class="cat_add" width="85%">
                    	<select name="currency_name" id="currency_name" style="width:200px;">
                            {foreach from=$currency_names item=data}
                            <option value="{$data.cur_id}">{$data.cur_name_value}</option>
                            {/foreach}
                   		</select>
                    </td>
                </tr>
                <tr>
                    <td  align="right" class="cat_add" valign="top">
                        Сумма:
                    </td>
                    <td  align="left" class="cat_add">
                        <input type="text" id="pos_oc" value="" style="width:80px;" OnKeyUp="onSumChange(); onSumConvert('add');">&nbsp;<b>Пример:</b> 125.50
                        <input type="hidden" name="currency_sum" id="pos_mc" size="7">
                    </td>
                </tr>
                <tr>
                    <td  align="right" class="cat_add" valign="top">
                        Дата:
                    </td>
                    <td  align="left" class="cat_add">
                        <input type="text" id="datepicker" name="currency_date">
                    </td>
                </tr>
                <tr>
                    <td  align="right" class="cat_add" valign="top">&nbsp;</td>
                    <td  align="left" class="cat_add">
                        <input class="inputsubmit" type="submit" value="Сохранить">
                        <input class="inputsubmit" type="button" value="Отменить" onclick="currencyAddInVisible();">
                    </td>
                </tr>
                </table>
            </form>
			</div>

        </td>
    </tr>
	<tr>
    	<td class=cat_add>
            <div>
            	<form action="index.php?modules=admin&action=manage_daily_currency" method="get">
                <input type="hidden" name="modules" value="admin"><input type="hidden" name="action" value="manage_daily_currency">
            	с: <input type="text" id="datepicker1" value="{$filter.cur_date_from}" name="dateFrom">&nbsp;
                по: <input type="text" id="datepicker2" value="{$filter.cur_date_to}" name="dateTo">
                    &nbsp;&nbsp;
				категория:
                    <select name="f_currency_name" id="f_currency_name">
                        <option label="Все" value=""> --- Все ---</option>
                        {foreach from=$currency_names item=data}
                        <option value="{$data.cur_id}" {if $filter.cur_id == $data.cur_id} selected {/if}>{$data.cur_name_value}</option>
                        {/foreach}
                    </select>&nbsp;&nbsp;
				<input type="submit" value="Обновить данные" class="inputsubmit" id="reloadData"/>
                </form>
            </div>
			<br>
			<span style="color: #bc5f5f; font-size:14px;" id="badOperation">{$error_text}</span>
        </td>
	<tr>
    <tr>
    	<td valign="top" width="100%" style=" background-color:#f8f8d8; padding:5px;">
        	<table width="100%" bgcolor="#ffffff" border="0" cellpadding="5" cellspacing="0">
            <tr>
				<td colspan="5" class="cat_add" bgcolor="#f8f8d8"><span style="color: rgb(56, 120, 215);">{$error_xml}</span></td>
			</tr>

            <tr>
				<td class="td_data_header" width="10%">Дата</td>
				<td class="td_data_header" width="10%">Валюта</td>
				<td class="td_data_header_currency_format" width="20%">Сумма</td>
                <td class="td_data_header" width="20%">Разница</td>
				<td class="td_data_header">&nbsp;</td>
			</tr>

            {foreach from=$currencies item=data}
            <tr style="background-color: #FFFFFF;"
            	onmouseover="this.style.backgroundColor='#f8f6ea';"
                onmouseout="this.style.backgroundColor='#FFFFFF';">
            	<td class="td_data_content">{$data.currency_date}</td>
				<td class="td_data_content">[{$data.cur_char_code}]&nbsp;&nbsp;{$data.cur_name_value}</td>
				<td class="td_data_content_currency_format">{$data.currency_sum}</td>
                <td class="td_data_content">&nbsp;</td>
				<td class="td_data_content">&nbsp;</td>
            </tr>
			{/foreach}

            </table>
        </td>
    </tr>
</table>