<div style="margin:20px;">
    <h2>Тарифный план «EASYFINANCE» - автоматический учет личных финансов!</h2>

    <b>Теперь учет финансов за Вас автоматически ведет EasyFinance.ru!</b>

    У Вас отпадает необходимость вручную вносить информацию по проведенным операциям в систему для ведения ежедневного учета доходов и расходов.<br><br>

    <h2>Представляем Вам тариф «EASYFINANCE» от <a href="http://www.amtbank.com/ru/">AMT-Банка</a>.</h2>

    Откройте карточный счет в рублях, долларах США или евро, к которому предоставляются карты платежных систем VISA Platinum/Gold/Classic/Unembossed (неименная) или MasterCard Gold/Standard, на основании анкеты и соответствующего договора и получите  услугу автоматического учета Ваших операций по счету АМТ-Банка бесплатно! Узнать <a href="http://www.amtbank.com/ru/private/fee/042610_cards_3.pdf">полные условия</a>.

    <br><br> <img src="/img/i/amt/amtcard1.png" ><img src="/img/i/amt/amtcard2.png" >

    <br><br><h2>Что нужно делать?</h2>

    Для получения карты АМТ-Банка с автоматическим учетом в EasyFinance.ru необходимо:<br><br>

    1. Создать специальный почтовый адрес на сайте easyfinance.ru - (ваш_адрес@mail.easyfinance.ru)<br>
    2. Заполнить и подписать распечатанную анкету, указав в ней созданный почтовый адрес<br>
    3. Сдать анкету в один из дополнительных офисов АМТ Банка

    <br><br><h2>Что Вы получаете?</h2>

    1. Автоматический учет операций – экономия времени,  Вы легко и просто будете в курсе своего финансового состояния!<br>
    2. Банковскую карту от АМТ-Банка, лауреата премии <a href="http://www.banki.ru/bankofyear/2009/">«Банк года»</a> по версии <a href="http://www.banki.ru">www.banki.ru</a> в номинации «Народный рейтинг» - комфортабельное обслуживание в офисах и отделениях банка.

    <br><br><h2>Как это работает?</h2>

    Просто! На Ваш адрес (ваш_адрес@mail.easyfinance.ru) передается только информация о Ваших операциях (по защищенному каналу), которая автоматически учитывается в Ваших данных (с возможностью их отредактировать).

    <br><br><h2>А это безопасно?</h2>

    Да! Из сервиса EasyFinance.ru  нельзя осуществлять никаких операций с Вашими деньгами в банке.

    <br><br><h2>Остались вопросы?</h2>

    Пишите нам или оставьте отзыв из Вашего аккаунта в системе, и мы Вам обязательно ответим!<br><br>

    Также работают горячие линии:<br><br>

    +7 (495) 971 00 52 – EasyFinance.ru <br>
    +7 (800) 333 82 82 – AMT-Банк

    <br><br><h2>Действия для запуска интеграции:</h2>
</div>