		<div class="ramka2">
			<div class="cct"></div>
			<div class="mid general_cont">
				{if $user_info.user_id > 0}
                    <div>Блок для авторизованных пользователей</div>
                {else}
                    <div>Блок для неавторизованных пользователей</div>
                    <br><br>
                    <div align="center">
                        {include file="common/registration.html"}
                    </div>
                {/if}
			</div>
			<div class="ccb"></div>
		</div>

<!--/середина-->
