        {include file="../sf/apps/frontend/templates/_common/accountEdit.php"}

        <div class="ramka2 compact">
            <div class="cct">
                <i class="tl"></i>
                <i class="tr"></i>
            </div>
            <div class="ccm">
                <div class="ccm-container">
                <div class="mid general_cont">
                    <div>
                        {include file="integration/amt-intro.html"}

                        {if $user_info.user_id > 0}
                            <!--
                            <div>Блок для авторизованных пользователей</div><br>
                            -->
                        {else}
                            <!--
                            <div>Блок для неавторизованных пользователей</div><br>
                            -->
                        {/if}
                    </div>
                    <div id="integrationSteps">
                        <h3><a id="integrationStep1" href="#" {if $user_info.user_id > 0}class="complete"{/if}>1. {if $user_info.user_id > 0}Войти в систему - готово!{else}Зарегистрироваться или войти{/if}</a></h3>
                        <div>
                            {if $user_info.user_id > 0}
                                <div>Блок для авторизованных пользователей</div><br>
                            {else}
                                <div align="left">
                                    <input id="btnShowLogin" type="button" value="Войти" />&nbsp;&nbsp;&nbsp;или&nbsp;&nbsp;
                                    <input id="btnShowRegister" type="button" value="Зарегистрироваться" />&nbsp;&nbsp;&nbsp;
                                    <!-- <a href="/registration" target="_blank">зарегистрироваться</a>
                                    (форма регистрации откроется в новом окне, после регистрации и входа в систему обновите это окно)<br> -->
                                    {include file="common/registration.html"}
                                    {include file="common/authentication.html"}
                                </div>
                            {/if}
                        </div>
                        <h3><a id="integrationStep2" href="#">2. Создать E-Mail</a></h3>
                        <div>
                            <div id="integration" class="profile" style="display:block">
                                <div id="content" class="inside form">
                                    <div class="email line">
                                        <div class="description">
                                            <!--
                                            <p>Вы можете заводить операции по email автоматически. Т.е. из банковских сообщений об операциях с  карточкой или счетом.</p>
                                            <p>Для этого нужно создать в системе специальный секретный email, письма на который будут обрабатываться автоматически.</p>
                                            -->
                                            <p>Необходимо создать в системе специальный email, который Вы укажете в анкете на получение карты, и на который из банка будет приходить информация о Ваших операциях.</p>

                                            <ul class="numberWithPoint">Email должен быть:
                                                <li>легко запоминаемым, чтобы безошибочно указать его в анкете</li>
                                                <li>не связанным с Вашими личными данными – логином, именем, фамилией, паролем, другим email и т.п. – чтобы другой пользователь, даже обнаружив его существование при попытке создать свой email, ничего о Вас не узнал</li>
                                            </ul>
                                        </div><br>
                                        <div class='notExist'>
                                            <p>
                                                <label for="txtIntegrationEmail" class="eventDescription">Желаемый email:</label>
                                            </p>
                                        </div>
                                        <div id='errorMessageInvalidEmail'></div>
                                        <div class='notExist'><p>
                                                <input type="text" value='' id='txtIntegrationEmail'>
                                                <label for="txtIntegrationEmail" class="emailPostfix">@mail.easyfinance.ru</label>
                                                <button id='btnGetIntegrationEmail'>Создать</button>
                                            </p>
                                        </div>
                                        <div class='exist'>Ваш e-mail для интеграции: <span id='lblIntegrationEmail'>default@ef.ru</span>
                                            <button id="btnIntegrationEmailRemove" class='remove' title='Удалить'>Удалить</button>
                                        </div>
                                    </div>
                                    <button id='btnIntegrationMailNext' class="hidden" style="font-weight: bold">Далее</button>
                                </div>
                            </div>
                        </div>
                        <h3><a id="integrationStep3" href="#">3. Задать счет для интеграции</a></h3>
                        <div>
                            <!-- <div>Здесь инструкция</div><br> -->
                            <div>
                                <button id='btnCreateAccount'>Создайте счёт</button> для карты "EASYFINANCE"<br><br>

                                <div id="divAmtAccounts" class="hidden">Или выберите счёт из списка (отображаются только дебетовые карты):
                                <select id="optionAccount"></select><br><br></div>

                                <button id='btnBackToEmail' style="font-weight: bold">Назад</button>
                                <button id='btnLinkAccount' style="font-weight: bold">Далее</button>

                            </div>
                        </div>
                        <h3><a id="integrationStep4" href="#">4. Заполнить и распечатать анкету</a></h3>
                        <div>
                            <button id='btnBackToAccount' style="font-weight: bold">Назад</button><br><br>
                            {include file="integration/amt-wizard.html"}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="ccb">
        <i class="bl"></i>
        <i class="br"></i>
    </div>
        </div>
<!--/середина-->
