<table width="100%" bgcolor="#ffffff" border="0" cellspacing="0">
    <tbody>    
    <tr>
        <td class="cat_add" colspan="3" style="padding:5 0 15 5; background-color:#f8f8d8; border-bottom: 1px solid rgb(204, 204, 204);">
        	<span style="color: rgb(56, 120, 215);" id="loader"></span>
            <span style="color: rgb(56, 120, 215);" id="information_text">Для редактирования категории выберите ее в списке.</span>
        </td>
    </tr>
    <tr>
        <td class="cat_add" style="border-bottom: 1px solid #CCC; padding: 5 0 5 25;" width="50%"><b>Категория</b></td>
        <td class="cat_add" style="border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; padding-left: 25px;" width="10%"><b>Тип</b></td>
        <td class="cat_add" style="border-bottom: 1px solid #CCC; border-left: 1px solid #CCC; padding-left: 25px;" width="40%"><b>Системная категория</b></td>
	</tr>
    <tr>
        <td class="cat_add" colspan="3" style="padding-bottom:5px; background-color:#fff;">        	
        	{if !empty($error)}<span style="color:#F00; font-weight:bold;">{$error}</span>{/if}
            &nbsp;
        </td>
    </tr>
    
    {foreach from=$categories item=data}
    {if $data.type == $filtr_type || $filtr_type == -1}      
    <tr style="background-color: rgb(255, 255, 255);" 
                onmouseover="this.style.backgroundColor='#f8f6ea'; visible_block_del({$data.cat_id},0);" 
                onmouseout="this.style.backgroundColor='#FFFFFF'; visible_block_del({$data.cat_id},1);">

        <td class="cat_add" style="padding-left: 20px;" valign="middle">							
            <img src="img/tree/folderopen.gif">							
            <span id="name_id_{$data.cat_id}">
				<a href="javascript:editCategory({$data.cat_id});">{$data.cat_name}</a>
			</span>
            <span id="ico_del_{$data.cat_id}" style="display:none; padding-left:10px;">
				<img src="img/delete.gif" border="0" style="cursor:pointer;" onClick="javascript:deleteCategory({$data.cat_id});"/>
			</span>					
        </td>
	<td class="cat_add" style="padding-left:25px; border-left:1px solid #CCC;">
		<img src="img/cat_type_{$data.type}.jpg">
	</td>
	<td class="cat_add" align="left" style="padding-left:25px; border-left:1px solid #CCC;">
		{$data.system_category_name}&nbsp;
	</td>
    </tr>
    
    {if (!empty($data.childNodes))}
        {foreach from=$data.childNodes item=child}
        {if $child.type == $filtr_type || $filtr_type == -1}
        <tr style="background-color: rgb(255, 255, 255);" 
                onmouseover="this.style.backgroundColor='#f8f6ea'; visible_block_del({$child.cat_id},0);" 
                onmouseout="this.style.backgroundColor='#FFFFFF'; visible_block_del({$child.cat_id},1);">

            <td class="cat_add" style="padding-left: 40px; padding-bottom:2px;padding-top:2px;" valign="middle">							
                <img src="img/tree/joinbottom.gif"><img src="img/tree/page.gif">
				<span id="name_id_{$child.cat_id}">
                	<a href="javascript:editCategory({$child.cat_id});">{$child.cat_name}</a>
				</span>
                <span id="ico_del_{$child.cat_id}" style="display:none; padding-left:10px;">
                    <img src="img/delete.gif" border="0" style="cursor:pointer;" onClick="deleteCategory({$child.cat_id});"/>
				</span>
            </td>
		<td class="cat_add" style="padding-left:25px; border-left:1px solid #CCC;">
			<img src="img/cat_type_{$child.type}.jpg">
		</td>
		<td class="cat_add" style="padding-left:25px; border-left:1px solid #CCC;">
			{$child.system_category_name}&nbsp;
		</td>
        </tr>
        {/if}
        {/foreach}
    {/if}
    {/if}
    {/foreach}

    <tr>
        <td class="cat_add" style="padding-bottom:5px; background-color:#fff;">&nbsp;</td>
    </tr>
    
    </tbody>
</table>
