<!--Ввод операции-->
					<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h2>Ввод операции</h2>
								<ul class="action">
									<li class="over1"><a href="#" title="настройки">настройки</a></li>
									<li class="over2"><a href="#" title="закрыть">закрыть</a></li>
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
						<div class="inside">
							<ul class="buttons_block">
								<li id="addoperation_but" class="act"><a href="#" title="Добавить операцию">Добавить операцию</a></li>
								<li id="addtocalendar_but"><a href="#"title="Добавить в календарь">Добавить в календарь</a></li>
							</ul>
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Ввод операции-->