<script type="text/javascript" src="/js/jquery/jquery.form.js"></script>
<script type='text/javascript' src='/js/jquery/ui.core.js'></script>
<script type='text/javascript' src='/js/jquery/ui.datepicker.js'></script>
<script type='text/javascript' src='/js/accounts.js?r={$revision}'></script>


    <div class="ramka3">
        <div class="ct">
            <div class="head">
                <h2>Добавить счёт</h2>
                <ul class="action">
                    <li class="over1"><a href="#" title="настройки">настройки</a></li>
                    <li class="over2"><a href="#" title="закрыть">закрыть</a></li>
                    <li class="over3"><a href="#" title="свернуть">свернуть</a></li>
                </ul>
            </div>
        </div>
        {include file="accounts/accounts.block_create.html"}
        <div class="cb"></div>
    </div>
    <div class="ramka3">
    <div class="ct">
	<div class="head">
            <h2>Журнал счетов</h2>
            <ul class="action">
                <li class="over1"><a href="#" title="настройки">настройки</a></li>
		<li class="over2"><a href="#" title="закрыть">закрыть</a></li>
		<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
            </ul>
	</div>
    </div>
    <div class="inside operation_list">
        <div>
            <div id="operation_list">

            </div>
        </div>
    </div>
    <div class="cb">
    </div>
</div>