<!--правая колонка-->
				<div class="block3 ramka3">
					<div class="ct head">
						<h2>Настройки</h2>
						<ul class="action">
							<li class="over1"><a href="#" title="настройки">настройки</a></li>
							<li class="over2"><a href="#" title="закрыть">закрыть</a></li>
							<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
						</ul>
					</div>
					<dl class="info">
						<dt>Курсы валют</dt>
						<dd>
							<div class="line">
								<span class="valuta">Euro</span>
								<span class="down">35,55</span>
								<span class="up">36,15</span>
							</div>
							<div class="line">
								<span class="valuta">USD</span>
								<span class="up">35,55</span>
								<span class="down">36,15</span>
							</div>
						</dd>
						<dt>События календаря</dt>
						<dd>
							<ul class="list1">
								<li><span>24.04.09</span><a href="#">Купить особняк!</a></li>
								<li><span>02.05.09</span><a href="#">Получить зарплату</a></li>
								<li><span>11.05.09</span><a href="#">Сделать отчет</a></li>
							</ul>
						</dd>
						<dt><b>Топ 5</b> операций</dt>
						<dd>
							<ul class="list2">
								<li><span>24.04.09</span> 2 000 000 руб. <a href="#">Отправил дяде в Бразилию.</a></li>
								<li><span>16.05.09</span> 1 500 руб. <a href="#">Взятка директору.</a></li>
							</ul>
						</dd>
					</dl>
				<!--календарь-->
					<div class="calendar_block">
						<h2>Календарь</h2>
						<div class="calendar">
							<div class="month">Сентябрь</div>
							<div class="days">
								<div>
									<span class="h">пн</span>
									<span class="h">вт</span>
									<span class="h">ср</span>
									<span class="h">чт</span>
									<span class="h">пт</span>
									<span class="h">сб</span>
									<span class="h">вс</span>


									<span><a href="#">1</a></span>
									<span class="w"><a href="#">2</a></span>
									<span class="w"><a href="#">3</a></span>
									<span><a href="#">4</a></span>
									<span><a href="#">5</a></span>
									<span class="w"><a href="#">6</a></span>
									<span class="w"><a href="#">7</a></span>


									<span><a href="#">8</a></span>
									<span><a href="#">9</a></span>
									<span><a href="#">10</a></span>
									<span><a href="#">11</a></span>
									<span><a href="#">12</a></span>
									<span class="w"><a href="#">13</a></span>
									<span class="w"><a href="#">14</a></span>

									<span><a href="#">15</a></span>
									<span><a href="#">16</a></span>
									<span><a href="#">17</a></span>
									<span><a href="#">18</a></span>
									<span><a href="#">19</a></span>
									<span class="w"><a href="#">20</a></span>
									<span class="w"><a href="#">21</a></span>

									<span><a href="#">22</a></span>
									<span><a href="#">23</a></span>
									<span><a href="#">24</a></span>
									<span><a href="#">25</a></span>
									<span><a href="#">26</a></span>
									<span class="w"><a href="#">27</a></span>
									<span class="w"><a href="#">28</a></span>

									<span><a href="#">29</a></span>
									<span><a href="#">30</a></span>
									<span><a href="#">31</a></span>
									<span>1</span>
									<span>2</span>
									<span>3</span>
									<span>4</span>
								</div>
							</div>
						</div>
					</div>
				<!--/календарь-->
				<!--калькулятор-->
					<div class="calculator_block">
						<h2>Калькулятор</h2>
						<div class="calculator">
							<div>
								<span class="fieldinput"></span>
								<span title="7">7</span>
								<span title="8">8</span>
								<span title="9">9</span>
								<span title="+">+</span>
								<span title="C">С</span>

								<span title="4">4</span>
								<span title="5">5</span>
								<span title="6">6</span>
								<span title="-">-</span>
								<span title="M+">M+</span>

								<span title="1">1</span>
								<span title="2">2</span>
								<span title="3">3</span>
								<span title="/">/</span>
								<span title="M">M-</span>

								<span title="0">0</span>
								<span title=".">.</span>
								<span title="=">=</span>
								<span title="*">*</span>
								<span title="М">M</span>
							</div>
						</div>
					</div>
				<!--/калькулятор-->
				</div>
		<!--/правая колонка-->
