{literal}
<!-- {* Убрать блок ниже в нормальный CSS файл *} -->
<style type="text/css">
    .editAccount { 
        /*title : "Редактировать";
        alt: "Редактировать";
        border: 0;*/
        cursor:pointer;
    }
    .delAccount {
        /*title:"Удалить";
        border: 0;
        alt:"Удалить";*/
        cursor:pointer; 
    }
    cat_tr {
        background-color: rgb(255, 255, 255);
    }
 </style>
{/literal}
<script type="text/javascript" src="/js/jquery/jquery.form.js"></script>
<script type='text/javascript' src='/js2/jquery/ui.core.js'></script>
<script type='text/javascript' src='/js2/jquery/ui.datepicker.js'></script>
<script type='text/javascript' src='/js2/accounts.js?r={$revision}'></script>
<div id="blockCreateAccounts" style="display:none;">
    {include file="accounts/accounts.block_create.html"}
</div>
<table width="100%">
    <tr>
        <td valign="top" width="100%" style=" background-color:#f8f8d8; padding:5px;">
            <table width="100%" bgcolor="#ffffff" border="0" cellspacing="0">
        	<tbody>
                    <tr>
                        <td class="cat_add" colspan="5" style="border-bottom: 1px solid rgb(204, 204, 204); padding: 5px 0pt 15px 5px; background-color: rgb(248, 248, 216);">
                            <span style="color: rgb(56, 120, 215);" id="loader"></span>
                            <span style="color: rgb(56, 120, 215);" id="information_text">Для редактирования счета выберите ее в списке.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="cat_add" style="border-bottom: 1px solid rgb(204, 204, 204); padding: 5px 0pt 5px 25px;" width="30%">
                            <b>Название</b>
                        </td>
                        <td class="cat_add" style="border-left: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding-left: 15px; padding-right: 10px;"  width="15%">
                            <b>Тип счета</b>
                        </td>
                        <td class="cat_add" style="border-left: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding-left: 25px;" width="55%">
                            <b>Комментарий</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="cat_add" colspan="3">
                            <div id="dataAccounts">
                                {include file="accounts/accounts.list.html"}
                            </div>
                        </td>
                    </tr>
		</tbody>
            </table>
	</td>
    </tr>
</table>