{include file="mainmenu.html"}
    <div class="ramka3">
        <div class="ct">
            <div class="head">
                <h2>Счёт</h2>
                <ul class="action">
                    <li class="over3"><a href="#" title="свернуть">свернуть</a></li>
                </ul>
            </div>
        </div>
        {include file="accounts/accounts.block_create.html"}
        <div class="cb"><div></div></div>
    </div>
    <div class="ramka3">
        <div class="ct">
            <div class="head">
                <h2>Журнал счетов</h2>
                <ul class="action">


                    <li class="over3"><a href="#" title="свернуть">свернуть</a></li>
                </ul>
            </div>
        </div>

        <div id="total_amount" class="inside operation_list" style="height:auto"></div>

        <div id="divAccountsJournal" class="inside operation_list">
            <div>
                <div id="operation_list">

                </div>
               
            </div>
             
        </div>
        
        <div class="cb"><div></div></div>
    </div>
