<div class="ramka2">
<div class="cct"></div>
<div id="auth" class="formRegister" >
    <!-- <div class="logo"><a href="http://easyfinance.ru"><img src="/img/i/logo_iframe.png"></a></div> -->

    <h2>Создание нового пароля</h2>

    <div class="loginMessage">{$loginMessageText}</div>
    <div class="loginError">{$loginErrorText}</div>

    <table cellpadding="0" cellspacing="0">
    <tr>
        <td class="name">Пароль:</td>
        <td>
            <input type="password" id="pass" name="pass" />
            <input id="verifyCode" type="hidden" name="verifyCode"/>
        </td>
    </tr>
    <tr>
        <td class="name">Подтвердите пароль:</td>
        <td>
            <input type="password" id="pass2" name="pass2" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input id="btnLogin" type="button" value="Восстановить пароль" class="but"/></td>
    </tr>
    </table>
</div>
{literal}
<script type="text/javascript">
    // by Jet. ticket #540
    $(document).ready(function() {
        $('#btnLogin').click(function() {
            $.post('/restore/submit_confirm',
                {pass: $('#pass').val(), pass2: $('#pass2').val()},
                function(data) {
                    if (data) {
                        if (data.result) {
                            $.jGrowl(data.result.text, {theme: 'green'});
                        } else {
                            $.jGrowl(data.error.text, {theme: 'red'});
                        }
                    } else {
                        $.jGrowl('Ошибка на сервере!', {theme: 'red'});
                    }
                },
                "json"
            );
        });
    });
</script>
{/literal}
<div class="ccb"></div>
</div>
