<div class="ramka2">
<div class="cct"></div>
<div id="auth" class="formRegister" >
    <!-- <div class="logo"><a href="http://easyfinance.ru"><img src="/img/i/logo_iframe.png"></a></div> -->

    <h2>Восстановление пароля</h2>

    <div class="loginMessage">{$loginMessageText}</div>
    <div class="loginError">{$loginErrorText}</div>

    <table cellpadding="0" cellspacing="0">
    <tr>
        <td class="name">Логин:</td>
        <td>
            <input id="flogin" type="text" name="login"/>
            <input id="verifyCode" type="hidden" name="verifyCode"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input id="btnLogin" type="button" value="Восстановить пароль" class="but"/></td>
    </tr>
    </table>
</div>
{literal}
<script type="text/javascript">
    // by Jet. ticket #540
    $(document).ready(function() {
        $('#btnLogin').click(function() {
            $(this).attr('disabled', 'disabled');
            
            $.post('/restore/submit_request',
                {login: $('#flogin').val(), verifyCode: $.cookie('sessIds')},
                function(data) {
                    if (data) {
                        if (data.result) {
                            $.jGrowl(data.result.text, {theme: 'green'});
                        } else {
                            $.jGrowl(data.error.text, {theme: 'red'});
                        }
                    } else {
                        $.jGrowl('Ошибка на сервере!', {theme: 'red'});
                    }
                },
                "json"
            );
        });
        
        $('#auth').keypress(function(e){
            //if generated character code is equal to ascii 13 (if enter key)
            if(e.keyCode == 13){
                //submit the form
                $('#btnLogin').click().attr('disabled', 'disabled');
                return false;
            } else {
                return true;
            }
        });
    });
</script>
{/literal}
<div class="ccb"></div>
</div>
