AddDefaultCharset utf-8
php_flag register_globals Off
php_flag display_errors On
php_flag magic_quotes_gpc Off
php_flag short_open_tag Off

RewriteEngine On
RedirectMatch 404 /\.svn(/|$)
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [PT,L]
