<script type='text/javascript' src='/js2/budget.js?r={$revision}'></script>

<table border="0" width="100%">
<tbody>
    <tr><td valign="top" width="25%">
            <h3>Планирование бюджета</h3>
        </td>
        <td align="left">
            <form action="#">
                <input value="Создать новый план" class="inputsubmit" style="width: 180px;" type="button" id="create_plan">
            </form>
        </td>
    </tr>
</tbody></table>

<div id="change_history_period">
    <a href="#" id="prev_month">Предыдущий месяц</a>
    <a href="#" id="next_month">Следующий месяц</a>
</div>

<div id="form_create_plan"></div>
<div id="list"></div>
