	<!--меню-->
		<div class="menu3">
			<ul>
				<li id="m1"><a href="/info/" title="Инфо-панель">Инфо-панель</a></li>
				<li id="m2"><a href="/accounts/" title="Счета">Счета</a></li>
				<li id="m3"><span>Бюджет</span></li>
				<li id="m4"><a href="/report/" title="Отчеты">Отчеты</a></li>
				<li id="m5"><a href="/calendar/" title="Календарь">Календарь</a></li>
				<li id="m6"><a href="#" title="Сервисы">Сервисы</a></li>
			</ul>

			<div class="popup_info">
				<div class="mark"></div>
				<b>Лунный календарь</b> основан на продолжительности синодического, или лунного месяца (29,53059 сут), определяемого периодом смены лунных фаз; при этом не
			</div>
		</div>
	<!--/меню-->