<!--Бюджет-->
					<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h2>Бюджет</h2>
								<ul class="action">
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
						<div class="inside budget">
							<form action="">
								<div class="f_field1">
									<div>
										<span>Показать план бюджета за </span>
										<select id="month" name="month">
											<option value="1">Январь</option>
                                                                                        <option value="2">Февраль</option>
                                                                                        <option value="3">Март</option>
                                                                                        <option value="4">Апрель</option>
                                                                                        <option value="5">Май</option>
                                                                                        <option value="6">Июнь</option>
                                                                                        <option value="7">Июль</option>
                                                                                        <option value="8">Август</option>
                                                                                        <option value="9">Сентябрь</option>
                                                                                        <option value="10">Октябрь</option>
                                                                                        <option value="11">Ноябрь</option>
                                                                                        <option value="12">Декабрь</option>
										</select>
										<input type="text" value="" id="year" name="year"/>
									</div>
								</div>
								<div class="f_field2">
									<div class="field">
										<span>Общий бюджет</span>
                                                                                <input id="total_budget" type="text" value="12 500 00" readonly="readonly"/>
										
									</div>
								</div>
								<div class="f_field3">
									<div class="income">Итого доходов: <span><b>1 131 200</b> руб.</span></div>
									<div class="waste">Итого расходов: <span><b>1 131 200</b> руб.</span></div>
									<div class="rest">Остаток: <span><b>1 131 200</b> руб.</span></div>
								</div>
							</form>
						<!--таблица-->
							<div class="waste_list">
								<div class="h">
									<table>
										<tr>
											<td class="w1">Категория</td>
											<td class="w2">Сумма</td>
											<td class="w3">Год. лимит</td>
											<td class="w4">Сред. расход</td>
											<td class="w5">Теги</td>
										</tr>
									</table>
								</div>
								<div class="scroll_cont">
									<div class="scroll" style="top: 0; height: 67px;"></div>
									<form action="">

										<div class="line open">
											<a href="#" class="name">Автомобиль</a>
											<div class="amount">912 500 000</div>
										<!--доп пункты-->
											<table>
												<tr>
													<td class="w1"><a href="#">Аренда автомобиля</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Бензин</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Мойка автомобиля</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>1 14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Платные дороги, штрафы</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>1 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Стоянка</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Техническое обслуживание</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>1 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
											</table>
										<!--/доп пункты-->
										</div>
                                        <!-- СЮДА ВСТАВЛЯТЬ -->
									</form>
								</div>
							</div>
						<!--/таблица-->
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Бюджет-->