<!--левая колонка-->
				<div class="block1">
					<ul class="control">
						<li id="c1"><a href="#" title="действие 1">действие 1</a></li>
						<li id="c2"><a href="#" title="действие 3">действие 2</a></li>
						<li id="c3" class="act">действие 3</li>
						<li id="c4"><a href="#" title="действие 4">действие 4</a></li>
						<li id="c5"><a href="#" title="действие 5">действие 5</a></li>
					</ul>
				<!--Виды счетов-->
					<div class="listing accounts">
						<div class="title">
							<h2>Виды счетов</h2>
							<a href="#" title="Добавить" class="add">Добавить</a>
						</div>
						<dl class="bill_list">
							<dt>Кредитные карты</dt>
							<dd>
								<ul>
									<li><a href="#"><span>Карта Сбер</span> <b>1 450 785 руб.</b></a></li>
									<li><a href="#"><span>Карта Альфа</span> <b>250 000 руб.</b></a></li>
								</ul>
							</dd>
							<dt>Наличные</dt>
							<dd>
								<ul>
									<li><a href="#"><span>Квартира</span> <b>650 300 $</b></a></li>
									<li><a href="#"><span>Поездка в Турцию</span> <b>2 395 $</b></a></li>
								</ul>
							</dd>
							<dt>Депозиты</dt>
							<dd>
								<ul>
									<li><a href="#"><span>Покупка дома</span> <b>50 000 000 руб.</b></a></li>
									<li><a href="#"><span>Образование детям</span> <b>120 400 руб.</b></a></li>
								</ul>
							</dd>
							<dt>Сумма:</dt>
							<dd class="amount">
								<div>8 539 447 <span>руб.</span></div>
								<div>124 500 <span>$</span></div>
							</dd>
						</dl>
					</div>
				<!--/Виды счетов-->
				<!--Финансовые цели-->
					<div class="listing financobject" style="display: block;">
						<div class="title">
							<h2>Финансовые цели</h2>
							<a href="#" title="Добавить" class="add">Добавить</a>
						</div>
						<ul>
							<li>
								<a href="#">Кредитные карты</a>
								<b>1 450 785</b>  <span>(15%)</span>
								<span class="date">25 декабря</span>
							</li>
							<li>
								<a href="#">Наличные</a>
								<b>45 120</b>  <span>(30%)</span>
								<span class="date">25 декабря</span>
							</li>
							<li>
								<a href="#">Дебетовые карты</a>
								<b>7 030 092</b>  <span>(56%)</span>
								<span class="date">25 декабря</span>
							</li>
							<li>
								<a href="#">Депозиты</a>
								<b>13 450</b>  <span>(10%)</span>
								<span class="date">25 декабря</span>
							</li>
						</ul>
						<h2>5 самых популярных</h2>
						<ul class="popular">
							<li><a href="#">Кредитные карты</a></li>
							<li><a href="#">Наличные</a></li>
							<li><a href="#">Дебетовые карты</a></li>
							<li><a href="#">Депозиты</a></li>
						</ul>
						Последователей:  <b>25</b>
						Достигнуто целей:  <b>12</b>
					</div>
				<!--/Финансовые цели-->
				</div>
		<!--/левая колонка-->