<!--Бюджет-->
					<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h2>Бюджет</h2>
								<ul class="action">
									
									
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
						<div class="inside budget">
							<form action="">
								<div class="f_field1">
									<div>
										<span>Показать планирование бюджета за </span>
										<select>
											<option>Сентябрь</option>
										</select>
										<select>
											<option>2009</option>
										</select>
										<a href="#" title="Выбрать дату">Выбрать дату</a>
									</div>
								</div>
								<div class="f_field2">
									<div class="field">
										<span>Общий бюджет</span>
										<input type="text" value="12 500 00" />
										<a href="#" title="Пересчитать">Пересчитать</a>
									</div>
							<!--бегун-->
									<div class="begun">
										<div class="mark" style="left: 14px;"></div>
									</div>
							<!--/бегун-->
							<!--индикатор-->
									<div class="indicator">
										?????
									</div>
							<!--/индикатор-->
								</div>
								<div class="f_field3">
									<div class="income">Итого доходов: <span><b>1 131 200</b> руб.</span></div>
									<div class="waste">Итого расходов: <span><b>1 131 200</b> руб.</span></div>
									<div class="rest">Остаток: <span><b>1 131 200</b> руб.</span></div>
								</div>
							</form>
						<!--таблица-->
							<div class="waste_list">
								<div class="h">
									<table>
										<tr>
											<td class="w1">Категория</td>
											<td class="w2">Сумма</td>
											<td class="w3">Год. лимит</td>
											<td class="w4">Сред. расход</td>
											<td class="w5">Теги</td>
										</tr>
									</table>
								</div>
								<div class="scroll_cont">
									<div class="scroll" style="top: 0; height: 67px;"></div>
									<form action="">

										<div class="line open">
											<a href="#" class="name">Автомобиль</a>
											<div class="amount">912 500 000</div>
										<!--доп пункты-->
											<table>
												<tr>
													<td class="w1"><a href="#">Аренда автомобиля</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr class="act">
													<td class="w1"><a href="#">Бензин</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun" style="display:block;">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Мойка автомобиля</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>1 14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Платные дороги, штрафы</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>1 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Стоянка</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
												<tr>
													<td class="w1"><a href="#">Техническое обслуживание</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>1 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
											</table>
										<!--/доп пункты-->
										</div>

										<div class="line close">
											<a href="#" class="name">Дети</a>
											<div class="amount">912 500 000</div>
										<!--доп пункты-->
											<table>
												<tr>
													<td class="w1"><a href="#">Аренда автомобиля</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
											</table>
										<!--/доп пункты-->
										</div>
										<div class="line open">
											<a href="#" class="name">Банковское обслуживание</a>
											<div class="amount">912 500 000</div>
										<!--доп пункты-->
											<table>
												<tr>
													<td class="w1"><a href="#">Комиссия банкомата</a></td>
													<td class="w2">
														<div class="cont">
															<input type="text" value="100 000" />
															<a href="#" title="Пересчитать">Пересчитать</a>
															<div class="begun">
																<div class="bg"></div>
																<div class="mark" style="left: 15px;"></div>
															</div>
														</div>
													</td>
													<td class="w3"><div class="indicator">?</div></td>
													<td class="w4"><span>14 500 руб.</span><span title="график" class="graph">график</span></td>
													<td class="w5"><span title="список тегов">список тегов</span></td>
												</tr>
											</table>
										<!--/доп пункты-->
										</div>
									</form>
								</div>
							</div>
						<!--/таблица-->
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Бюджет-->