<div class="ramka3">
    <div class="ct">
        <div class="head">
            <h2>Бюджет</h2>
            <ul class="action">
                <li class="over3"><a href="#" title="свернуть">свернуть</a></li>
            </ul>
        </div>
    </div>
    
    <div id="budget" class="inside budget">
        <div class="addbudget"><a href="#master" id="btnBudgetWizard">Мастер создания и редактирования бюджета</a></div>
        <div class="budget datebar">
            <ul class="month_cal">
                <li title="Переход на предыдущий год" class="y_prev"><a></a></li>
                <li title="Переход на предыдущий месяц" class="m_prev"><a></a></li>
                <li title="Обновить" class="cur"></li>
                <li title="Переход на следующий месяц" class="m_next"><a></a></li>
                <li title="Переход на следующий год" class="y_next"><a></a></li>
            </ul>
        </div>
        <div class="budget info">
            <!-- здесь скрипт выведет информацию -->
        </div>
        <div class="budget list">
            <div class="list head">
                <table>
                    <tr>
                        <td class="w1">Категория</td>
                        <td class="w2">План, руб.</td>
                        <td class="w3">Факт, руб.</td>
                        <!-- <td class="w4">Срав., руб.</td> -->
                        <td class="w5">Остаток, руб.</td>
                    </tr>
                </table>
            </div>
            <div class="list body">
                <div class="profit list">
                    <!-- здесь скрипт выведет доходы -->
                </div>
                <div class="drain list">
                    <!-- здесь скрипт выведет расходы -->
                </div>
            </div>
        </div>

    </div>
    <div class="cb"><div></div></div>
</div>


<!-- master -->
<div id="master" class="budget">
    <!-- step1.get date -->
    <div id="step1" class="step">
        <div class="master head">
            <h4>Шаг 1 из 3. Мастер планирования бюджета.</h4>
        </div>
        <div class="master body">
            <p>Пожалуйста выберите месяц, с которого начали планировать бюджет</p>
            <p>
                <select id="month" name="month">
                    <option value="01">Январь</option>
                    <option value="02">Февраль</option>
                    <option value="03">Март</option>
                    <option value="04">Апрель</option>
                    <option value="05">Май</option>
                    <option value="06">Июнь</option>
                    <option value="07">Июль</option>
                    <option value="08">Август</option>
                    <option value="09">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
                <input type="text" value="2009" id="year" name="year"/>
            </p>
        </div>
        <div class="master foot">
            <div id="tostep2" class="button master next">Следующий шаг</div>
        </div>
    </div>
    <!-- step2. conntrol profit -->
    <div id="step2" class="waste_list step">
        <div class="master head">
            <h4>Заголовок заполняется скриптом</h4>
        </div>
        <div class="master body">
            <div class="list head">
                <table>
                    <tr>
                        <td class="w1">Категория</td>
                        <td class="w2">Сумма, руб.</td>
                        <td class="w4">Сред. расход, руб.</td>
                    </tr>
                </table>
            </div>
            <div class="list body"></div>
            <div class="f_field3"></div>
        </div>
        <div class="master foot">
            <div id="tostep1" class="button master prev">Предыдущий шаг</div>
            <div id="tostep3" class="button master next">Следующий шаг</div>
        </div>
    </div>
    <!-- step3. conntrol drain -->
    <div id="step3" class="waste_list step">
        <div class="master head">
            <h4>Заголовок заполняется скриптом</h4>
        </div>
        <div class="master body">
            <div class="list head">
                <table>
                    <tr>
                        <td class="w1">Категория</td>
                        <td class="w2">Сумма, руб.</td>
                        <td class="w4">Сред. расход, руб.</td>
                    </tr>
                </table>
            </div>
            <div class="list body"></div>
            <div class="f_field3"></div>
        </div>
        <div class="master foot">
            <div id="tostep2" class="button master prev">Предыдущий шаг</div>
            <div id="tosave" class="button master next">Сохранить</div>
        </div>
    </div>
</div>
<!-- /master -->
