<!--Категории-->
					<div class="ramka3">
						<div class="ct">
							<div class="head">
								<h1>Категории</h1>
								<ul class="action">
									<li class="over1"><a href="#" title="настройки">настройки</a></li>
									<li class="over2"><a href="#" title="закрыть">закрыть</a></li>
									<li class="over3"><a href="#" title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>
						<div class="inside">

						<!--добавить новую категорию-->
							<form action="">
								<div class="addcategories">
									<a href="#">Добавить новую категорию</a>
									<div class="form_block" style="display: block;">
										<div class="f_field">
											<label for="f_namecat">Название категории</label>
											<input type="text" value="" id="f_namecat" />
										</div>
										<div class="f_field">
											<label for="f_subcat">Подкатегория для</label>
											<select id="f_subcat">
												<option>?????</option>
											</select>
										</div>
										<div class="f_field">
											<label for="f_cattype">Тип катагории <span class="star">*</span></label>
											<select id="f_cattype">
												<option>??????</option>
											</select>
										</div>
										<div class="f_field">
											<label for="f_catsys">Системная категория</label>
											<select id="f_catsys">
												<option>??????</option>
											</select>
										</div>
										<input type="submit" value="Сохранить" />
										<input type="submit" value="Отменить" />
										<small><span class="star">*</span> Универсальная категория может быть как расходной, так и доходной</small>
									</div>
								</div>
							</form>
						<!--/добавить новую категорию-->


							<div class="categories">
								<table class="h">
									<tr>
										<td class="w1">Категория <span>(?)</span></td>
										<td class="w2">Тип <span>(?)</span></td>
										<td class="w3">Сис. категория <span>(?)</span></td>
										<td class="w4">Сумма <span>(?)</span></td>
									</tr>
								</table>
								<div class="line open">
									<a href="#" class="name">Банковское обслуживание</a>
									<table>
										<tr>
											<td class="w1"><a href="#">Комиссия банкомата</a></td>
											<td class="w2"><div title="тип 1" class="t1">тип 1</div></td>
											<td class="w3">Личные расходы</td>
											<td class="w4">
												<div class="cont">
													<b>1 196 500  руб.</b>
													<div class="indicator">
														<div style="width:87%;"><span>87%</span></div>
													</div>
													<ul>
														<li class="edit"><a href="#" title="Редактировать">Редактировать</a></li>
														<li class="del"><a href="#" title="Удалить">Удалить</a></li>
														<li class="add"><a href="#" title="Добавить">Добавить</a></li>
													</ul>
												</div>
											</td>
										</tr>
										<tr class="act">
											<td class="w1"><a href="#">Комиссия банкомата</a></td>
											<td class="w2"><div title="тип 2" class="t2">тип 2</div></td>
											<td class="w3">Личные расходы</td>
											<td class="w4">
												<div class="cont">
													<b>1 196 500  руб.</b>
													<div class="indicator">
														<div style="width:87%;"><span>87%</span></div>
													</div>
													<ul style="display: block;">
														<li class="edit"><a href="#" title="Редактировать">Редактировать</a></li>
														<li class="del"><a href="#" title="Удалить">Удалить</a></li>
														<li class="add"><a href="#" title="Добавить">Добавить</a></li>
													</ul>
												</div>
											</td>
										</tr>
										<tr>
											<td class="w1"><a href="#">Комиссия банкомата</a></td>
											<td class="w2"><div title="тип 1" class="t1">тип 1</div></td>
											<td class="w3">Личные расходы</td>
											<td class="w4">
												<div class="cont">
													<b>1 196 500  руб.</b>
													<div class="indicator">
														<div style="width:87%;"><span>87%</span></div>
													</div>
													<ul>
														<li class="edit"><a href="#" title="Редактировать">Редактировать</a></li>
														<li class="del"><a href="#" title="Удалить">Удалить</a></li>
														<li class="add"><a href="#" title="Добавить">Добавить</a></li>
													</ul>
												</div>
											</td>
										</tr>
									</table>
								</div>
								<div class="line close">
									<a href="#" class="name">Дети</a>
								<!--доп пункты-->
									<table>
										<tr>
											<td class="w1"><a href="#">Аренда автомобиля</a></td>
											<td class="w2"><div title="тип 3" class="t3">тип 3</div></td>
											<td class="w3">Коммунальные услуги</td>
											<td class="w4">
												<b>1 196 500</b>
												<div class="indicator">
													<div style="width:87%;"><span>87%</span></div>
												</div>
											</td>
										</tr>
									</table>
								<!--/доп пункты-->
								</div>
								<div class="line open last">
									<a href="#" class="name">Автомобиль</a>
								<!--доп пункты-->
									<table>
										<tr>
											<td class="w1"><a href="#">Аренда автомобиля</a></td>
											<td class="w2"><div title="тип 1" class="t1">тип 1</div></td>
											<td class="w3">Коммунальные услуги</td>
											<td class="w4">
												<b>500 руб.</b>
												<div class="indicator">
													<div style="width:10%;"><span>10%</span></div>
												</div>
											</td>
										</tr>
									</table>
								<!--/доп пункты-->
								</div>
							</div>
						</div>
						<div class="cb"><div></div></div>
					</div>
				<!--/Категории-->