
<h3>Регулярные транзакции</h3>
<table class="tab1">
    <tbody>
        <tr>
            <th class="chk"> </th>
            <th>Дата</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Счет</th>
            <th>Часота повт.</th>
            <th>Сумма</th>
        </tr>
        <tr>
            <td class="chk">
                <input type="checkbox" value=""/>
            </td>
            <td>20.03.09</td>
            <td>Покупка дома</td>
            <td>Работа</td>
            <td>евро</td>
            <td>125000</td>
            <td class="types">
                <span class="t1" title="тип 1">тип 1</span>
            </td>
        </tr>
        <tr>
            <td class="chk">
                <input type="checkbox" value=""/>
            </td>
            <td>20.03.09</td>
            <td>Покупка дома</td>
            <td>Работа</td>
            <td>евро</td>
            <td>125000</td>
            <td class="types">
                <span class="t2" title="тип 2">тип 2</span>
            </td>
        </tr>
        <tr class="act">
            <td class="chk">
                <input type="checkbox" checked="checked" value=""/>
            </td>
            <td>20.03.09</td>
            <td>Покупка дома</td>
            <td>Работа</td>
            <td>евро</td>
            <td>125000</td>
            <td class="types">
                <span class="t1" title="тип 3">тип 3</span>
            </td>
        </tr>
        <tr>
            <td class="chk">
                <input type="checkbox" value=""/>
            </td>
            <td>20.03.09</td>
            <td>Покупка дома</td>
            <td>Работа</td>
            <td>евро</td>
            <td>125000</td>
            <td class="types">
                <span class="t1" title="тип 1">тип 1</span>
            </td>
        </tr>
    </tbody>
</table>