{* $Id$ *}
<!--середина-->
    <!--вкладки-->
    <!--/вкладки-->
        <div class="ramka2">
            <div class="cct">
                <i class="tl"></i>
                <i class="tr"></i>
            </div>
            <div class="ccm">
                <div class="ccm-container">
                <!--меню4-->
                <!--/меню4-->
                    <div class="mid general_cont">
                    <!--левая колонка-->
                        {include file="left.quick.html"}
                    <!--/левая колонка-->
                        <div class="block2">
                            <div class="l-indent">
                                <!--наполнение-->
                                <!--Ввод операции-->
                                    {include file="operation.quick.html"}
                                <!--/Ввод операции-->
                                <!--Периодическая транзакция-->
                                    {include file="$name_page.content.html"}
                                <!--/Периодическая транзакция-->
                                <!--/наполнение-->
                                </div>
                            </div>
                    <!--правая колонка-->
                        {include file="right.quick.html"}
                    <!--/правая колонка-->
                    </div>
                </div>
            </div>
            <div class="ccb">
                <i class="bl"></i>
                <i class="br"></i>
            </div>
        </div>
<!--/середина-->