                    <div class="ramka3">
						<div class="ct">
							<div class="head">
								<h1>Регулярные операции</h1>
								<ul class="action">
									<li class="over1"><a title="настройки">настройки</a></li>
									<li class="over2"><a title="закрыть">закрыть</a></li>
									<li class="over3"><a title="свернуть">свернуть</a></li>
								</ul>
							</div>
						</div>

						<div class="inside">
                            <div class="addcategories">
                                <a id="add_periodic">Добавить регулярную операцию</a>
                            </div>
                            <!-- Список регулярок -->
                            <div class="inside operation_list">
                            <table class="tab1 noborder periodic">
                                <thead>
                                    <tr>
                                        <!--<th class="chk"></th>-->
                                        <th>Дата</th>
                                        <th>Название</th>
                                        <th>Категория</th>
                                        <th>Счет</th>
                                        <th>Сумма</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="tab1 noborder periodic body" id="tab1">
                                <tbody>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
