{* SVN: $Id: targets.user_list.html 120 2009-08-05 11:49:41Z ukko $ *}
<table class="yellow_list">
    <tr>
        <th class="td_data_header">Категория
        <th class="td_data_header">Наименование</th>
        <th class="td_data_header">Тип цели</th>
        <th class="td_data_header">Сумма</th>
        <th class="td_data_header">Дата начала</th>
        <th class="td_data_header">Дата завершения</th>
        <th class="td_data_header">Процент выполнения</th>
        <th class="td_data_header">Редактировать</th>
        <th class="td_data_header">Удалить</th>
    </tr>
    {foreach key=key item=item from=$user_list_targets}
    <tr target_id="{$item.id}">
        <td class="td_data_content">{$item.category}</td>
        <td class="td_data_content">{$item.title|stripslashes}</td>
        <td class="td_data_content">{if $item.type == 'r'}Расход{else}Доход{/if}</td>
		<td class="td_data_content">{$item.amount|number_format}</td>
        <td class="td_data_content">{$item.date_begin}</td>
        <td class="td_data_content">{$item.date_end}</td>
        <td class="td_data_content">{$item.percent_done}</td>
        <td class="td_data_content"><input type="button" value="Редактировать" action="edit" class="inputsubmit" /></td>
        <td class="td_data_content"><input type="button" value="Удалить" action="del" class="inputsubmit" /></td>
    </tr>
    {/foreach}
</table>
