<!--popup добавить цель-->
	<div id="popupaddobject" style="top: 494px; left: 185px; display: block;">
		<div class="cont">
			<div class="ct"></div>
			<form action="">
				<div class="inside">
					<div class="close" title="Закрыть">Закрыть</div>
					<div class="general_cont">
						<div class="form_block">
							<div class="f_field">
								<label for="fptype">Тип цели</label>
								<select id="fptype">
									<option>???</option>
								</select>
							</div>
							<div class="f_field">
								<label for="fpcat">Категория</label>
								<select id="fpcat">
									<option>???</option>
								</select>
							</div>
							<div class="f_field">
								<label for="fpname2">Наименование</label>
								<input type="text" value="" id="fpname2" />
							</div>
							<div class="f_field">
								<label for="fpamount">Сумма</label>
								<input type="text" value="" id="fpamount" />
							</div>
							<div class="f_field">
								<label for="fpdate3">Дата начала</label>
								<input type="text" value="" id="fpdate3" />
								<a href="#" title="выбрать">выбрать</a>
							</div>
							<div class="f_field">
								<label for="fpdate4">Дата окончания</label>
								<input type="text" value="" id="fpdate4" />
								<a href="#" title="выбрать">выбрать</a>
							</div>
							<div class="f_field">
								<label for="fpamount2">Сумма пер. плат.</label>
								<input type="text" value="" id="fpamount2" />
							</div>
							<div class="f_field">
								<label for="fpwaste">Счет расхода</label>
								<select id="fpwaste">
									<option>???</option>
								</select>
							</div>
							<div class="f_field">
								<label for="fppayment">Периодичность платежа</label>
								<select id="fppayment">
									<option>???</option>
								</select>
							</div>
							<label for="fpshowall" class="showall">
								<input type="checkbox" value="" id="fpshowall" />
								Видимая для других
							</label>
						</div>
						<div class="gr">
							<img src="/img/images/pic14.gif" alt="" />
						</div>
					</div>
					<input type="submit" value="Сохранить" class="but" />
				</div>
			</form>
		</div>
		<div class="cb"><div></div></div>
	</div>
<!--/popup добавить цель-->