{* SVN: $Id: targets.pop_list.html 120 2009-08-05 11:49:41Z ukko $ *}
<table>
    <tr>
        <th class="td_data_header">Количество</th>
        <th class="td_data_header">Наименование</th>
        <th class="td_data_header">Присоединиться</th>
    </tr>
    {foreach key=key item=item from=$pop_list_targets}
    <tr>
        <td class="td_data_content">{$item.cnt}</td>
        <td class="td_data_content">{$item.title|stripslashes}</td>
        <td class="td_data_content"><input type="button" value="Присоединиться" action="join" class="inputsubmit" /></td>
    </tr>
    {/foreach}
</table>