        {include file="common/accountEdit.html"}

        <div class="ramka2">
			<div class="cct"></div>
            <div class="mid general_cont" style="margin: 20px;">
                <div>
                    {if $user_info.user_id > 0}
                        <!--
                        <div>Блок для авторизованных пользователей</div><br>
                        -->
                    {else}
                        <!--
                        <div>Блок для неавторизованных пользователей</div><br>
                        -->
                    {/if}
                </div>
                <div id="promoTKS" style="">
                    <div class="logo">&nbsp;</div><br>

                    <h3>Вклад &laquo;СмартВклад&raquo;</h3>
                    <div>
                        С удовольствием представляем Вам &laquo;СмартВклад&raquo; — универсальный депозит для современных людей, который, мы надеемся, удовлетворит все Ваши запросы. Итак, почему стоит остановить свой выбор на &laquo;СмартВкладе&raquo;?<br><br>

                        <ul>
                            <li><span class="sumGreen">Застрахован до 700 000 рублей</span> – <a href="http://www.tcsbank.ru/deposit/details/insurance/">Системой Страхования Вкладов</a> застрахована не только сумма депозита, но и начисленные проценты.</li>
                            <li><span class="sumGreen">13% годовых</span> с капитализацией процентов в рублях на срок от 1 года и выше — возможно, самый высокий процент по вкладам с государственной страховкой. При этом, Ваша реальная доходность по вкладу при размещении на срок от 1 года до 3-х с учетом капитализации процентов составляет 14,4% до налогообложения. Доходность после уплаты налогов составляет 13,8%.</li>
                            <li><span class="sumGreen">Бонус - 1,5% от внесенной суммы</span> – Вы получаете при открытии, а также при пополнении вклада (не позднее, чем за 60 дней до окончания срока вклада) банковским переводом. Таким образом мы компенсируем комиссию, которую вы, возможно, заплатили при переводе.</li>
                            <li><span class="sumGreen">Пополнение без потери процентов</span> – с первого дня после открытия.</li>
                            <li><span class="sumGreen">Премиальная карта MasterCard Platinum</span> - при открытии вклада банк бесплатно открывает для вас счет и выпускает премиальную дебетовую карту MasterCard Platinum, с помощью которой вы можете бесплатно снимать наличные в любом банкомате по всему миру (при сумме снятия 3 000 руб. и выше).</li>
                            <li><span class="sumGreen">Ежемесячная выплата, легко изменить схему выплат</span> и зачислять проценты по Вашему выбору либо на вклад (т. е. происходит капитализация), либо на карту, при этом схема выплат может быть изменена вами в любой момент. Достаточно сделать один звонок.</li>
                            <li><span class="sumGreen">Легко получить деньги:</span> &laquo;СмартВклад&raquo; — вклад, который легко открыть и получить свои деньги с процентами при его закрытии.</li>
                        </ul>

                        <br><strong>Проценты по вкладу</strong><br><br>

                        <ul>
                            <li>от 12 до 36 месяцев — <strong>13%</strong></li>
                            <li>от 6 до 11 месяцев — <strong>12%</strong></li>
                            <li>от 3 до 5 месяцев — <strong>10%</strong></li>
                        </ul>

                    </div><br>

                    <h3>Чтобы открыть вклад, пожалуйста, представьтесь</h3>
                    <div id="dlgTKSForm" class="">
                        <form id="frmTKSShort" style="margin: 0px;" >
                            Фамилия: <span class="sumRed">*</span><br>
                            <input id="txtSurname" name="surname"><br><br>

                            Имя: <span class="sumRed">*</span><br>
                            <input id="txtName" name="name"><br><br>

                            Отчество: <span class="sumRed">*</span><br>
                            <input id="txtPatronymic" name="patronymic"><br><br>

                            <!-- Email: <span class="sumRed">*</span><br>
                            <input id="txtEmail" name="email"><br><br>-->

                            Мобильный телефон:<br>(начиная с 8-ки, в формате<br><b>8905</b>1234567, без дефисов и скобок) <span class="sumRed">*</span><br>
                            <input id="txtPhone" name="phone"><br><br>

                            <input type="button" id="btnSubmitFull" value="К заполнению анкеты" >
                            &nbsp;<img id="imgWaiting1" src="/img/i/ajax-loader.gif" class="hidden" ><br>
                        </form>

                        <div id="divShortSuccess" class="sumGreen hidden" style="margin:8px;">анкета успешно отправлена! <a id="btnCloseDialog" href="#" class="hidden">(закрыть окно)</a></div>
                        <div style="padding: 0px; margin-top: 10px;">
                            <img class="ssl" src="/img/i/ssl_certificate.gif" align="left" hspace="6" >Информация передаётся в банк<br>"Тинькофф кредитные системы"<br>по защищённому соединению.<br><br>
                        </div>
                    </div>
                </div>
			</div>
			<div class="ccb"></div>
		</div>