<div id="authentication">
    <div class="loginError">{$errorMessage}</div>

{if $smarty.const.IS_DEMO == false}
    <form action="/login/" method="post" onSubmit="return checkLogin()">
{else}
    <form action="http://{$smarty.const.URL_ROOT}login/" method="post" onSubmit="return checkLogin()">
{/if}
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td class="name"><label for="flogin">Логин:</label></td>
                <td><input id="flogin" type="text" name="login"/></td>
            </tr>
            <tr>
                <td class="name"><label for="pass">Пароль:</label></td>
                <td><input type="password" id="pass" name="pass" /></td>
            </tr>
            <tr>
                <td class="name"><label for="autoLogin">Запомнить меня:</label></td>
                <td><input type="checkbox" class="forget" value="" name="autoLogin" id="autoLogin" checked="checked"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input id="btnLogin" type="submit" value="Войти" class="but"/></td>
            </tr>
            <tr id="authRegisterRestore">
                <td class="name"></td>
                <td>
                    <a href="/registration/">Регистрация</a><br>
                    <a href="/restore/">Восстановление пароля</a>
                </td>
            </tr>
        </table>
    </form>
</div>
