{* $Id: $ *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
    <head>
    {if $user_info.user_id > 0}
        <title>Easyfinance.ru - домашняя бухгалтерия, личный бюджет и финансы</title>
        <meta name="Description" content="C нашей помощью Вы сможете структурировать свои доходы и расходы, вести домашнюю бухгалтерию и семейный бюджет." />
    {else}
        {if $smarty.server.REQUEST_URI|strstr:"/review/"}
        <title>EasyFinance.ru | Домашняя бухгалтерия, семейный бюджет, оптимизация расходов, повышение доходов - путь к финансовому благополучию</title>
        <meta name="Description" content="EasyFinance.ru: онлайн система управления личными финансами, создание семейного бюджета, календарь погашения кредитов" />
        {elseif $smarty.server.REQUEST_URI|strstr:"/feedback/"}
        <title>EasyFinance.ru | Лучшая домашняя бухгалтерия: управление личными финансами, финансовые цели, семейный бюджет</title>
        <meta name="Description" content="EasyFinance.ru: бесплатная система управления домашними финансами, для построения личного бюджета, повышения доходов и финансовые советы" />      
        {elseif $smarty.server.REQUEST_URI|strstr:"/rules/"}
        <title>EasyFinance.ru | Ваш надежный инструмент для достижения финансовых целей: домашняя бухгалтерия, семейный бюджет, финансовые консультации</title>
        <meta name="Description" content="EasyFinance.ru: безопасная домашняя бухгалтерия, для создания личного бюджета, сокращения затрат и повышения доходов" />
        {elseif $smarty.server.REQUEST_URI|strstr:"/security/"}
        <title>EasyFinance.ru | Ваш личный онлайн банкинг: личные финансы и семейный бюджет под надежной защитой</title>
        <meta name="Description" content="EasyFinance.ru: безопасная домашняя бухгалтерия, для создания личного бюджета, сокращения затрат и повышения доходов" />
        {elseif $smarty.server.REQUEST_URI|strstr:"/about/"}
        <title>EasyFinance.ru | Ваш личный финансовый директор: сокращение расходов, повышение доходов, путь к финансовому благополучию</title>
        <meta name="Description" content="EasyFinance.ru: онлайн система управления домашними финансами, для создания личного бюджета, финансового планирования, финансовых консультаций" />
        {else}
        <title>EasyFinance.ru | Бесплатный онлайн сервис: домашняя бухгалтерия, семейный бюджет, личные финансы</title>
        <meta name="Description" content="EasyFinance.ru: бесплатная система управления личными финансами, для построения домашнего бюджета, оптимизации расходов и создания личного финансового плана" />
        {/if}
    {/if}

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="домашняя бухгалтерия, семейный бюджет, личные финансы, личный бюджет, финансовые цели, домашний бюджет, сокращение расходов, финансовые консультанты" />      
	<meta name='yandex-verification' content='6821dc0eb83d0c55' />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="/favicon.ico" rel="icon" type="image/x-icon" />
        <!-- Подключениее стилей и скриптов -->
        {foreach from=$css item=i}
            <link rel="stylesheet" type="text/css" href="/css/{$i}?r={$revision}"  link="/css/{$i}?r={$revision}"/>
        {/foreach}

        {foreach from=$js item=i}
            <script type="text/javascript" src="/js/{$i}?r={$revision}"></script>
        {/foreach}
        <script type="text/javascript">
            var res = {$res|json_encode};
        </script>

    <!-- /Подключениее стилей и скриптов -->
    </head>
    <body id="p_index">
        <noscript>
            <div style="display:block;position:fixed;top:0px;left:0px;width:100%;height:35px;background-color:#FF2222;z-index:9999;text-align:center;padding-top:10px;">
                <span Style="font-weight:bold;font-size:13px;">Этот сайт требует поддержку javascript</span>
            </div>
        </noscript>
        <!-- Jet. Ticket #443. Preload images to prevent wrong resizing -->
        <img src="/img/i/gauge70.gif" width="70" height="70" class="preload" />
        <img src="/img/i/gauge107.gif" width="107" height="107" class="preload" />
        <img src="/img/i/gauge157.gif" width="157" height="157" class="preload" />
        <div id="container1">
            <div id="menumain"  value="{$head_val}">
                <ul class="menu1">
                    <!-- Jet. ticket #273 -->
                    <li class="first"><a href="http://{$smarty.const.URL_ROOT_MAIN}review/" id="review">Обзор сервиса</a></li>
                    <li><a href="http://{$smarty.const.URL_ROOT_MAIN}feedback/" id="feed">Отзывы</a></li>
                    <li><a href="http://easyfinance-ru.livejournal.com/" id="blog" target="_blank">Блог</a></li>
                    <li><a href="http://{$smarty.const.URL_ROOT_MAIN}articles/" id="articles">Статьи</a></li>
                </ul>
                <ul class="menu2">              
                    {if $user_info.user_id > 0}
                        <!--- <li><a href="/info/">Личный кабинет</a></li> --->
                        <li><a href="/profile/">Настройки профиля</a></li>
                        <li><a href="/profile/">{$user_info.user_name}&nbsp;</a><a id="show_logout" href="/logout/" title="Выход">ВЫХОД</a></li>
                    {else}
                        <!-- Jet. ticket #273 -->
                        {if $smarty.const.IS_DEMO == false}
                            <li id="show_login"><a href="https://{$smarty.const.URL_ROOT}login/">ВХОД</a></li>
                        {else}
                            <li id="show_login"><a href="http://{$smarty.const.URL_ROOT}login/">ВХОД</a></li>
                        {/if}
                    {/if}
                
                </ul>
            </div>
<!-- верхнее меню -->
<!--шапка-->
<!--авторизация-->
<!--
*** старое окно логина. теперь логин в отдельной странице ***
            {if !isset($user_info)}
                <div id="popupadd_login">
                    <div id="login" class="w_dialog" style="overflow: hidden; display: none; position: absolute; z-index: 1010; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: 180px; width: 342px; top: 45px; left: 460px;">
                        <div class="w_d_head"><div></div></div>
                        <div class="w_d_body">
                            <div class="link close"></div>
                            <div class="inside">
                                {if $smarty.const.IS_DEMO == false}
                                <form action="https://{$smarty.const.URL_ROOT}login/" method="post">
                                {else}
                                <form action="http://{$smarty.const.URL_ROOT}login/" method="post">
                                {/if}
                                    <div class="f_field">
                                        <label for="flogin">логин:</label>
                                        <input type="text" value="" name="login" id="flogin"/>
                                    </div>
                                    <div class="f_field">
                                        <label for="password">пароль:</label>
                                        <input type="password" value="" name="pass" id="pass"/>
                                    </div>
                                    <div class="f_field">
                                        <label for="autoLogin">запомнить меня</label>
                                        <input type="checkbox" class="forget" value="" name="autoLogin" id="autoLogin" />
                                    </div>
                                    <div class="inlinebottom">
                                        <ul>
                                            <li><a href="/registration/">Регистрация</a> </li>
                                        </ul>
                                    </div>
                                    <input id="btnLogin" type="submit" value="Войти" class="but"/>
                                </form>
                            </div>
                        </div>
                        <div class="w_d_foot"><div></div></div>
                    </div>
                </div>
            {/if}
-->
            <div id="header">
            {if $smarty.const.IS_DEMO == true }
            	{assign var="logoUrl" value="https://`$smarty.const.URL_ROOT_MAIN`"}
            {elseif $smarty.session.user.id > 0}
            	{assign var="logoUrl" value="https://`$smarty.const.URL_ROOT`info"}
            {elseif $smarty.server.REQUEST_URI != "/"}
            	{assign var="logoUrl" value="https://`$smarty.const.URL_ROOT`"}
            {/if}
		            	
                <a {if $logoUrl !=""}href="{$logoUrl}"{/if} class="logo">EasyFinance.ru</a>
                <div class="slogan">Система управления личными финансами</div>

                {include file="head_adv.html"}
            </div>
        
