{* $Id: $ *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
    {if $user_info.user_id > 0}
        <title>Easyfinance.ru - домашняя бухгалтерия, личный бюджет и финансы</title>
        <meta name="Description" content="C нашей помощью Вы сможете структурировать свои доходы и расходы, вести домашнюю бухгалтерию и семейный бюджет." />
    {else}
        {if $smarty.server.REQUEST_URI|strstr:"/review/"}
        <title>EasyFinance.ru | Домашняя бухгалтерия, семейный бюджет, оптимизация расходов, повышение доходов - путь к финансовому благополучию</title>
        <meta name="Description" content="EasyFinance.ru: онлайн система управления личными финансами, создание семейного бюджета, календарь погашения кредитов" />
        {elseif $smarty.server.REQUEST_URI|strstr:"/feedback/"}
        <title>EasyFinance.ru | Лучшая домашняя бухгалтерия: управление личными финансами, финансовые цели, семейный бюджет</title>
        <meta name="Description" content="EasyFinance.ru: бесплатная система управления домашними финансами, для построения личного бюджета, повышения доходов и финансовые советы" />
        {elseif $smarty.server.REQUEST_URI|strstr:"/rules/"}
        <title>EasyFinance.ru | Ваш надежный инструмент для достижения финансовых целей: домашняя бухгалтерия, семейный бюджет, финансовые консультации</title>
        <meta name="Description" content="EasyFinance.ru: безопасная домашняя бухгалтерия, для создания личного бюджета, сокращения затрат и повышения доходов" />
        {elseif $smarty.server.REQUEST_URI|strstr:"/security/"}
        <title>EasyFinance.ru | Ваш личный онлайн банкинг: личные финансы и семейный бюджет под надежной защитой</title>
        <meta name="Description" content="EasyFinance.ru: безопасная домашняя бухгалтерия, для создания личного бюджета, сокращения затрат и повышения доходов" />
        {elseif $smarty.server.REQUEST_URI|strstr:"/about/"}
        <title>EasyFinance.ru | Ваш личный финансовый директор: сокращение расходов, повышение доходов, путь к финансовому благополучию</title>
        <meta name="Description" content="EasyFinance.ru: онлайн система управления домашними финансами, для создания личного бюджета, финансового планирования, финансовых консультаций" />
        {else}
        <title>EasyFinance.ru | Бесплатный онлайн сервис: домашняя бухгалтерия, семейный бюджет, личные финансы, ведение домашней бухгалтерии</title>
        <meta name="Description" content="EasyFinance.ru: бесплатная система управления личными финансами, для построения домашнего бюджета, оптимизации расходов и создания личного финансового плана" />
        {/if}
    {/if}

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="домашняя бухгалтерия, семейный бюджет, личные финансы, личный бюджет, финансовые цели, домашний бюджет, сокращение расходов, финансовые консультанты" />
        <meta name='yandex-verification' content='46ad9e6fab7b1d96' />
        <meta name='yandex-verification' content='57fd5bded78c4e73' />
        <meta name='yandex-verification' content='7da1ad9cb01ce610' />
        <meta name="google-site-verification" content="4dOi6ZB5xsxat-pXPscMRqOO6ayZce_gbhMvoreo7Sc" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="/favicon.ico" rel="icon" type="image/x-icon" />
        <!-- Подключениее стилей и скриптов -->
        {foreach from=$css item=i}
            <link rel="stylesheet" type="text/css" href="/css/{$i}?r={$smarty.const.REVISION}"/>
        {/foreach}

        <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie7.css?r={$smarty.const.REVISION}"/><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/css/ie8.css?r={$smarty.const.REVISION}"/><![endif]-->

        {foreach from=$js item=i}
            <script type="text/javascript" src="/js/{$i}?r={$smarty.const.REVISION}"></script>
        {/foreach}

        <script type="text/javascript">
            var res = {php} echo json_encode($this->get_template_vars('res')); {/php};
        </script>
    <!-- /Подключениее стилей и скриптов -->
    </head>
    <body id="p_index" {if !strpos($smarty.server.HTTP_HOST, 'rambler') === false} class="body-rambler" {/if}>
        {include_php file="../sf/apps/frontend/templates/_common/noscript.php"}
        <!-- Jet. Ticket #443. Preload images to prevent wrong resizing -->
        <img src="/img/i/gauge70.gif" width="70" height="70" class="preload" />
        <img src="/img/i/gauge107.gif" width="107" height="107" class="preload" />
        <img src="/img/i/gauge157.gif" width="157" height="157" class="preload" />

        {if $user_info.user_id == 0 || $smarty.server.REQUEST_URI == '/'}
            <a id="btnFeedback" class="addmessage efTooltip" title="Расскажите, что Вам нравится на сайте, а чего не хватает. Мы обязательно учтем Ваши пожелания и включим их в график работ.">оставить отзыв</a>
            <a id="btnReview" class="btnHelp" href="/my/review/">помощь</a>
        {/if}

        <div id="container1">
            {if strpos($smarty.server.HTTP_HOST, 'rambler') === false}
                {if $smarty.server.REQUEST_URI === '/'}
                    <div id="menumain"  value="{$head_val}">
                        <ul class="menu1">
                            <!-- Jet. ticket #273 -->
                            <li class="first"><a href="https://{$smarty.const.URL_ROOT_MAIN}review/" id="review" class="efTooltip" title="Описание основных элементов и сервисов">Обзор</a></li>
                            <li><a href="https://{$smarty.const.URL_ROOT_WIKI}tiki-view_blog.php?blogId=2" id="feed" class="efTooltip" title="Мнения пользователей о работе сайта и их пожелания">Отзывы</a></li>
                            <li><a href="https://{$smarty.const.URL_ROOT_WIKI}tiki-view_blog.php?blogId=4" id="feed" class="efTooltip" title="Публикации СМИ о нашем сервисе">Сми о нас</a></li>
                            <li><a href="https://{$smarty.const.URL_ROOT_WIKI}tiki-view_blog.php?blogId=1" id="blog" class="efTooltip" title="Корпоративный блог">Блог</a></li>
                            <li><a href="https://{$smarty.const.URL_ROOT_WIKI}tiki-view_articles.php" id="articles" title="Статьи о финансах">Статьи</a></li>
                            <li><a href="https://{$smarty.const.URL_ROOT_PDA}" id="pda" title="Версия для использования с мобильного телефона">Мобильная версия</a></li>
                            <li><a href="https://{$smarty.const.URL_ROOT_WIKI}tiki-read_article.php?articleId=14" id="help" style="font-weight:bold; color: white;" title="Помощь по использованию сервиса">Помощь</a></li>
                            <li style="background: none; margin-left: -1em;"><a href="https://{$smarty.const.URL_ROOT_MAIN}integration" style="font-weight:bold; color: yellow;" title="Интеграция с банками">EasyBank</a></li>
                        </ul>
                        {if $user_info.user_id > 0}
                            <ul class="menu2">
                                <!--- <li><a href="/info/">Личный кабинет</a></li> --->
                                <!--- <li><a href="/profile/">Настройки профиля</a></li> --->
                                <li><a href="/my/profile/">{$user_info.user_name}&nbsp;</a><a id="show_logout" href="/logout/" title="Выход">ВЫХОД</a></li>
                            </ul>
                        {else}
                            <!-- Jet. ticket #273 -->
                            {if $smarty.const.IS_DEMO == false}
                                <form method="post" action="https://{$smarty.const.URL_ROOT}login/">
                                    <div class="b-login-form">
                                        <div class="b-login-form-row l-buttons-inline">
                                            {include file="ui/textfield.tpl" name="login" placeholder="логин/почта"}
                                            {include file="ui/textfield.tpl" name="pass" type="password" placeholder="пароль"}
                                            <input class="b-button-login" type="submit" value="" />
                                        </div>
                                        <div class="b-login-form-row second">
                                            <label><input type="checkbox" name="autoLogin" value="1" checked="checked" /> <span>Запомнить</span></label>
                                            <a href="https://{$smarty.const.URL_ROOT}restore/">Забыли пароль?</a>
                                        </div>
                                        <div class="b-login-form-bg">
                                            <i class="l"></i>
                                            <i class="r"></i>
                                        </div>
                                    </div>
                                </form>
                            {else}
                                <form method="post" action="https://{$smarty.const.URL_ROOT}login/">
                                    <div class="b-login-form">
                                        <div class="b-login-form-row l-buttons-inline">
                                            {include file="ui/textfield.tpl" name="login" placeholder="логин/почта"}
                                            {include file="ui/textfield.tpl" name="pass" type="password" placeholder="пароль"}
                                            <input class="b-button-simple" type="submit" value="ok" />
                                        </div>
                                        <div class="b-login-form-row second">
                                            <label><input type="checkbox" name="autoLogin" value="1" checked="checked" /> <span>Запомнить</span></label>
                                            <a href="https://{$smarty.const.URL_ROOT}restore/">Забыли пароль?</a>
                                        </div>
                                    </div>
                                </form>
                            {/if}
                        {/if}
                    </div>
                {/if}
<!-- верхнее меню -->
<!--шапка-->
            <div id="header">
            {if $smarty.const.IS_DEMO == true }
                {assign var="logoUrl" value="https://`$smarty.const.URL_ROOT_MAIN`"}
            {elseif $smarty.session.user.id > 0}
                {assign var="logoUrl" value="https://`$smarty.const.URL_ROOT`info"}
            {elseif $smarty.server.REQUEST_URI != "/"}
                {assign var="logoUrl" value="https://`$smarty.const.URL_ROOT`"}
            {/if}

                <a {if $logoUrl !=""}href="{$logoUrl}"{/if} class="logo">EasyFinance.ru</a>
                <div class="slogan">Система управления личными финансами</div>

                {include file="head_adv.html"}
            </div>
            {/if}
