<!-- Поля авторизации пользователя -->
<div id="auth" class="ramka1">
    <div class="ct"><div></div></div>
       <form action="/login/" method="post">
		<div class="inside">
                    <div class="f_field">
                        <label for="login">логин:</label>
                        <input type="text" value="" name="login" />
                    </div>
                    <div class="f_field">
                        <label for="password">пароль:</label>
                        <input type="password" value="" name="pass" />
                    </div>
                     <div class="f_field">
                        <label for="autoLogin">запомнить меня</label>
                        <input type="checkbox" class="forget" value="" name="autoLogin" id="autoLogin" />
                    </div>
            <input type="image" src="/img/i/pix.gif" alt="Войти" value="Войти" class="but" />
                        <a href="#" class="forget">забыли пароль?</a>
               </div>
        </form>
    <div class="cb"><div></div></div>
</div>
<!-- /Поля авторизации пользователя -->