<!-- часть с информацией -->
<div id="auth" class="ramka1">
    <div class="ct"><div></div></div>
    <div class="inside">
        <div class="f" ><span></span>
            <img src="/img/images/pic2.jpg" alt="Ромка Абрамович" style="display:none" />
        </div>
        <div class="txt"><b>{$user_info.user_name}</b>
        </div>
            <ul>
                <li><a href="/info/">Личный кабинет</a></li>
                <li class="exit"><a href="/logout/">Выход</a></li>
            </ul>
    </div>
    <div class="cb"><div></div></div>
</div>