<h3>Счета</h3>

<script language="javascript">
{literal}
	
	function accountChangeType()
	{
		switch (document.getElementById("typeAccount").value)
		{
			case '0':
				$("#descriptionAccount").html("Описание наличных");
				break;
			case '4':
				$("#descriptionAccount").html("Описание депозита");
				break;
		}
	}
{/literal}
</script>

<table width="100%">				
	<tr>
		<td width="100%" class=cat_add valign="top">
			<input type="button" onclick="formCreateAccountVisible();" value="Добавить счет" class="inputsubmit" />&nbsp;
			<div id="formCreateAccount" style="display:none; padding-top:5px;">
				<div id="firstFormCreateAccount">					
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td valign="top" width="100%" style=" background-color:#f8f8d8; padding:5px;">
			<br><div id="accountsDataList"></div>
			<script language="javascript">
			{literal}changeAccountsList();{/literal}
			</script>
		</td>
	</tr>
</table>