<table width="100%">
    
{if !empty($data_articles)}
    {foreach from=$data_articles.list_articles item=data}
    <tr>
        <td width="2" valign="top">&nbsp;</td>
        <td>            
            <div class="article_archive_title"><a href="index.php?modules=article&id={$data.id}">{$data.title}</a></div>
            <div class="article_archive_description">{$data.description}</div>
            <div class="article_archive_date">{$data.date}</div>
        </td>
    </tr>
    {/foreach}
    <tr>
        <td colspan="2" width="100%">
            <TABLE align="center" width="100%">
                <TR>
                    <TD align="center">
                        <BR />
                        <TABLE align="center">
                            <TR>
                                {if  ($data_articles.prev_page != $data_articles.current_page)}
                                <TD class="article_archive_page"><a href="index.php?modules=article&action=archive&page={$data_articles.prev_page}">&#8592;&nbsp;предыдущая</a></TD>
                                {else}
                                <TD class="article_archive_page">&#8592;&nbsp;предыдущая</TD>
                                {/if}
                                
                                {foreach from=$data_articles.param_pages item=data}
                                    {$data.page}
                                {/foreach}
                                
                                {if (!empty($data_articles.next_page) && ($data_articles.next_page != $data_articles.pages_count))}
                                <TD class="article_archive_page"><a href="index.php?modules=article&action=archive&page={$data_articles.next_page}">следующая&nbsp;&#8594;</a></TD>
                                {else}
                                <TD class="article_archive_page">следующая&nbsp;&#8594;</TD>
                                {/if}                                
                            </TR>
                        </TABLE>
                    </TD>
                </TR>
            </TABLE>
            <DIV align="center" style="padding-bottom: 10px;padding-top: 5px;padding-right: 200px;font-size: 11px; color: #999999;">Всего найдено новостей: {$data_articles.articles_count}</DIV>
        </td>
    </tr>
{else}
    
    <tr>
        <td width="100%"><h3 style="color:#333;">{$article.title}</h3></td>
    </tr>
    <tr>
        <td width="100%">{$article.article}</td>
    </tr>
{/if}

</table>