<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Home-money</title>
<link rel="stylesheet" href="css/dtree.css" type="text/css" />
</head>
<body leftmargin="0" topmargin="0">
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td width="30%" height="100" colspan="2" align="center" bgcolor="#f1f4f7">
		<a href="index.php"><img src="img/logo.gif" border="0"></a>
	</td>
</tr>

<tr>
	<td width="15%" height="100%" valign="top">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0" class="left_menu">
		<tr>
			<td valign="top" class="menu">
				<a href="index.php?modules=reg">Регистрация</a>			
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu">
				<a href="index.php?modules=reg">Справка</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu">
				<a href="index.php?modules=login">Вход</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" height="100%">&nbsp;
				
			</td>
		</tr>
		</table>
	</td>
	
	<td width="80%" height="100%" valign="top">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0" class="main">
		<tr>
			<td width="100%" height="100%" valign="top">
				{if !empty($name_page)}
					{include file="$name_page.html"}
				{else}
					bla-bla-bla
				{/if}
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>