<table width="100%">
	<td width="100%">
		<div class="dtree">
			{if $page_title == 'budget add' || $page_title == 'budget edit'}
			{if $page_title == 'budget add'}			
				<form action="index.php?modules=budget&action=add" method="post">
			{else}
				<form action="index.php?modules=budget&action=edit&id={$budget.id}" method="post">
			{/if}
				<table width="100%" border="0">
				{if empty($good_text)}				
			<!-- добавление бюджета -->
				<tr>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add" colspan="2"><br />					
						<input type="radio" name="budget[drain]" id="isDrain" value="1" checked="checked" onClick="checkDrain();"/>Расход
						<input type="radio" name="budget[drain]" id="unDrain" {if $budget.drain == '0'}checked="checked"{/if} value="0" onClick="checkDrain();"/>Доход<br /><br />
					</td>					
				</tr>
				<tr>
					<td  align="left" class="cat_add" valign="top">
						{if !empty($error_text.money)}<font color="#FF0000">Сумма:</font>{else}Сумма:{/if}
					</td>
					<td  align="left" class="cat_add" colspan="2">
						<span id="minus">-</span>						
						<input type="text" id="pos_oc" value="{if !empty($budget.money)}{$budget.money}{/if}" style="width:80px; background-color: #ffc29e; color:#000000;" OnKeyUp="onSumChange();">&nbsp;{$account.cur_name}&nbsp;&nbsp;<b>Пример:</b> 125.50<br />
						<input type="hidden" name="budget[money]" id="pos_mc" size="7"><br />
						
					</td>
				</tr>
				<!--
				<tr>
					<td width="10%" height=30 align="left" class="cat_add">{if !empty($error_text.bill_id)}<font color="#FF0000">Счет:</font>{else}Счет:{/if}</td>
					<td width="90%"  align="left" class="cat_add" colspan="2">						
						<select name="budget[bill_id]" style="width:250px;">							
						{foreach from=$bills_select item=arr_bills}
							<option value="{$arr_bills.id}" {if $arr_bills.id == $budget.bill_id}selected{/if}>{$arr_bills.name}</option>
						{/foreach}
						</select>
					</td>
				</tr>
				-->
				<tr>
					<td width="10%" height=30 align="left" class="cat_add">{if !empty($error_text.cat_id)}<font color="#FF0000">Категория:</font>{else}Категория:{/if}</td>
					<td width="90%"  align="left" class="cat_add" colspan="2">						
						<select name="budget[cat_id]" style="width:250px;" id="cat_id_old">							
							{$categories_select}
						</select>
					</td>
				</tr>
				
				<tr>
					<td height=40 align="left" class="cat_add">
						{if !empty($error_text.date_from)}<font color="#FF0000">Период:</font>{else}Период:{/if}
					</td>
					<td  align="left" class="cat_add" width="8%" colspan="2">					
						<!--с&nbsp;&nbsp;<input type="text"  value="{$budget.date_from}" class="standart" style="width:80px;" name="budget[date_from]" id="sel5" readonly><button type="reset" class="button_calendar" onclick="return showCalendar('sel5', '%d.%m.%Y', false, true);"><img src="img/calendar/cal2.gif"></button>&nbsp;&nbsp;&nbsp;по&nbsp;&nbsp;<input type="text"  value="{$budget.date_to}" class="standart" style="width:80px;" name="budget[date_to]" id="sel1" readonly><button type="reset" class="button_calendar" onclick="return showCalendar('sel1', '%d.%m.%Y', false, true);"><img src="img/calendar/cal2.gif"></button>
						<select name="budget[period]">
							<option value="01" {if $budget.period == '01'}selected{/if}>Январь</option>
							<option value="02" {if $budget.period == '02'}selected{/if}>Февраль</option>
							<option value="03" {if $budget.period == '03'}selected{/if}>Март</option>
							<option value="04" {if $budget.period == '04'}selected{/if}>Апрель</option>
							<option value="05" {if $budget.period == '05'}selected{/if}>Май</option>
							<option value="06" {if $budget.period == '06'}selected{/if}>Июнь</option>
							<option value="07" {if $budget.period == '07'}selected{/if}>Июль</option>
							<option value="08" {if $budget.period == '08'}selected{/if}>Август</option>
							<option value="09" {if $budget.period == '09'}selected{/if}>Сентябрь</option>
							<option value="10" {if $budget.period == '10'}selected{/if}>Октябрь</option>
							<option value="11" {if $budget.period == '11'}selected{/if}>Ноябрь</option>
							<option value="12" {if $budget.period == '12'}selected{/if}>Декабрь</option>
						</select>-->
						{$period}
					</td>
				</tr>							
				<tr>
					<td  align="left" height=40 class="cat_add" valign="top">Комментарий:</td>
					<td  align="left" class="cat_add" colspan="2">
						<textarea rows="4" cols="50" name="budget[comment]">{if !empty($budget.comment)}{$budget.comment}{/if}</textarea>
					</td>
				</tr>				
				<tr>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add" colspan="2">
					<table  border="0">
					<td valign="top">
						{if $page_title == 'budget add'}
							<br><input class="inputsubmit" type="submit" value="Сохранить" onclick="onSumChange();">
							<input class="inputsubmit" type="button" value="Отменить" style="width:120px;" onclick="location.href='index.php?modules=budget'">
						{else}
							<input type="hidden" name="budget[id]" value="{$budget.id}">							
							<br><input class="inputsubmit" type="submit" value="Изменить" style="width:120px;" onclick="onSumChange();">
							</form>
					</td>
					<td valign="top">
							<form action="index.php?modules=budget&action=del" method="post" name="form_del">
								<br>
								<input type="hidden" name="budget[id]" value="{$budget.id}">
								<input class="inputsubmit" name="sub_del" type="button" value="Удалить" style="width:120px;" OnClick="confirmDelete('эту запись');">							
					</td>
					<td valign="top">
						<br /><input class="inputsubmit" type="button" value="Отменить" style="width:120px;" onclick="history.back();">
						</form>
						{/if}
					</td>
					</table>						
					</td>
				</tr>
				{if !empty($error_text)}
				<tr>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add" colspan="2">
						<br /><font size="+1" color="#FF0000">Внимание, ошибка!</font>
						<ul>
						{foreach from=$error_text item=err_text}
							<li>{$err_text}</li>
						{/foreach}
						</ul>
					</td>
				</tr>
				{/if}
				{else}
					<br /><font size="+1" color="#33CC66">
					<ul>
						<li>{$good_text}</li>
					</ul>
					</font>
					<a href="index.php?modules=money&a={$account.id}">Вернуться к списку</a>
				{/if}				
				</table>
			{else}
			<!-- основной контент -->
				{if !empty($good_text)}
				<table width="100%">				
				<tr>
					<td width="100%" colspan="5" class=cat_add valign="top">                        
                        	<font size="-1" color="#76b900">{$good_text}</font><br><br>
					</td>
				</tr>
				</table>
				{/if}
				<table width="100%">
				<tr>
					<td colspan="5" class=cat_add>
						<input type="button" onclick="location.href='index.php?modules=budget&action=add'" value="Добавить план" class="inputsubmit" />
						<img src=img/tree/empty.gif>Показать: 
						<a href="index.php?modules=budget">по расходам</a>&nbsp;
						<a href="index.php?modules=budget&order=notdrain">по доходам</a>&nbsp;
						<br><br>
					</td>
				</tr>
				<tr>
					<td colspan="5" class=cat_add>
						Период: <b>{$curMonth}</b><br><br>
					</td>
				</tr>
								
				{if !empty($budgets)}
				<tr>
					<td class=cat_add width=18%>Категория</td>					
					<td class=cat_add width=10%>План</td>
					<td class=cat_add width=12%>Факт {if $filterDrain == '1'}по расходу{else}по доходу{/if}</td>
					<td class=cat_add width=10%>% отклонения</td>
					<td class=cat_add width=50%>Комментарий</td>
				</tr>
					{foreach from=$budgets item=data}					
						<tr onMouseOver=this.style.backgroundColor='#f8f6ea'; onMouseOut=this.style.backgroundColor='#FFFFFF';>
														
						   	<td class=money valign="top">							
								<!--<font color="#bc5f5f">&nbsp;{$data.money}&nbsp;{$account.cur_name}</font>-->
								<img src=img/tree/empty.gif>
								<a href="index.php?modules=budget&action=edit&id={$data.id}">
								 {if !empty($data.parent_name)}{$data.parent_name} -> {/if}{$data.cat_name}</a>
							</td>														
							<td class=money valign="top">
								&nbsp;{$data.money}
							</td>
							<td class=money valign="top">
								{if $data.drain == '1'}
									&nbsp;<font color="{if $data.money < $data.fact}#bc5f5f{else}green{/if}">{$data.fact}</font>
								{else}
									&nbsp;<font color="{if $data.money > $data.fact}#bc5f5f{else}green{/if}">{$data.fact}</font>
								{/if}
							</td>
							<td class=money valign="top">{$data.delta}</td>
							<td width=20% class=money valign="top">&nbsp;{$data.comment|nl2br}</td>
						</tr>
					{/foreach}
				{else}
					{if !empty($copyBudget)}
						<tr>
							<td class='cat_add' width="40%" align=center>
								<br><a href="index.php?modules=budget&action=copy">{$copyBudget}</a>
							</td>
							<td colspan=4>&nbsp;</td>
						</tr>
					{else}
						<tr>
							<td class='cat_add' width="40%" align=center>
								<br>Нет плана за прошлый месяц. Добавьте новую запись!
							</td>
							<td colspan=4>&nbsp;</td>
						</tr>
					{/if}
				{/if}
				<tr>
					<td class='cat_add' width="40%" align=center>
						<br><a href="{$linkLastMonth}">Предыдущий месяц</a>&nbsp;|&nbsp;<a href="{$linkNextMonth}">Следующий месяц</a>
					</td>
					<td colspan=4>&nbsp;</td>
				</tr>
				</table>				
			{/if}
			<!-- основной контент -->
		</div>
	</td>
</table>