{literal}
<style>
@import url(css/jquery/jquery.treeview.css);
#cataddform, #cateditform {
	position:absolute;
	left: 0;
	top: 0;
	display:none;
	width: 200px;
	height: 100px;
	background: #000;
	color: #fff;
}
</style>
<script src="js/jquery/jquery.treeview.min.js"></script>
<script>
$(document).ready(function () {
	$("#mytree").treeview();
});
function addCategory(name, parent) {
	$.ajax({
		type: "GET",
		url: "/index.php",
		data: {
			modules: "category",
			action: "add",
			name: name.value,
			parent: parent.value,
			ajax: true
		},
		success: function(cid) {
			if (cid > 0) {
				if (parent.value == 0) {
					var branches = $("<li id=\"cli"+cid+"\"><span class='folder' style=\"display: inline;\">"+name.value+"</span><img src=\"https://82.146.44.177/manimg/sirius/t-new.png\" onclick=\"showCatAddForm(this, "+cid+");\"><img src=\"http://82.146.44.177/manimg/sirius/t-edit.png\" onclick=\"showCatEditForm(this, "+cid+");\"><img src=\"http://82.146.44.177/manimg/sirius/t-delete.png\" onclick=\"deleteCat("+cid+");\">").appendTo("#mytree");
				} else {
					var branches = $("<li id=\"cli"+cid+"\"><span class='file' style=\"display: inline;\">"+name.value+"</span><img src=\"http://82.146.44.177/manimg/sirius/t-edit.png\" onclick=\"showCatEditForm(this, "+cid+");\"><img src=\"http://82.146.44.177/manimg/sirius/t-delete.png\" onclick=\"deleteCat("+cid+");\">").appendTo("#cli"+parent.value);
				}
				$("#mytree").treeview({
					add: branches
				});
				$("#cataddform").fadeOut("fast");
			}
		}

	});
}
function editCategory(name, id) {
	$.ajax({
		type: "GET",
		url: "/index.php",
		data: {
			modules: "category",
			action: "edit",
			name: name.value,
			id: id.value,
			ajax: true
		},
		success: function(cid) {
			if (cid > 0) {
				$("#cli"+cid+" span:first").text(name.value);
				$("#cateditform").fadeOut("fast");
			} else {
				alert(cid);
			}
		}

	});
}
function deleteCat(id) {
	$("#cateditform").fadeOut("fast", function () {
		$("#cataddform").fadeOut("fast", function () {
			if (confirm("Вы уверены что хотите удалить категорию "+$("#cli"+id+" span:first").text()+"?")) {
				$.ajax({
					type: "GET",
					url: "/index.php",
					data: {
						modules: "category",
						action: "delete",
						id: id,
						ajax: true
					},
					success: function(cid) {
						if (cid > 0) {
							$("#cli"+id).hide();
						}
					}
			
				});
			}
		});
	});
}
function showCatEditForm(obj, id) {
	$("#cataddform").fadeOut("fast");
	$("#cateditform").fadeOut("fast", function () {
		$("#cateditid").attr("value", id);
		$("#cateditname").attr("value", $("#cli"+id+" span:first").text());
		pos = getAbsolutePos(obj);
		$("#cateditform").css("top", pos.y);
		$("#cateditform").css("left", pos.x);
		$("#cateditform").fadeIn("slow");
	});
}
function showCatAddForm(obj, id) {
	$("#cateditform").fadeOut("fast");
	$("#cataddform").fadeOut("fast", function () {
		$("#cataddparent").attr("value", id);
		$("#cataddname").attr("value", "");
		pos = getAbsolutePos(obj);
		$("#cataddform").css("top", pos.y);
		$("#cataddform").css("left", pos.x);
		$("#cataddform").fadeIn("slow");
	});
}
function CloseForms() {
	$("#cateditform").fadeOut("fast");
	$("#cataddform").fadeOut("fast");
}
function getAbsolutePos (el) {
			var top = el.offsetTop;
			var left = el.offsetLeft;
			var parent = el;
			while (parent=parent.offsetParent) {
				top += parent.offsetTop;
				left += parent.offsetLeft;
			}
			parent = el;
			while (parent=parent.parentNode) {
				if (parent.tagName=="TR") // Из-за Opera
					continue;
				top -= parent.scrollTop;
				left -= parent.scrollLeft;
				if (parent.tagName=="BODY")
					break;
			}
			return {x:left, y:top};
		};

</script>
{/literal}
<div id="cataddform">
	<form onSubmit="return false;">
	<input type="hidden" name="prt" id="cataddparent" value="0">
	Название:
	<input type="text" name="catname" id="cataddname">
	<br><button onClick="addCategory(this.form.catname, this.form.prt);">Отправить</button>
	<button onClick="CloseForms();">Отмена</button>
	</form>
</div>
<div id="cateditform">
	<form onSubmit="return false;">
	<input type="hidden" name="id" id="cateditid" value="0">
	Название:
	<input type="text" name="catname" id="cateditname">
	<br><button onClick="editCategory(this.form.catname, this.form.id);">Отправить</button>
	<button onClick="CloseForms();">Отмена</button>
	</form>
</div>
<table width="100%">
	<td width="100%">
		<div class="dtree">
	       	<div>
				<font size="-1" color="#76b900">{$good_text}</font><br /><br />
			</div>
			<img src="https://82.146.44.177/manimg/sirius/t-new.png" onclick="showCatAddForm(this, 0);">
			{if !empty($categories)}<ul id="mytree" class="filetree">
				{foreach from=$categories item="Category"}<li id="cli{$Category->Id()}">
						<span class="folder" style="display: inline;">{$Category->Name()}</span>
						<img src="https://82.146.44.177/manimg/sirius/t-new.png" onclick="showCatAddForm(this, {$Category->Id()});">
						{if !$Category->isSystem()}<img src="https://82.146.44.177/manimg/sirius/t-edit.png" onclick="showCatEditForm(this, {$Category->Id()})"><img src="http://82.146.44.177/manimg/sirius/t-delete.png" onclick="deleteCat({$Category->Id()})">{/if}
						{if $Category->hasChild()}
						<ul>
						{foreach from=$Category->Children() item="Child"}<li id="cli{$Child->Id()}">
						<span class="file" style="display: inline;">{$Child->Name()}</span>
						<img src="https://82.146.44.177/manimg/sirius/t-edit.png" onclick="showCatEditForm(this, {$Child->Id()})"><img src="http://82.146.44.177/manimg/sirius/t-delete.png" onclick="deleteCat({$Child->Id()})"></li>
						{/foreach}</ul>{/if}
					</li>
				{/foreach}
			</ul>
			{else}
					&nbsp;<input type="button" onclick="location.href='index.php?modules=category&action=get'" value="Загрузить категории из справочника" class="inputsubmit" />
			{/if}
		</div>
	</td>
</table>