<script language="javascript">
{literal}
	function voice_rank(id) {
	$.ajax({
		type: "GET",
		url: "/index.php",
		data: {
			modules: "experts",
			action: "voice_rank",
			q_id: document.getElementById("q_id").value,
			id: id,
			exp_id: document.getElementById("exp_id").value,
			ajax: true
		},
		success: function(data) {				
			$("#success_voice").html(data);
		}

	});
}

function report_visible()
{
	$("#report_visible").hide();
	$("#report_send").show();
}
function report_display_visible()
{
	$("#report_display_visible").hide();
	$("#report_display_send").show();
	$("#report_display_none").show();
}
function report_display_none()
{
	$("#report_display_visible").show();
	$("#report_display_send").hide();
	$("#report_display_none").hide();
}
{/literal}
</script>
<div class="dtree">
<form action="index.php?modules=experts&action=question&id={$question.0.topic_id}" method="post">
<table width="100%">
<tr>
	<td colspan="2" align="left" class="cat_add_expert"><a href="index.php?modules=experts">Вернуться в список вопросов</a><br><br></td>
</tr>
<tr>
	<td colspan="2" align="left" class="cat_add_expert"><b>{$question.0.title}</b><hr></td>
</tr>
{foreach from=$question item=data}
<tr>
	{if !empty($data.from_expert_id)}
		<td colspan="2" class="cat_add_expert">{$data.message}<br><p align="right">{$data.date_created}</p></td>
	{else}
		<td width="15%" class="cat_add_expert">&nbsp;</td><td class="cat_add_expert">{$data.message}<br><p align="right">{$data.date_created}</p></td>
	{/if}
</tr>
{if !empty($data.report)}
{assign var=result value=$data.report}
<tr>
	<td colspan="2">
		<!--<span id="report_display_visible" style="cursor:pointer;" onClick="report_display_visible();"><u>Показать переданный отчет</u></span>
		<span id="report_display_none" style="cursor:pointer; display:none" onClick="report_display_none();"><u>Скрыть переданный отчет</u></span>-->
		<div id="report_display_send" style="display:block;">
		{include file="report_wizard.txt.html"}		
		</div><br><br>
	</td>
</tr>
{/if}
{/foreach}
<tr>
	<td colspan="2" align="left" class="cat_add_expert">
		<div id="success_voice"></div>
		<input type="button" value="Ответ помог" style="width:200px;" onClick="voice_rank(1);" id="b_up" {if $is_voiced}disabled{/if}>&nbsp;
		<input type="button" value="Ответ не помог" style="width:200px;" onClick="voice_rank(0);" id="b_down" {if $is_voiced}disabled{/if}>
	</td>
</tr>
<tr>
	<td colspan="2"><br>
	<span id="report_visible" style="cursor:pointer;" onClick="report_visible();"><u>Передать отчет</u></span>
	<div id="report_send" style="display:none;">
		<table width="100%" cellpadding="3" cellspacing="0" border="0">		
			<tr>
				<td class="cat_add" width="15%">Период
					
				</td>
				<td class="cat_add">
				<div>
				с:<input type="text" value="{$dateFrom}" class="standart" style="width:80px;" name="dateFrom" id="sel5"><button type="reset" class="button_calendar" onclick="return showCalendar('sel5', '%d.%m.%Y', false, true);"><img src="img/calendar/cal.gif"></button>&nbsp;
				по:<input type="text" value="{$dateTo}" class="standart" style="width:80px;" name="dateTo" id="sel6"><button type="reset" class="button_calendar" onclick="return showCalendar('sel6', '%d.%m.%Y', false, true);"><img src="img/calendar/cal.gif"></button>
				</div>
				</td>
			</tr>
			<tr>
				<td class="cat_add">
					Счет:
				</td>
				<td class="cat_add">
					<select name="account">
						<option label="Все" value=""> --- Все ---
							{html_options options=$userAccounts selected=$account}
						</select>
				</td>
			<tr>
				<td class="cat_add" height="35">
					Показывать сумму в:
				</td>
				<td class="cat_add">
					<select name="currency">
						{html_options options=$currencies selected=$currency}
					</select>
				</td>
			</tr>
		</table>
	</div>
	</td>
</tr>
<tr>
	<td colspan="2" align="left" class="cat_add_expert">
		<input type="hidden" id="q_id" name="q_id" value="{$question.0.topic_id}">
		<input type="hidden" name="exp_id" id="exp_id" value="{$question.0.from_expert_id}">
		<textarea name="answer" cols="80" rows="20"></textarea><br><input type="submit" value="Ответить"></td>
</tr>
</table>
</form>
</div>