<table width="100%">
<tr>
	<td width="100%" class="cat_add">
    <div style="border: 1px dotted rgb(255, 96, 2); background-color: rgb(248, 248, 216); padding: 15px;">
        <p align="justify">
        Здравствуйте, {$name}!
        </p>
        <p align="justify">
        Мы рады, что вы успешно завершили процедуру регистрации в системе домашней бухгалтерии Home-Money.ru.
        </p>
        <p align="justify">
        	<b>Основные термины и первые шаги:</b>
        </p>
        <ol>
        	<li>Завести Счет. Счетов может быть любое количество.</li>
            <p align="justify">
            <b>Счет</b> – центральный раздел сайта. С заведения счетов начинается работа с домашней бухгалтерией Home-Money.ru.
            </p>
            <p align="justify">
            Все операции в системе привязаны к счетам. В системе предусмотрено три вида счетов: Наличные, Банковская карта,<br>
            Долг. Можно создавать любое количество счетов.
            </p>
            <p align="justify">
            По принципу учета первые два идентичны (сделаны просто для удобства разделения наличных и безналичных средств),<br> 
            последний отличается тем, что начальный капитал на нем отрицательный (-10000 р., например), и вы переводите на него<br> 
            деньги, тем самым списывая задолженность до нуля. Удобен для учёта «займов» у знакомых и всевозможных кредитов<br> 
            (для последнего случая надо в начальном капитале задать сразу цифру со всеми процентами, платежами т.п. - то есть<br> 
            ту сумму, что вы в конечном итоге выплатите банку).
            </p>
            
            <li>Начать заводить Операции по счетам.</li>
            <p align="justify">
            <b>Операция</b> - это запись о движении ваших денег. То есть всё, что происходит с вашими деньгами (получаете вы их<br> 
            в виде зарплаты, отдаете соседу в долг, тратите на покупки) – можно занести в систему в виде операции. 
            </p>
            
            <li><b>Категория</b></li>
            <p align="justify">
            Начав заводить счета, вы столкнетесь с понятием Категория – это центральное понятие справочника статей расходов<br> 
            и доходов. Любой расход или доход можно привязать к категории справочника. Благодаря этой привязке Вы сможете<br> 
            анализировать структуру своих расходов и доходов.
        </ol>
        
    </div>
    </td>
</tr>
</table>