<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="ru">
<title>Home money - домашняя бухгалтерия он-лайн</title>
<meta name="description" content="Система домашнего бюджетирования. Позволяет вести учет ваших финансов быстро, легко, удобно.">
<meta name="keywords" content="домашняя бухгалтерия, бухгалтерия, домашние финансы, финансы, личные финансы, семейные финансы, бюджет, семейный бюджет, личный бюджет, учет расходов, учет доходов, планирование бюджета, программное обеспечение, homebuh, money, mymoney, home-money, home money, homemoney">
<meta name="abstract" content="Домашняя бухгалтерия">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<meta name="page-topic" content="домашняя бухгалтерия, бухгалтерия, домашние финансы, финансы, личные финансы, семейные финансы, бюджет, семейный бюджет, личный бюджет, учет расходов, учет доходов, планирование бюджета, программное обеспечение, homebuh, money, mymoney, home-money, home money, homemoney">
<meta name="title" content="домашняя бухгалтерия, бухгалтерия, домашние финансы, финансы, личные финансы, семейные финансы, бюджет, семейный бюджет, личный бюджет, учет расходов, учет доходов, планирование бюджета, программное обеспечение, homebuh, money, mymoney, home-money, home money, homemoney">
<meta name="revisit" content="7 days">
<meta name="revisit-after" content="15 days">
<meta name="resource-type" content="document">
<meta name="audience" content="all">
<meta name="robots" content="index">
<meta name="home_url" content="http://home-money.ru/index.php">
<meta name="subject" content="Домашняя бухгалтерия">
<meta name="page-type" content="Домашняя бухгалтерия">
<meta name="author" content="Copyright ©2007 Home-money - info@home-money.ru">
<meta name="copyright" content="Home-money - info@home-money.ru">
<meta name="reply-to" content="info@home-money.ru">
<meta name="address" content="Moscow, Russia">
<meta name="publisher_location" content="RU">
<meta name="author-email" content="info@home-money.ru">
<meta name="author-homepage" content="http://home-money.ru">
<link rel="stylesheet" href="css/dtree.css" type="text/css" />
<script type="text/javascript" language="javascript" src="js/main.js"></script>
<script language="javascript1.2" src="js/codethatcalendarstd.js"></script>
<script language="javascript1.2" src="js/local_ex.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="css/aqua/theme.css" title="Aqua" />
<link rel="stylesheet" href="css/calendar-win2k-1.css" type="text/css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.blockUI.js"></script>
<script type="text/javascript" src="js/calendar.js"></script>
<script type="text/javascript" src="js/calendar-ru_win_.js"></script>
<script type="text/javascript" src="js/calendar-setup.js"></script>

</head>
<body leftmargin="0" topmargin="0" bgcolor="#FFFFFF">
<SCRIPT>
{literal}
if (screen.width < 400)
	{
		window.location.href = "http://home-money.ru/pda/"
	}
$(document).ready(function() {
	$("#rcapt").css("cursor", "pointer");
		$("#rcapt").click(
			function () {
				$("#captcha").attr("src", $("#captcha").attr("src")+"?"+Math.random());
			}
		);	
	$().ajaxStart( function () { 
		jQuery.blockUI({ 			
			overlayCSS: { opacity: '0' },
			message: "<font size:+2>Загрузка...</font>",
			css: { 
				backgroundColor: '#fff',
				border:'none',
				color: '#FF0000',
				top: '151px', left: '', right: '10px',
				width: '80'
				}
			 });
	});
	
	$().ajaxStop( function () { setTimeout(jQuery.unblockUI, 100); });
});

function AreaChanged (button_name) {
var action = document.getElementById (button_name);

action.click ();

}

function showCalendar(id, format, showsTime, showsOtherMonths) {
  var el = document.getElementById(id);
  if (_dynarch_popupCalendar != null) {
    // we already have some calendar created
    _dynarch_popupCalendar.hide();                 // so we hide it first.
  } else {
    // first-time call, create the calendar.
    var cal = new Calendar(1, null, selected, closeHandler);
    // uncomment the following line to hide the week numbers
    // cal.weekNumbers = false;
    if (typeof showsTime == "string") {
      cal.showsTime = true;
      cal.time24 = (showsTime == "24");      
    }
    
   var myDate=new Date();
   myDate.setDate(myDate.getDate()-1);

	if (el.id == "sel_update_balance")
	{
	    cal.setDisabledHandler(function(date, year, month, day) {    	
			  // verify date and return true if it has to be disabled
			  // ``date'' is a JS Date object, but if you only need the
			  // year, month and/or day you can get them separately as
			  // next 3 parameters, as you can see in the declaration
			  if (date  < myDate) {
			    // disable all dates from 2004
			    return true;
			  }
			  return false;
			});
	}
    if (showsOtherMonths) {
      cal.showsOtherMonths = true;
    }
    _dynarch_popupCalendar = cal;                  // remember it in the global var
    cal.setRange(1900, 2070);        // min/max year allowed.
    cal.create();
  }
  _dynarch_popupCalendar.setDateFormat(format);    // set the specified date format
  _dynarch_popupCalendar.parseDate(el.value);      // try to parse the text in field
  _dynarch_popupCalendar.sel = el;                 // inform it what input field we use

  // the reference element that we pass to showAtElement is the button that
  // triggers the calendar.  In this example we align the calendar bottom-right
  // to the button.
  _dynarch_popupCalendar.showAtElement(el.nextSibling, "Br");        // show the calendar

  return false;
}
// This function gets called when the end-user clicks on some date.
function selected(cal, date) {
  cal.sel.value = date; // just update the date in the input field.
  if (cal.dateClicked && (cal.sel.id == "sel1" || cal.sel.id == "sel3" || cal.sel.id == "sel5" || cal.sel.id == "sel_update_balance" || cal.sel.id == "select_epd"))
  {
    // if we add this call we close the calendar on single-click.
    // just to exemplify both cases, we are using this only for the 1st
    // and the 3rd field, while 2nd and 4th will still require double-click.
    cal.callCloseHandler();
    if (cal.sel.id != "select_epd")
    {
		// AreaChanged ('select_date');
	}
  }
}

// And this gets called when the end-user clicks on the _selected_ date,
// or clicks on the "Close" button.  It just hides the calendar without
// destroying it.
function closeHandler(cal) {
  cal.hide();                        
  _dynarch_popupCalendar = null;
}
{/literal}
</script>
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td valign="top" width="15%" bgcolor="#76b900">&nbsp;
							
			</td>
	<td width="85%" height="100" align="center" bgcolor="#ffffff">
		<a href="index.php"><img src="img/logo2.gif" border="0"></a>		
	</td>
</tr>

<tr>
	{if !empty($user)}
	<td width="17%" height="100%" valign="top" bgcolor="#76b900">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0" >
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=profile">Профиль: [<b>{$user.user_name}</b>]</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php">Главная</a><br>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:10px;">
				<a href="index.php?modules=operation&area=add"><b>Добавить операцию</b></a>			
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=account">Счета</a>			
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=category">Категории</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=periodic_transaction">Регулярные транзакции</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=budget">Планирование бюджета</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=report_wizard">Отчеты</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=export">Экспорт</a>
			</td>
		</tr>
		<!--<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=experts">Помощь экспертов</a>
			</td>
		</tr>-->
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=import">Импорт</a>
			</td>
		</tr>       
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="http://www.home-money.ru/help/help.htm" target="_blank">Инструкция</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/forum/">Форум</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu">
				<a href="index.php?modules=logout" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">Выход</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" height="100%">&nbsp;
				
			</td>
		</tr>        
		</table>
	</td>
	{else}
	<td width="15%" height="100%" valign="top" bgcolor="#76b900">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top" class="menu">
				<a href="index.php" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">Главная</a>			
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="index.php?modules=reg">Регистрация</a>			
			</td>
		</tr>        
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="http://www.home-money.ru/help/help.htm" target="_blank">Инструкция</a>
			</td>
		</tr>
        <tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="/forum/">Форум</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="https://www.home-money.ru/index.php?modules={if !empty($link_login)}{$link_login}{else}login{/if}">Вход</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" style="padding-left:12px; padding-right:12px; padding-top:3px; padding-bottom:3px;">
				<a href="http://demo.home-money.ru/index.php?modules=demo_registration&action=new_user">Демо-вход</a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="menu" height="100%">&nbsp;
				
			</td>
		</tr>
		</table>
	</td>
	{/if}
	<td width="83%" height="100%" valign="top">
		<table width="100%" height="100%" cellpadding="0" cellspacing="0" class="main">
		<tr>
			<td width="100%" height="100%" valign="top" class="content">
				{include file="$name_page.html"}
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td height="50" valign="top" bgcolor="#76b900">    	
    	&nbsp;		
	</td>
	<td height="50" valign="top" class="cat_add">
    &nbsp;<a href="index.php?modules=about&action=security">Безопасность</a>
    
<script type="text/javascript">
{literal}
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4002139-1");
pageTracker._initData();
pageTracker._trackPageview();
{/literal}
</script>
<!-- Google Code for регистрация Conversion Page -->
<script language="JavaScript" type="text/javascript">
{literal}
<!--
var google_conversion_id = 1035047666;
var google_conversion_language = "ru";
var google_conversion_format = "1";
var google_conversion_color = "ff6633";
var google_conversion_label = "GzPECLSjexDypcbtAw";
if (1.0) {
var google_conversion_value = 1.0;
}{/literal}
//-->
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1035047666/?value=1.0&amp;label=GzPECLSjexDypcbtAw&amp;guid=ON&amp;script=0"/>
</noscript>
	</td>
</tr>
</table>


</body>
</html>