<table width="100%" align="center">
<form action="index.php?modules=login" method="post">
<tr>
	<td width="10%" valign="middle" align="left" class="reg">		
		Логин
	</td>
	<td width="90%" valign="middle" align="left" class="reg">		
		<input type="text" name="login" style="width:200px;" />
	</td>
</tr>
<tr>
	<td width="10%" valign="middle" align="left" class="reg">		
		Пароль
	</td>
	<td width="90%" align="left" class="reg">		
		<input type="password" name="pass" style="width:200px;" />&nbsp;
		<input type="submit" style="width:100px;" value="Вход" class="inputsubmit" />
	</td>
</tr>

<tr>
	<td width="10%" valign="middle" align="left" class="reg">&nbsp;		
		
	</td>
	<td width="90%" align="left" class="reg">		
		<input type="checkbox" name="autoLogin" checked />&nbsp;запомнить меня
	</td>
</tr>
<!--
<tr>
	<td width="10%" valign="middle" align="left" class="reg">		
		&nbsp;
	</td>
	<td width="90%" align="left" class="reg">		
		<a href="index.php?modules=login&action=remember">Забыли пароль?</a>
	</td>
</tr>
-->
{if !empty($error_text)}
<tr>
	<td width="10%" valign="middle" align="left" class="reg">&nbsp;		
		
	</td>
	<td width="100%" align="left" class="reg">		
		{$error_text}
	</td>	
</tr>
{/if}
</form>
</table>