<table width="100%">
	<td width="100%">
		<div class="dtree">
			{if $page_title == 'money add' || $page_title == 'money edit'}
			{if $page_title == 'money add'}			
				<form action="index.php?modules=money&action=add" method="post">
			{else}
				<form action="index.php?modules=money&action=edit&id={$money.id}" method="post">
			{/if}
				<table width="100%" border="0">
				{if empty($good_text)}
				<tr>
					<td  align="left" class="cat_add" colspan="2">
						Счет:
					</td>
					<td  align="left" class="cat_add" colspan="2">
						<select name="money[bill_id]" id="selectAccount" onChange="getTotalSumm();">
							{foreach from=$accounts item=acc_data}
							<option id="{$acc_data.id}" value="{$acc_data.id}" {if $acc_data.id == $account.id} selected {/if}>{$acc_data.name}</option>
							{/foreach}
						</select>
						<!--
						{$account.name}
						<input type="hidden" name="money[bill_id]" value="{$account.id}" />
						-->
						<script type="text/javascript"> 
						{literal}
							function getTotalSumm() { 
							var objSel = document.getElementById("selectAccount");
							var bill_id = objSel.options[objSel.selectedIndex].value;

								$().ajaxStart( function () { $("#waiter_total_summ").show(); $("#total_summ").hide();});
								$().ajaxStop( function () { $("#waiter_total_summ").hide(); $("#total_summ").show();});	
								
								$.get(
									'/index.php',
									{
										modules: "money",
										action : "getTotalSumm",
										id: bill_id
								  	},
									onAjaxSuccess
								);  
							};
							
							function onAjaxSuccess(data)
							{
								$("#total_summ").html(data);
							} 
							getTotalSumm();
						{/literal}
						</script>
						<span id="waiter_total_summ" style="display:none; padding-left:20px;"><img src="img/wait.gif"></span>
						{if $total >= 0}<span id="total_summ" style="padding-left:20px;"></span>{/if}
					</td>
				</tr>
				<tr>
					<td  align="left" class="cat_add" colspan="2" width="15%">&nbsp;</td>
					<td  align="left" class="cat_add" colspan="2" width="85%"><br />
						<input type="radio" name="money[drain]" value="1" checked="checked"/>Расход
						<input type="radio" name="money[drain]" {if $money.drain == '0'}checked="checked"{/if} value="0"/>Доход<br /><br />
					</td>
				</tr>
				<tr>
					<td  align="left" class="cat_add" valign="top">
						{if !empty($error_text.money)}<font color="#FF0000">Сумма:</font>{else}Сумма:{/if}
					</td>
					<td align="left" class="cat_add">&nbsp;
						
					</td>
					<td  align="left" class="cat_add" colspan="2">
						
						<input type="text" id="pos_oc" value="{if !empty($money.money)}{$money.money}{/if}" style="width:80px;" OnKeyUp="onSumChange();">&nbsp;{$account.cur_name}&nbsp;&nbsp;<b>Пример:</b> 125.50<br />
						<input type="hidden" name="money[money]" id="pos_mc" size="7"><br />
					</td>
				</tr>				
				<tr id='old_cat' bgcolor='#fAf9f3'>
					<td width="10%" align="left" class="cat_add">{if !empty($error_text.cat_id)}<font color="#FF0000">Категория:</font>{else}Категория:{/if}</td>
					<td width="5%" align="left" class="cat_add">
						<!--<input type="radio" name="money[cat_type]" id="cat_type" value="0" onclick="return switch_cat_type(0);" {if $money.cat_type != '1'} checked="checked"{/if}>-->
						&nbsp;
					</td>
					<td width="85%"  align="left" class="cat_add" colspan="2">						
						<select name="money[cat_id]" style="width:250px;" id="cat_id_old">							
							{$categories_select}
						</select>
						{if !empty($restore_cat)}
						(<a href="index.php?modules=money&action=edit&id={$money.id}&restore={$restore_cat}">
							Восстановить категорию:&nbsp;{$money.cat_restore}</a>)
						{/if}
						<span style="padding-left:10px;"><a href="#" onClick="switch_cat(1);">Нет нужной категории? Добавить новую</a></span>
					</td>
				</tr>
				<!--<tr>
					<td colspan="4">&nbsp;</td>
				</tr>-->
				<tr  id='new_cat'>
					<td  align="left" class="cat_add" valign="top">
						Новая категория:
					</td>
					<td align="left" class="cat_add" valign="top">
						<!--<input type="radio" name="money[cat_type]" id="cat_type" value="1" onclick="return switch_cat_type(1);" {if $money.cat_type == '1'} checked="checked"{/if}>-->
						&nbsp;
					</td>
					<td  align="left" class="cat_add" valign="top" colspan="2">
						{if !empty($error_text.cat_name)}<font color="#FF0000">Название новой категории:</font>{else}Название новой категории:{/if}<br />	
						<input type="text" name="money[cat_name]" style="width:250px;" value="{if !empty($money.cat_name)}{$money.cat_name}{/if}" id="cat_name_new" disabled="disabled" />
						<span style="padding-left:10px;"><a href="#" onClick="switch_cat(0);">Вернуться в список категорий</a></span>
						<br /><br />
						Вставить в категорию:<br />
						<select name="money[cat_id]" style="width:250px;" disabled="disabled" id="cat_id_new">
							<option value="0">---</option>
							{foreach from=$categories item=cats}
								{if $cats.cat_parent == '0'}								
								<option value="{$cats.cat_id}" {if $cats.cat_id == $money.cat_id  && $money.cat_type == 1} selected="selected"{/if}>{$cats.cat_name}</option>
								{/if}
							{/foreach}
						</select>						
					</td>
				</tr>
				<tr>
					<td colspan="4">&nbsp;</td>
				</tr>
				<script language="javascript">
				{literal}
					function switch_cat(id)
					{
						if (id == 0)
						{
							$("#old_cat").show();
							$("#new_cat").hide();
							switch_cat_type(0);
						}else{
							$("#old_cat").hide();
							$("#new_cat").show();
							switch_cat_type(1)
						}
					}
					switch_cat(0);
				{/literal}
				</script>
				<tr>
					<td  align="left" class="cat_add">
						{if !empty($error_text.date)}<font color="#FF0000">Дата:</font>{else}Дата:{/if}
					</td>
					<td align="left" class="cat_add">&nbsp;</td>
					
					<td  align="left" class="cat_add" width="8%" colspan=2>					

					<input type="text" value="{if !empty($money.date)}{$money.date}{else}{$date_today}{/if}" class="standart" style="width:80px;" name="money[date]" id="sel5" ><button type="reset" class="button_calendar" onclick="return showCalendar('sel5', '%d.%m.%Y', false, true);"><img src="img/calendar/cal.gif"></button>
					</td>
				</tr>							
				<tr>
					<td  align="left" class="cat_add" valign="top">Комментарий:</td>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add" colspan="2">
						<textarea rows="4" cols="50" name="money[comment]">{if !empty($money.comment)}{$money.comment}{/if}</textarea>
					</td>
				</tr>				
				<tr>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add" colspan="2">
					<table  border="0">
					<td valign="top">
						{if $page_title == 'money add'}
							<br><input class="inputsubmit" type="submit" value="Сохранить" onclick="onSumChange();">
						{else}
							<input type="hidden" name="money[id]" value="{$money.id}">							
							<br><input class="inputsubmit" type="submit" value="Изменить" style="width:120px;" onclick="onSumChange();">
							</form>
					</td>
					<td valign="top">
							<form action="index.php?modules=money&action=del" method="post" name="form_del">
								<br>
								<input type="hidden" name="money[id]" value="{$money.id}">
								<input type="hidden" name="money[bill_id]" value="{$account.id}" />
								<input class="inputsubmit" name="sub_del" type="button" value="Удалить" style="width:120px;" OnClick="confirmDelete('эту запись');">							
					</td>
					<td valign="top">
						<br /><input class="inputsubmit" type="button" value="Отменить" style="width:120px;" onclick="history.back();">
						
						</form>
						{/if}
					</td>
					</table>						
					</td>
				</tr>
				{if !empty($error_text)}
				<tr>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add">&nbsp;</td>
					<td  align="left" class="cat_add" colspan="2">
						<br /><font size="+1" color="#FF0000">Внимание, ошибка!</font>
						<ul>
						{foreach from=$error_text item=err_text}
							<li>{$err_text}</li>
						{/foreach}
						</ul>
					</td>
				</tr>
				{/if}
				{else}
					<br /><font size="+1" color="#33CC66">
					<ul>
						<li>{$good_text}</li>
					</ul>
					</font>
					<a href="index.php?modules=money&a={$account.id}">Вернуться к списку</a>
				{/if}				
				</table>
			{else}
				<table width="100%">
				
				<tr>
					<td width="100%" colspan="4" class=cat_add valign="top">
						<img src=img/tree/empty.gif><font class="name_account">{$money.0.bill_name}:</font>&nbsp;
						<input type="button" onclick="location.href='index.php?modules=money&action=add&id={$money.0.bill_id}'" 
										value="Добавить транзакцию" class="inputsubmit" />&nbsp;
						<input type="button" onclick="location.href='index.php?modules=account&action=transfer&id={$money.0.bill_id}'" 
										value="Перечислить со счета" class="inputsubmit"  style="width:180px;"/>&nbsp;
						<input type="button" onclick="location.href='index.php?modules=account&action=edit&id={$money.0.bill_id}'" 
										value="Редактировать / Удалить" class="inputsubmit" />
										<br><br>
						<img src=img/tree/empty.gif>Показать: 
						<a href="index.php?modules=money&a={$money.0.bill_id}&order=today">За текущий день</a>&nbsp;
						<a href="index.php?modules=money&a={$money.0.bill_id}&order=week">За неделю</a>&nbsp;
						<a href="index.php?modules=money&a={$money.0.bill_id}&order=month">За месяц</a>&nbsp;
						<a href="index.php?modules=money&a={$money.0.bill_id}&order=all">Все записи</a>&nbsp;
						<span style="float:right;"><a href="index.php?modules=export&a={$money.0.bill_id}">Экспорт этого счета</a></span>
						<!--<input type="button" onclick="location.href='index.php?modules=category&action=add'" value="За неделю" class="inputsubmit" />
						<input type="button" onclick="location.href='index.php?modules=category&action=add'" value="За месяц" class="inputsubmit" />--><br><br>
						{if $begin == "00.00.0000"}
						<img src=img/tree/empty.gif>Начальный капитал: {if $account.drain == 0}<font color="green">{$account.money}&nbsp;{$account.cur_name}</font>{else}<font color="#bc5f5f">{$account.money}&nbsp;{$account.cur_name}</font>{/if}
						{/if}
                        {if !empty($good_text)}
                        	<font size="-1" color="#76b900">{$good_text}</font>
                        {/if}						
						<img src=img/tree/empty.gif>Конечный итог: {if $total >= 0}<font color="green">{$total|number_format}&nbsp;{$account.cur_name}</font>{else}<font color="#bc5f5f">{$total}&nbsp;{$account.cur_name}</font>{/if}
						<br>
					</td>
				</tr>
				<tr>
					<td class=cat_add width=20%><img src=img/tree/empty.gif>Категория</td>
					<td class=cat_add width=10%>Деньги</td>
					<td class=cat_add width=15%>Дата</td>
					<td class=cat_add width=55%>Комментарий</td>
				</tr>
					{if !empty($money)}
						{foreach from=$money item=data}
						{if $data.cat_id != '0'}
							<tr onMouseOver=this.style.backgroundColor='#f8f6ea';
						   		onMouseOut=this.style.backgroundColor='#FFFFFF';>
								<td class=money width=20% valign="top">
								{if $data.cat_id == '-1'}
								<img src=img/tree/empty.gif><a href="index.php?modules=account&action=transfer&id={if $data.drain == 0}{$data.transfer}{else}{$data.bill_id}{/if}&tr={$data.tr_id}">{if $data.drain == 0}Переведено со счета: {else}Переведено на счет: {/if}{$data.cat_transfer}</a>&nbsp;&nbsp;
								{else}
								<img src=img/tree/empty.gif><a href="index.php?modules=money&action=edit&id={$data.id}">{$data.cat_name}</a>
								{/if}
								</td>
						   		<td class=money width=10% valign="top">									
										{if $data.drain == 0}
											<font color="green">&nbsp;{$data.money|number_format}&nbsp;{$account.cur_name}</font>
										{else}
											<font color="#bc5f5f">{$data.money|number_format}&nbsp;{$account.cur_name}</font>
										{/if}
										
								</td>
								<td class=money width=15% valign="top">
								&nbsp;{$data.date}
								</td>								
								<td class=money width=55% valign="top">
								{$data.comment|nl2br}&nbsp;
								</td>
							</tr>
						{/if}		
						{/foreach}
					{/if}
				<tr>
					<td class="cat_add" width="100%" colspan="4"><br />
				<img src=img/tree/empty.gif>Конечный итог: {if $total >= 0}<font color="green">{$total|number_format}&nbsp;{$account.cur_name}</font>{else}<font color="#bc5f5f">{$total}&nbsp;{$account.cur_name}</font>{/if}
					</td>
				</tr>
				</table>
			{/if}
		</div>
	</td>
</table>