<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<meta http-equiv="Content-Language" content="ru">
<title>Home money - домашняя бухгалтерия он-лайн</title>
<link rel="stylesheet" href="css/dtree.css" type="text/css" />
</head>
<body leftmargin="0" topmargin="5" bgcolor="#FFFFFF">
<table width="90%" cellpadding="0" cellspacing="0" border="0">
    <td align="center">
        <a href="index.php"><img src="img/logo2.gif" border="0"></a>
    </td>
</table>
<table width="90%">
<td>
{if !empty($print_report)}
	{$print_report}
{/if}
</td>
</table>
</body>
</html>