<table width="100%">
<form action="index.php?modules=profile&action=edit" method="post">
<tr>
	<td colspan="2" class="cat_add">&nbsp;
		
	</td>
</tr>
<tr>	
	<td width="10%" class="cat_add">
		Имя:
	</td>
	<td width="90%" class="cat_add">
		<input type="text" name="profile[name]" style="width:250px;" value="{if !empty($profile.user_name)}{$profile.user_name}{/if}" maxlength="20"/>
	</td>
</tr>
<tr>
	<td width="10%" class="cat_add">
		Логин:
	</td>
	<td width="90%" class="cat_add">
		<input type="text" name="profile[login]" style="width:250px;" value="{$profile.user_login}" readonly />
	</td>
</tr>
<tr>
	<td width="10%" class="cat_add">
		E-mail:
	</td>
	<td width="90%" class="cat_add">
		<input type="text" name="profile[mail]" style="width:250px;" value="{if !empty($profile.user_mail)}{$profile.user_mail}{/if}" />
	</td>
</tr>
<tr>
	<td colspan="2" class="cat_add">&nbsp;
		
	</td>
</tr>
<tr>
	<td width="10%" class="cat_add">
		Новый пароль:
	</td>
	<td width="90%" class="cat_add">
		<input type="password" name="pass" style="width:250px;" value="" />
	</td>
</tr>
<tr>
	<td width="10%" class="cat_add">
		Повторите пароль:
	</td>
	<td width="90%" class="cat_add">
		<input type="password" name="pass_r" style="width:250px;" value="" onkeypress="checkPass(this,this.form.pass)" onkeyup="checkPass(this,this.form.pass)" />
	</td>
</tr>
<tr>
	<td width="10%" class="cat_add">&nbsp;
		
	</td>
	<td width="80%" class="cat_add">
		<div id="t_checkPass">&nbsp;</div>
	</td>
</tr>

<tr>
	<td width="10%" class="cat_add">&nbsp;
		
	</td>
	<td width="90%" class="cat_add">		
		<input class="inputsubmit" type="submit" style="width:120px;" value="Сохранить">
	</td>
</tr>
</form>
{if !empty($error_text)}
<tr>
	<td  align="left" class="cat_add">&nbsp;</td>
	<td  align="left" class="cat_add">
		<br /><font size="+1" color="#FF0000">Внимание, ошибка!</font>
		<ul>
		{foreach from=$error_text item=err_text}
			<li>{$err_text}</li>
		{/foreach}
		</ul>
	</td>
</tr>
{/if}
{if !empty($good_text)}
<tr>
	<td  align="left" class="cat_add">&nbsp;</td>
	<td  align="left" class="cat_add">
		<br /><font size="+1" color="#76b900">
		<ul>
			<li>{$good_text}</li>
		</ul>
		</font>
	</td>
</tr>
{/if}
</table>