<!--<h2>Сравнение {if $profit}доходов{else}расходов{/if} за период</h2>-->
{if $profit}
	<div style="color:#76b900; font-size:21px; font-family:tahoma;">Сравнение доходов за периоды
{else}
	{if $profit_avg}
		<div style="color:#76b900; font-size:21px; font-family:tahoma;">Сравнение доходов со средним за периоды
	{else}
		{if $loss_avg}
			<div style="color:#ff6002; font-size:21px; font-family:tahoma;">Сравнение расходов со средним за периоды
		{else}
			<div style="color:#ff6002; font-size:21px; font-family:tahoma;">Сравнение расходов за периоды
		{/if}
	{/if}
{/if}</div>
{if $result}
<p>
<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
<td class="cat_add" style="padding-left: 25px;"><b>Категория</b></td>
<td class="cat_add" style="padding-left: 25px;" align="right"><b>{$dateFrom}-{$dateTo}</b>
</td>
<td class="cat_add" style="padding-left: 25px;" align="right"><b>{$dateFrom2}-{$dateTo2}{if $profit_avg || $loss_avg}<br>(среднее){/if}</b></td>
<td class="cat_add" style="padding-right: 25px;" align="right"><b>Разница</b></td>
</tr>
{assign var=subtotal1 value="0"}
{assign var=subtotal2 value="0"}
{assign var=subtotalDif value="0"}
{foreach from=$result item=itm}
<tr style="background-color: rgb(255, 255, 255);" onmouseover="this.style.backgroundColor='#f8f6ea';" onmouseout="this.style.backgroundColor='#FFFFFF';">
<td style="padding-left: 25px;" class="cat_add">
{assign var=catID value=$itm.catID}
|{foreach from=$parents.$catID item=par} {$par|default:"Перевод на счет"} |{/foreach}</td>
{*открыть когда будет готов Operation  <td width="20%" class="cat_add" style="padding-right: 40px;" align="right"><a href="?modules=operation&action=getOperationList&dateFrom={$dateFrom}&dateTo={$dateTo}&currentAccount={$account}&cat_id={$itm.catID}"><font color="green">{$itm.loss1|default:0|string_format:"%.2f"|number_format}</font></a></td>*}
<td width="20%" class="cat_add" style="padding-left: 25px; text-align: right; white-space: nowrap">{$itm.loss1|default:0|string_format:"%.2f"|number_format}</td>
<td width="20%" class="cat_add" style="padding-left: 25px; white-space: nowrap" align="right">{$itm.loss2|default:0|string_format:"%.2f"|number_format}</td>
{assign var=dif value=$itm.loss2-$itm.loss1}
<td width="20%" class="cat_add" style="padding-right: 25px;" align="right">{$dif|default:0|string_format:"%.2f"|number_format}</td>
</tr>
{assign var=subtotal1 value=$subtotal1+$itm.loss1}
{assign var=subtotal2 value=$subtotal2+$itm.loss2}
{assign var=subtotalDif value=$subtotalDif+$dif}
{/foreach}
<tr>
<td></td>
<td class="report_month" style="white-space: nowrap" align="right"><b>Итого: {$subtotal1|default:0|string_format:"%.2f"|number_format} {$currencies.$currency}</b></td>
<td class="report_month" style="white-space: nowrap" align="right"><b>Итого: {$subtotal2|default:0|string_format:"%.2f"|number_format} {$currencies.$currency}</b></td>
<td class="report_month" style="padding-right: 25px; white-space: nowrap" align="right"><b>Итого: {$subtotalDif|default:0|string_format:"%.2f"|number_format} {$currencies.$currency}</b></td>
</tr>
</table>
{else}
Данных нет
{/if}
</p>