<table width="100%" cellspacing="5">
	<tr>
		<td width="45%" height="100%" valign="top">
		<table width="100%">
			<tr>
				<td class="whats_hm">Бесплатная домашняя бухгалтерия с Home-Money</td>
			</tr>
			<tr>
				<td class="about_hm">
				<p>Вы хотите знать, откуда приходят и куда уходят деньги, ведь это нужно для того, чтобы
				оптимизировать расходы и начать контролировать свои финансы.</p>
				<p>Понять структуру своих расходов – первое, что нужно сделать для того, чтобы их
				скорректировать. Проще всего сделать это с помощью <strong>системы домашней бухгалтерии
				Home-money.ru</strong>.</p>
				<p>Зарегистрировавшись, вы сможете легко вести учет финансовых средств, как личных, так и
				всей семьи! Кроме того, система подходит для ведения бухгалтерии в небольших компаниях и она
				абсолютно бесплатна.</p>
				<p>Интерфейс системы учета финансов «Home-money» полностью русифицирован и легок в
				использовании. Однако, несмотря на простоту интерфейса, система является мощным инструментом для
				учета финансов!</p>
				</td>
			</tr>
			<tr>
				<td><br />
				&nbsp;</td>
			</tr>
			<tr>
				<td class="whats_hm">Постоянный контроль семейного бюджета</td>
			</tr>
			<tr>
				<td class="about_hm">
				<p><strong>Система домашнего бюджетирования Home-Money</strong> доступна круглосуточно из
				любой точки мира! Теперь Вам не нужно записывать траты в блокнот или собирать чеки, чтобы
				вечером внести информацию в домашний компьютер. Все можно сделать в режиме реального времени с
				рабочего места, из кафе, даже с улицы или из машины!</p>
				<p>Сервис <strong>домашней бухгалтерии Home-money.ru</strong> доступен с мобильных телефонов
				и коммуникаторов (просто наберите Home-money.ru в браузере Вашего коммуникатора или телефона -
				PDA режим распознается автоматически)</p>
				</td>
			</tr>
			<tr>
				<td><br />
				&nbsp;</td>
			</tr>
			<tr>
				<td class="whats_hm">Не знаете с чего начать?</td>
			</tr>
			<tr>
				<td class="whats_hm"><a
					href="http://demo.home-money.ru/index.php?modules=demo_registration&action=new_user"><img
					src="img/demo.jpg" border="0" alt="Home-money - домашняя бухгалтерия он-лайн" /></a></td>
			</tr>
			<tr>
				<td><br />
				&nbsp;</td>
			</tr>
			<tr>
				<td class="whats_hm">Оставьте свой отзыв</td>
			</tr>
			<tr>
				<td class="whats_hm">
				<table width="100%">
					<form action="" method="post" id="b_form" onsubmit="sendRequest(); return false">
					<td height="70" colspan="3" class="user_count" style="border: 0;">
					<div id="AjaxLoading" style="display: none;"><img src="img/loading.gif" align="absmiddle">
					Отправка данных</div>
					<div id="AjaxResult" style="display: none;">&nbsp;</div>

					Ваш e-mail:<br>
					<input name="b_name" id="b_name" style="width: 250px;" type="text"><br>
					Ваш отзыв:<br>
					<textarea rows="5" style="width: 250px;" name="b_text" id="b_text"></textarea></td>
					<tr>
						<td width="15%" valign="top" class="user_count" style="border: 0;">Код картинки:<br>
						<input type="text" name="captcha" id="b_captcha"><br>
						<br>
						<input value="Отправить" type="submit" id="b_submit"></td>
						<td width="10%" valign="top" align="left" class="user_count" style="border: 0;"><img
							src="/captcha.php" id="captcha"></td>
						<td width="75%" valign="top" align="left" class="user_count" style="border: 0;"><img
							src="img/refresh.gif" id="rcapt"></td>
					</tr>
					<tr>
						<td colspan="3" class="user_count" style="border: 0;"></td>
					</tr>
					</form>
				</table>
				</td>
			</tr>

		</table>
		</td>
		<td width="2%" class="cat_add" height="100%">&nbsp;</td>
		<td width="45%" height="100%" valign="top">
		<table width="100%">	
			<tr>
				<td class="reg_users">Управляй личными финансами!</td>
			</tr>
			<tr>
				<td><a href="/index.php?modules=reg"><img src="img/photo.gif" border=0 /></a></td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			{if !empty($articles)}
			<tr>
				<td class="reg_users">Интересно:</td>
			</tr>
			<tr>
				<td>
				<ul class="welcam_artile">
					{foreach from=$articles item=data}
					<li><a href="index.php?modules=article&id={$data.id}">{$data.title}</a></li>
					{/foreach}
				</ul>
				<span style="padding-left:30px; font-weight:bold;"><a href="index.php?modules=article&action=archive">Архив</a></span>
				</td>
			</tr>
			{/if}
            <tr>
                <td class="reg_users"><br /><img src="http://assets1.twitter.com/images/favicon.ico"></img>Twitter: <a href="http://twitter.com/home_money/" target="_blank" class="dtree">Следовать</a></td>
            </tr>
            {literal}<script language="javascript">$(document).ready(function(){$("#twitter").load("/index.php?modules=twitter");})</script>{/literal}
            <tr>
                <td>
                    <ul id="twitter" class="welcam_artile"></ul>
                 </td>
            </tr>
			<tr>
				<td class="reg_users"><br />
				Контакты:</td>
			</tr>
			<tr>
				<td height="70" class="user_count">
				<table>
				    <tr>
					   <td class="cat_add">Клиентская служба:</td>
					   <td class="cat_add"><b><a href="mailto:info@home-money.ru">info@home-money.ru</a></b></td>
					</tr>
					<tr>
						<td class="cat_add">Техническая поддержка:</td>
						<td class="cat_add"><b> <a href="mailto:support@home-money.ru">support@home-money.ru</a></b></td>
					</tr>
					<tr>
					   <td class="cat_add">ICQ:</td>
					   <td class="cat_add">
					   <a href="http://wwp.icq.com/scripts/search.dll?to=562487015" title="562-487-015" target="_blank">
                            <img src="http://wwp.icq.com/scripts/online.dll?icq=562487015&img=5" border="0" /></a> 562-487-015
					   </td>
					</tr>
					<tr>
					   <td class="cat_add">Skype:</td>
					   <td class="cat_add"><script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script><a href="skype:home-money.ru?call"><img src="http://mystatus.skype.com/mediumicon/home-money%2Eru" style="border: none;" width="26" height="26" alt="My status" /></a> home-money.ru</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
			<td class="reg_users"><br />
				Статистика:
			</td>
			</tr>
	                <tr>
				<td  height="70" class="user_count">
					Пользователей: {$user_count}<br />
	                Транзакций:    {$money_count}
				</td>
			</tr>
            <tr>
                <td class="reg_users"><br />
                Курсы валют ЦБ:</td>
            </tr>
            <tr>
                <td height="70" class="user_count">USD ЦБ: <b>{$sys_currency.2}</b><br />
                EUR ЦБ: <b>{$sys_currency.3}</b></td>
            </tr>
		</table>
		</td>
		<td width="8%" class="cat_add" height="100%">&nbsp;</td>
	</tr>
</table>
