#Content #Form fieldset form dl dt,
#Content #Form fieldset form dl dd {
	margin: 0px 0px 5px 0px;
}

#Content #Form fieldset div.legend { padding: 4px 0px; }
#Content #Form fieldset hr {
	clear: both;
	border: 0px;
	height: 0px;
}

#Content #Form fieldset div.legend a {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0px;
	text-decoration: none;
	color: #bbb;
	text-align: right;
	float: left;
}

#Content #Form fieldset div.legend a.active { color: #000; }
#Content #Form fieldset div.legend a:hover { color: #000; }
#Content #Form fieldset div.legend a.right { float: right; }

#Content #Form dd input.BigInput {
	font-size: 20px;
	width: 98%;
	font-family: Georgia, serif;
	padding: 5px;
	color: #555;
}

#Content #Form dd input.BigInput.Special {
	font-weight: bold;
	text-align: center;
	color: #ddd;
}

#Content #Form dd input.Fail {
	background-color: #FFC2CA;
	color: #cc0000 !important;
}

#Content #Form dd textarea {
	font-size: 12px;
	padding: 5px;
	color: #000;
	font-family: 'Trebuchet MS', Verdana, Monospace;
	width: 98%;
}

#ExpandButton { cursor: pointer; }
#ExpandedOptions, #ChoiceUsers, #EditTab, #DeleteForm { display: none; }

#Content #Form dd input.Search {
	background: white url('../img/magnifier.png') no-repeat;
	padding-left: 16px;
	width: 200px;
}

#Content #Form #UserSelect {
	padding: 5px;
	width: 216px;
}

#Content #Form #EditTab .PageInfo {
	font-size: 14px;
	text-align: right;
}

#Content #Form #EditTab ol.PageList li {
	color: #bbb;
	margin: 0px;
}

#Content #Form #EditTab .PageList a { font-weight: bold; }
#Content #Form #EditTab ol.PageList li a.inactive {
	cursor: default;
	color: #bbb !important;
}

#Content #Form #EditTab #ContentBody { width: 100%; }
#Content #Form #EditTab dt.Message.active { background-color: #fefecc; }
#Content #Form #EditTab dd.MessageContent { margin: 0px; }

#Content #Form #EditTab #ContentBody dd.MessageContent p {
	margin: 0px;
	padding: 10px;
	border-top: 1px solid #ccc;
	color: #bbb;
	font-style: italic;
}

#Content #Form #EditTab dt.Message {
	border-top: 1px solid #ccc;
	padding: 7px 6px;
	background-color: #fffeec;
	margin: 0px;
	cursor: pointer;
}

#Content #Form #EditTab dt.Message.first { border-top: none; }

#Content #Form #EditTab li.DiscussionType {
	color: #062971;
	font-size: 14px;
	font-weight: bold;
}

#Content #Form #EditTab li.DiscussionTopic a {
	font-size: 14px;
	color: #3354AA;
	font-weight: bold;
	cursor: pointer;
}

#Content #Form #EditTab li.DiscussionCategory {
	font-size: 10px;
	color: #777;
	font-weight: normal;
}

#Content #Form #EditTab li.DiscussionCategory span {
	color: #aaa;
	font-size: 10px;
}