#SMDropDown {
	width: 500px;
	color: #ddd;
}

#SMDropDown h2 {
	text-align: center;
	color: #ddd;
	margin: 0px;
}

#SMDropDown p {
	color: #ddd;
	margin: 0px;
	padding-top: 10px;
}

#SMDropDown a {
	color: #ddd;
	text-decoration: none;
	display: block;
	text-align: right;
	padding-top: 10px;
	font-weight: bold;
}

#SMDropDownFirst {
	padding-bottom: 15px;
	background: transparent url('../img/msg-foot.png') no-repeat bottom left;
}

#SMDropDownSecond {
	background: url('../img/msg-bg.png');
	padding: 15px 15px 0px 15px;
}