<?php if (!defined('INDEX')) trigger_error("Index required!",E_USER_WARNING);
/**
 * Файл с общими настройками проекта
 * @copyright http://home-money.ru/
 * SVN $Id$
 */

require_once dirname(__FILE__)."/config.php";
require_once SYS_DIR_INC.'/functions.php';

if (DEBUG) {
    // В режиме DEBUG выводим отладочные сообщения в консоль firebug < http://getfirebug.com/ > через плагин firephp < http://www.firephp.org/ >
    require_once SYS_DIR_LIBS . 'external/FirePHPCore/FirePHP.class.php';
}

// Подгружаем внешние библиотеки
require_once SYS_DIR_LIBS . '/external/DBSimple/Mysql.php';
require_once SYS_DIR_LIBS . 'external/smarty/Smarty.class.php';
require_once SYS_DIR_LIBS . 'external/smarty/Smarty_Compiler.class.php';
require_once SYS_DIR_LIBS . 'external/smarty/Config_File.class.php';

// Инициализируем одно *единственное* подключение к базе данных
$db = DbSimple_Generic::connect("mysql://".SYS_DB_USER.":".SYS_DB_PASS."@".SYS_DB_HOST."/".SYS_DB_BASE);
$db->query("SET character_set_client = 'utf8', character_set_connection = 'utf8',character_set_results = 'utf8'");

// Устанавливаем обработчик ошибок
set_error_handler("UserErrorHandler");

// И обработчик ошибок для бд
$db->setErrorHandler('databaseErrorHandler');

//Логгируем все запросы. Только во включенном режиме DEBUG
if (DEBUG) {
    $db->setLogger('databaseLogger');
}

// Настраиваем смарти
$tpl = new Smarty();

if ($_SESSION['pda'] == 'on') {
    $tpl->template_dir    =  SYS_DIR_ROOT.'/templates_pda';
    $tpl->compile_dir     =  SYS_DIR_ROOT.'/cache_pda';
}else{
    $tpl->template_dir    =  SYS_DIR_ROOT.'/views';
    $tpl->compile_dir     =  SYS_DIR_ROOT.'/cache';
}
$tpl->plugins_dir     =  array(SYS_DIR_LIBS.'external/smarty/plugins');
$tpl->compile_check   =  true;
$tpl->force_compile   =  false;
$tpl->assign('revision',REVISION);

// Добавляем ссылки на БД, Смарти, Пользователя и Валюты - в наше ядро
Core::getInstance()->db = $db;
Core::getInstance()->tpl = $tpl;
Core::getInstance()->currency = new Currency();
Core::getInstance()->user = new User();