<?php if (!defined('INDEX')) trigger_error("Index required!",E_USER_WARNING);
/**
 * Файл с общими настройками проекта
 * @copyright http://home-money.ru/
 * SVN $Id$
 */

require_once dirname(__FILE__)."/config.php";
require_once SYS_DIR_INC.'/functions.php';

// Подгружаем внешние библиотеки
require_once SYS_DIR_LIBS . '/external/DBSimple/Mysql.php';
require_once SYS_DIR_LIBS . 'external/smarty/Smarty.class.php';
require_once SYS_DIR_LIBS . 'external/smarty/Smarty_Compiler.class.php';
require_once SYS_DIR_LIBS . 'external/smarty/Config_File.class.php';

// Инициализируем одно *единственное* подключение к базе данных
$db = DbSimple_Generic::connect("mysql://".SYS_DB_USER.":".SYS_DB_PASS."@".SYS_DB_HOST."/".SYS_DB_BASE);
$db->query("SET character_set_client = 'utf8', character_set_connection = 'utf8',character_set_results = 'utf8'");

// Устанавливаем обработчик ошибок
set_error_handler("UserErrorHandler");
// И обработчик ошибок для бд
$db->setErrorHandler('databaseErrorHandler');

//Логгируем все запросы. Только во включенном режиме DEBUG
if (defined(DEBUG)) {
    $db->setLogger('databaseLogger');
}

// Настраиваем смарти
$tpl = new Smarty();

if ($_SESSION['pda'] == 'on') {
    $tpl->template_dir    =  SYS_DIR_ROOT.'/templates_pda';
    $tpl->compile_dir     =  SYS_DIR_ROOT.'/cache_pda';
}else{
    $tpl->template_dir    =  SYS_DIR_ROOT.'/views';
    $tpl->compile_dir     =  SYS_DIR_ROOT.'/cache';
}
$tpl->plugins_dir     =  array(SYS_DIR_LIBS.'external/smarty/plugins');
$tpl->compile_check   =  true;
$tpl->force_compile   =  false;
$tpl->assign('revision',REVISION);

// Добавляем ссылки на БД и Смарти в наше ядро
Core::getInstance()->db = $db;
Core::getInstance()->tpl = $tpl;
Core::getInstance()->user = new User();

// FIXME Снизу какая-то хрень.. наверное её нужно удалить?
// Какие-то настройки
/*
// Month setting
$sys_month = array(
    '01'   => 'Январь',
    '02'   => 'Февраль',
    '03'   => 'Март',
    '04'   => 'Апрель',
    '05'   => 'Май',
    '06'   => 'Июнь',
    '07'   => 'Июль',
    '08'   => 'Август',
    '09'   => 'Сентябрь',
    '10'  => 'Октябрь',
    '11'  => 'Ноябрь',
    '12'  => 'Декабрь'
);

// Виды и названия отчетов
$sys_reports = array(
    'graph_profit' => 'Доходы',
    'graph_loss' => 'Расходы',
    'graph_profit_loss' => 'Сравнение расходов и доходов',
    'txt_profit' => 'Детальные доходы',
    'txt_loss' => 'Детальные расходы',
    'txt_loss_difference' => 'Сравнение расходов за периоды',
    'txt_profit_difference' => 'Сравнение доходов за периоды',
    'txt_profit_avg_difference' => 'Сравнение доходов со средним за периоды',
    'txt_loss_avg_difference' => 'Сравнение расходов со средним за периоды',
);
*/