<?php if (!defined('INDEX')) trigger_error("Index required!",E_USER_WARNING);
/**
 * Файл с конфигурацией
 * @copyright http://easyfinance.ru/
 * SVN $Id$
 */

// Path settings
define('SYS_DIR_ROOT',          dirname(dirname(__FILE__)) );
define('SYS_DIR_LIBS',		SYS_DIR_ROOT."/core/");
define('SYS_DIR_INC',		SYS_DIR_ROOT."/include/");
define('SYS_DIR_MOD',		SYS_DIR_ROOT."/modules/");
define('SYS_DIR_HTML',	        SYS_DIR_ROOT."/templates/");
define('SYS_DIR_CACHE', 	"${project.basedir}/tmp");
define('TMP_DIR_SMARTY', 	SYS_DIR_CACHE . "/smarty");
define('UPLOAD_DIR',		SYS_DIR_ROOT."/upload/");

ini_set('include_path', ini_get('include_path') . PATH_SEPARATOR . SYS_DIR_LIBS . '/external/');

// Other
define('IS_DEMO',		${project.demo} );

define('URL_ROOT_MAIN',         "${project.url.root}/");
define('URL_ROOT_DEMO',         "${demo.url.root}/");
define('URL_ROOT_IFRAME',       "iframe." . URL_ROOT_MAIN);

define('URL_ROOT',		IS_DEMO?URL_ROOT_DEMO:URL_ROOT_MAIN);

define('DEBUG',			${project.debug} );
define('DEFAULT_MODULE',	'welcome');
define('GUEST_MODULES', 	'welcome,help,articles,login,registration,review,about,security,blog,forum,rules,feedback');

//COOKIE
define('COOKIE_NAME',           "${project.cookie.name}" );
define('COOKIE_DOMEN',          ${project.cookie.domain} );
define('COOKIE_PATH',           "${project.cookie.path}" );
define('COOKIE_HTTPS',          ${project.cookie.https} );
define('COOKIE_EXPIRE', 	${project.cookie.expire} ); // две недели

//CRYPT
define('CRYPT_KEY',		"${project.crypt.key}"); // 24 битный ключ

// DB settings
define('SYS_DB_HOST',		"${project.db.host}");
define('SYS_DB_USER',		"${project.db.user}");
define('SYS_DB_PASS',		"${project.db.pass}");
define('SYS_DB_BASE',		"${project.db.base}");

define('JS_MINIFY',		${project.jsmin.enabled} );
define('CSS_MINIFY',		${project.cssmin.enabled} );

define('REVISION', 		"${project.svn.revision}");
