<?php if (!defined('INDEX')) trigger_error("Index required!",E_USER_WARNING);
/**
 * Файл с конфигурацией
 * @author korogen
 * @author Max Kamashev "ukko" <max.kamashev@gmail.com>
 * @copyright http://home-money.ru/
 * SVN $Id$
 */

// Path settings
define('SYS_DIR_ROOT',    "/var/www/hm");
define('SYS_DIR_LIBS',    SYS_DIR_ROOT."/core/");
define('SYS_DIR_INC',     SYS_DIR_ROOT."/include/");
define('SYS_DIR_MOD',     SYS_DIR_ROOT."/modules/");
define('SYS_DIR_HTML',    SYS_DIR_ROOT."/templates/");
define('SYS_DIR_CACHE',   SYS_DIR_ROOT."/cache/");
define('UPLOAD_DIR',      SYS_DIR_ROOT."/home-money.ru/upload/photo_experts/");

// Other
define('URL_ROOT',        "http://hm/");
define('IS_DEMO',         false);
//define('URL_ROOT',      "http://".$_SERVER['HTTP_HOST']);
define('SYS_MAX_PERPAGE', 3);
define('DEFAULT_MODULE', 'welcome');

define('COOKIE_NAME',  'autoLogin');
define('COOKIE_VAL',   'autoPass');
define('COOKIE_DOMEN', '.home-money.ru');
define('COOKIE_PATH',  '/');
define('COOKIE_HTTPS', true);

// DB settings
define('SYS_DB_HOST',   'localhost');
define('SYS_DB_USER',   'homemone');
define('SYS_DB_PASS',   'lw0Hraec');
define('SYS_DB_BASE',   'homemoney');
