<div class="ramka3">
    <div class="ct">
        <div class="head">
            <h2>Эксперты</h2>
        </div>
    </div>

    <div class="inside">
        <div id="widgetExpertsList">
            <ul id="detailsMenu" class="menu5 hidden">
                <li id="ic1"><a href="#">Вернуться к списку экспертов</a></li>
                <li id="ic2"><a href="#">Отправить сообщение</a></li>
            </ul>

            <div id="divExpertDetails" class="hidden"></div>
            <div id="divExpertsList"></div>
        </div>
    </div>

    <!-- rounded bottom -->
    <div class="cb"><div></div></div>
</div>