.bill_list li.account div.cont {
    position: relative;
    left: -60px;
    top: -28px;
}

.bill_list li.account div.cont ul {
    border: 0;
    width: 79px;
    background: url('/img/i/icons_menu_accounts.gif') no-repeat 0px 0px;
}

.bill_list li.account:hover div.cont ul {
    display: block;
}

.bill_list li.account ul li {
    margin: 0;
    padding: 0;
}

.bill_list li.account ul li a {
    height: 26px;
    width: 11px;
}

.bill_list li.account:hover {
    background-color: #e3ffdf;
}

