.categories {
    position: relative;
    width: 516px;
    height: 300px;
    border: 1px solid #e8e8e8;
    overflow: auto;
}

/* меняем размеры таблицы в зависимости от размера окна */
.heightSmall .categories {
    height: 150px;
    max-height: 150px;
}

.heightLarge .categories {
    height: 460px;
    max-height: 460px;
}

.categories .line {
    width: auto;
    padding: 7px 0 9px 0;
    overflow: visible;
}

.categories .last {
    background: none;
}

.categories table.h td span {
    color: #8d8d8d;
}

.categories table.h td.w1 {
    width: 187px;
    padding-left: 25px;
}

.categories table.h td.w4 {
    padding: 7px 0 5px 0;
}

.categoriesSH table.h {
    border-top: 1px solid #E8E8E8
}

.categoriesSH table.h tr {
    width: 482px
}

.categoriesSH table.h td span {
    color: #8d8d8d;
}

.categoriesSH table.h td.w1 {
    width: 187px;
    padding-left: 25px;
}

.categoriesSH table.h td.w4 {
    padding: 7px 0 5px 0;
}

.categoriesSH table {
    position: relative;
    width: 517px;
}

.categoriesSH table td {
    position: relative;
    padding: 7px 0 5px 0;
}

.categoriesSH table td.w1 {
    width: 207px;
    padding-right: 5px;
}

.categoriesSH table td.w2 {
    width: 30px;
}

.categoriesSH table td.w2 div {
    display: block;
    margin: 6px auto 0 auto;
    width: 8px;
    height: 8px;
    text-indent: -999px;
    overflow: hidden;
    background: url('/img/i/types.gif') no-repeat 0 0;
}

.categoriesSH table td.w2 div.t2 {
    background-position: 0 -10px;
}

.categoriesSH table td.w2 div.t3 {
    background-position: 0 -20px;
}

.categoriesSH table td.w3 {
    width: 140px;
    padding-left: 10px;
    padding-right: 15px;
}

.categoriesSH table td.w4 {
    width: 110px;
    font-size: 11px;
    padding-top: 0;
}

.categoriesSH .indicator {
    position: relative;
    width: 94px;
    height: 13px;
    background: url('/img/i/bg11.png') no-repeat 0 -100px;
}

.categoriesSH .indicator div {
    position: relative;
    height: 13px;
    border-left: 1px solid #ced791;
    border-right: 1px solid #ced791;
    background: url('/img/i/bg16.gif') repeat-x 0 0;
}

.categoriesSH .indicator div span {
    display: block;
    padding: 1px 5px 0 0;
    font-size: 10px;
    line-height: 11px;
    color: #3d3d3d;
    text-align: right;
}

.categoriesSH table td div.cont ul {
    top: 0;
    right: -67px;
}

.categories table {
    position: relative;
    width: 485px;
}

.categories table td {
    position: relative;
    padding: 7px 0 5px 0;
}

.categories table td.w1 {
    width: 207px;
    padding-right: 5px;
}

.categories table td.w2 {
    width: 32px;
}

.categories table td.w2 div {
    display: block;
    margin: 8px;
    width: 9px;
    height: 9px;
    text-indent: -999px;
    overflow: hidden;
    background: url('/img/i/catTypes.gif') no-repeat 0 0;
}

.categories table td.w2 div.t2 {
    background-position: 0 -10px;
}

.categories table td.w2 div.t3 {
    background-position: 0 -19px;
}

.categories table td.w3 {
    width: 160px;
    padding-left: 10px;
    padding-right: 15px;
}

.categories table td.w4 {
    width: 60px;
    font-size: 11px;
    padding-top: 0;
}

.categories .indicator {
    position: relative;
    width: 94px;
    height: 13px;
    background: url('/img/i/bg11.png') no-repeat 0 -100px;
}

.categories .indicator div {
    position: relative;
    height: 13px;
    border-left: 1px solid #ced791;
    border-right: 1px solid #ced791;
    background: url('/img/i/bg16.gif') repeat-x 0 0;
}

.categories .indicator div span {
    display: block;
    padding: 1px 5px 0 0;
    font-size: 10px;
    line-height: 11px;
    color: #3d3d3d;
    text-align: right;
}

.categories table td div.cont ul {
    top: 0;
    right: -67px;
}
