/* MAIN */
div.efTableWrapper{
    border: none;
    /*border: 1px solid #DFDEDE;*/
}

.efTable{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    line-height:20px;
    font-family:Arial,Tahoma,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    /*border:2px solid #DFDEDE*/
}

.efTable td,.table th{
    line-height:20px;
    font-family:Arial,Tahoma,sans-serif;
    font-size:12px;
    font-weight:normal;
    width: 25%;

}

.efTable table, .efTable tr, .efTable td, .efTable th{
    border-collapse:collapse;
    border-spacing:0;
    text-align: left;
    border:0 none;
}

.efTable .name{
    padding-left: 20px;
}
/* HEAD */
.efTable th.date {
        width: 40px;
    max-width: 40px;
    min-width: 40px;
}

.efTable th.money{
    text-align: right;
         width: 125px;
     max-width: 125px;
     min-width: 125px;
}

.efTable.head{
    background-color: #EEEEEE;
    border: none;
}
.efTable.head th.scroll, .efTable.head th.scroll div{
    width: 15px;
    max-width: 15px;
    overflow: hidden;
}

/* CONTENT */
.efTable.content{
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.efTable.content table{
    width: 100%
}

.efTable.content tr{
    padding-top: -1.0px;
    /*border-bottom: 1px dotted #f8f8f8;*/
    background: transparent url(/img/i/point_x.gif) repeat-x scroll left bottom;
}

.efTable.content tr:hover{
    background-color: #e3ffdf;
}

.efTable .parent .name{
    font-weight:bold;
}

.efTable .parent.open .name{
    background:transparent url(/img/i/minus.gif) no-repeat scroll 6px 4px;
}

.efTable .parent.close .name{
    background:transparent url(/img/i/plus.gif) no-repeat scroll 6px 4px;
}

.efTable .child .name{
    padding-left: 25px;
}

.efTable td.date{
    text-align: center;
        width: 40px;
    max-width: 40px;
    min-width: 40px;
    overflow: hidden;
    /*padding-right: 7px;*/
}

.efTable td.dateTime{
    text-align: center;
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    overflow: hidden;
    /*padding-right: 7px;*/
}

.efTable td.money{
    text-align: right;
    width: 125px;
    max-width: 125px;
    min-width: 125px;
    overflow: hidden;
    /*padding-right: 7px;*/
}

.efTable td.money div.number{
    position: relative;
    float: right;
    width: auto;
    max-width: 98px;
    font-weight: bold;
    overflow: hidden;
}

.efTable td.money div.abbr{
    position: relative;
    float: right;
    width: 25px;
    max-width: 25px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    margin-left:7px;
    margin-right:7px;
}

/* Menu */
.efTable div.cont{
    display: none;
    position: relative;
    left: -70px;
    top: -25px;
}

.efTable tr:hover div.cont{
    display: block;
}

.efTable div.cont ul {
    display: block;
    position: absolute;
    top: -4px;
    right: -69px;
    width: 70px;
    height: 31px;
    padding-left: 13px;
    background: url('/img/i/icons_control3.gif') no-repeat 0 0;
}

.efTable div.cont ul:after {
    display: block;
    content: ' ';
    height: 0;
    overflow: hidden;
    clear: both;
}

.efTable div.cont ul li {
    float: left;
    margin: 3px 0px;
    height: 24px;
}

.efTable div.cont ul li a {
    display: block;
    width: 20px;
    height: 24px;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
}

#efLiveTooltip {
    z-index: 3000;
    position: absolute;
    width: 200px;
    border: 2px solid #666666;
    background-color: #FFFFFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 2px;
}

#efLiveTooltip ul li {
    text-indent: .5em;
}