/* 
    Document   : expertsList
    Created on : 20.10.2009, 11:32:33
    Author     : Jet
*/

ul.menu5 { margin-bottom: 7px; margin-top: 10px;margin-left:0px; //zoom: 1; }
ul.menu5:after { display: block; content: ' '; height: 0; overflow: hidden; clear: both; }
ul.menu5 li { float: left; margin-right: 15px!important; padding: 0 16px 20px 0; font-size: 11px; color: #6ebe41; }
ul.menu5 li.act, ul.menu5 li.ui-state-active { padding: 0 16px 20px 0!important; background: url('/img/i/bg15.png') no-repeat 100% 0; }
ul.menu5 li div { padding: 5px 0 22px 13px !important; }
ul.menu5 li.act div, ul.menu5 li.ui-state-active div {background: url('/img/i/bg15.png') no-repeat 0 0 !important; }
ul.menu5 li div span, ul.menu5 li div a { cursor: pointer; //cursor: hand; border-bottom: 1px dashed #6ebe41; }
ul.menu5 li.act div span, ul.menu5 li.act div a, ul.menu5 li.ui-state-active div a { cursor: default; border-bottom: 0 none; }

ul.menu5 li#ic1 div, ul.menu5 li#icl1.act span, ul.menu5 li#ic1 a { display: block; padding: 0 24px 2px 0; background: url('/img/i/icons.gif') no-repeat 100% -490px; }
ul.menu5 li#ic2 div, ul.menu5 li#icl2.act span, ul.menu5 li#ic2 a { display: block; padding: 0 32px 0 0; background: url('/img/i/icons.gif') no-repeat 100% -518px; }
ul.menu5 li#ic3.act span, ul.menu5 li#ic3 a { display: block; padding: 0 27px 2px 0; background: url('/img/i/icons.gif') no-repeat 100% -579px; }
ul.menu5 li#ic4.act span, ul.menu5 li#ic4 a { display: block; padding: 0 26px 0 0; background: url('/img/i/icons.gif') no-repeat 100% -609px; }

ul.rating { margin-bottom: 16px; //zoom: 1; }
ul.rating:after { display: block; content: ' '; height: 0; overflow: hidden; clear: left; }
ul.rating li { float: left;  margin-right: 3px; }
ul.rating li.h { font-size: 14px; }
ul.rating li.star { width: 74px; height: 14px; background: url('/img/i/stars.gif') repeat-x 0 -15px; }
ul.rating li.star div { height: 14px; text-indent: -999px; overflow: hidden; background: url('/img/i/stars.gif') repeat-x 0 0; }
ul.rating li.result { font-size: 11px; color: #7c7c7c; }
ul.rating li.result b { font-size: 14px; color: #222222; }

dl.experts_one { padding-bottom: 22px; }
dl.experts_one dd { position: relative; }
dl.experts_one dd:after { display: block; content: ' '; height: 0; overflow: hidden; clear: both; }
dl.experts_one dd img { position: relative; display: block; float: right; margin: -32px 0 10px 20px; }

dl.experts_list_in dt, dl.experts_one dt { margin-bottom: 15px; font-size: 18px; line-height: 20px; }
dl.experts_list_in dd {
    border-bottom:1px solid #E0E5DE;
    position: relative;
    margin-bottom: 22px;
    padding: 0 140px 24px 0;
    min-height: 151px;
}
dl.experts_list_in dd img { display: block; position: absolute; top: -32px; right: 0; }
dl.experts_list_in dd .more { margin-top: 6px; }
dl.experts_list_in dd .more span { color: #6dbc45; border-bottom: 1px dashed #6dbc45; cursor: pointer;}

dl.info dd.experts_list { position:relative; }
dl.info dd.experts_list .expert { display:none;  position: relative; margin-left: 51px; font-size: 11px; color: #949494; line-height: 18px; min-height: 42px;}
dl.info dd.experts_list .expert img { display: block; position: absolute; top: 0; left: -51px; width: 42px; height: 42px; }
dl.info dd.experts_list .expert a.name { color: #393939; }
dl.info dd.experts_list .arrow { position: absolute; top: 42px; left: 0; width: 42px; height: 13px; z-index: 2; background: url('/img/i/bg07.gif') no-repeat 0 0; }
dl.info dd.experts_list .arrow span { display: block; position: absolute; top: 3px; width: 10px; height: 7px; text-indent: -999px; overflow: hidden; cursor: pointer;}
dl.info dd.experts_list .arrow span.prev { left: 4px; }
dl.info dd.experts_list .arrow span.next { right: 4px; }

.files { padding-top: 21px;  }
.files .line { margin-bottom: 24px; //zoom: 1; }
.files .line:after { display: block; content: ' '; height: 0; overflow: hidden; clear: both; }
.files .line .f { float: left; margin-right: 25px; padding: 7px; border: 1px solid #dedede; }
.files .line .f img { display: block; cursor: pointer; //cursor: hand; }
.files .line .last { margin-right: 0; }

.files img { margin: 5px; padding: 5px; border: 1px solid #dedede; display: block; cursor: pointer; //cursor: hand; }
