.b-feedback {

}

    .b-feedback-container .b-feedback-notice {
        background-color: #E3FFDF;
        padding: 3px .5em 0;
        margin-bottom: 1em;
    }
        .b-feedback-notice .b-feedback-notice-header {
            margin-bottom: .5em;
            font-size: 125%;
            color: #ef6300;
        }
        .b-feedback-notice .b-feedback-notice-reformal {
            font-style: italic;
            font-weight: bold;
            text-decoration: none;
        }

    .b-feedback-container .b-feedback-message {
        height: 240px;
    }