#container1 {
    height: 100%;
    min-width: 930px;
}


.b-custom-input .b-custom-select {
    top:5px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.b-custom-input.no-selectbox .b-custom-input-field,
.b-custom-textarea .b-custom-textarea-field {
    background:#ffffff !important;
    position:relative !important;
    z-index:999 !important;
    margin:0 0 0 0 !important;
}
.b-custom-input .b-custom-select-wrap {
    top:-27px;
    width:100%;
    display:block;
    position:relative;
    margin:0;
    z-index:10;
}
.b-custom-input.no-selectbox .b-custom-input-border,
.b-custom-textarea.no-selectbox .b-custom-textarea-border {
    padding:0 20px 0 0;
}
.b-custom-input .b-custom-input-border,
.b-custom-textarea .b-custom-textarea-border {
    padding:0;
}

.b-custom-input .b-custom-input-field,
.b-custom-textarea .b-custom-textarea-field,
.b-custom-input .b-custom-select {
    padding:5px 8px;
}

.b-border-corners.tl,
.b-border-corners.tr {
    top:3px !important;
}
.b-border-corners.bl,
.b-border-corners.br {
    top:100% !important;
    bottom:auto !important;
    margin-top:-5px;
}

.b-icon-export-csv {
    top:12px !important;
}

.b-filter-type {
    width:57px;
}
.b-filter-sum {
    width:406px;
}

.bill_list {
    float:left;
    margin:5px 10px 0 !important;
}

.small-spinner .b-preloader {
    float:left;
}

#m7 ul,
#m9 ul {
    left:-3px;
}

.b-row-menu-block {
    margin-top:-20px;
}

.table_tab1 {
    padding-right:18px;
}
.ramka3.ui-widget-content .head h2 {
    float:left;
    width:100%;
}

.custom-grid-style .ui-state-disabled, .custom-grid-style .ui-widget-content .ui-state-disabled {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=35);
}

body .ui-dialog .ui-dialog-titlebar a.ui-dialog-titlebar-close .ui-icon.ui-icon-closethick {
    top:-5px;
    position:relative;
}

body .ui-dialog.edit .ui-dialog-title {
    font-size:15px;
}

dl.bill_list dt{
    width:123px;
    zoom:1;
}

.menu-icons i.menu-icons-help {
    background-position-y: 3px;

}
