.b-leftpanel {
    width: 180px !important;
}
.b-leftpanel_tabs control {
    margin: 0 0 12px 0;
    width: 100%;
    height: 32px;
}
    .b-leftpanel_tabs .b-leftpanel_tabs_item {
        width: 32px;
        height: 32px;
        background: url('/img/i/leftpanel/tabs-icons.png') no-repeat 0 0;
        display: inline-block;
    }
    .b-leftpanel_tabs .b-leftpanel_tabs_item.act {
        background: #fff none;
    }
        .b-leftpanel_tabs .b-leftpanel_tabs_item i {
            display: block;
            width: 100%;
            height: 32px;
            width: 32px;
            background: url('/img/i/leftpanel/tabs-icons.png') no-repeat 0 0;
        }

        .b-leftpanel_tabs .b-leftpanel_tabs_item_accounts i {
            background-position: 0 -32px;
        }
        .b-leftpanel_tabs .b-leftpanel_tabs_item_tags i {
            background-position: 0 -64px;
        }
        .b-leftpanel_tabs .b-leftpanel_tabs_item_operations i {
            background-position: 0 -96px;
        }
        .b-leftpanel_tabs .b-leftpanel_tabs_item_operations__warning i {
            background-position: 0 -160px;
        }
        .b-leftpanel_tabs .b-leftpanel_tabs_item_targets i {
            background-position: 0 -128px;
        }

.b-leftpanel .b-leftpanel-title {
    font: bold 14px/12px Arial, Tahoma, sans-serif;
    margin: .5em 1em;
    cursor: pointer;
}
    .b-leftpanel .b-leftpanel-title span {
        color: #6CBD45;
        margin-right: 5px;
        text-decoration: underline;
    }
    .b-leftpanel .b-leftpanel-title span:hover {
        text-decoration: none;
    }
    .b-leftpanel .b-leftpanel-title i {
        background: url('/img/i/leftpanel/icon_add.png') no-repeat;
        background-position: -2px -2px;
        display: inline-block;
        width: 11px; height: 11px;
        margin-top: 2px;
    }

/* финансовые цели*/
.financobject h2 {
    margin: 0 0 5px 0;
    font-size: 12px;
    color: #e5691b;
    font-weight: bold;
}
.financobject ul {
    margin-bottom: 12px;
}
    .financobject ul li {
        position: relative;
        margin-bottom: 2px;
        padding-bottom: 8px;
        color: #353535;
        border-bottom: 1px solid #e5e5e5;
    }
        .financobject ul li span {
            font-size: 11px;
            color: #2c9300;
        }
        .financobject ul li span.date {
            display: block;
            margin-top: -2px;
            color: #909090;
        }
        .financobject ul li a {
            display: block;
            color: #383838;
        }
    .financobject ul.popular li {
        margin-bottom: 5px;
        padding-bottom: 6px;
        font-weight: bold;
    }