/* http://www.imaputz.com/cssStuff/bigFourVersion.html */
/* begin some basic styling here                     */

#divOperationsJournalFilters {
    margin: 0px;
    margin-top: 7px;
    color: gray;
}

#operations_list_header {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    width:545px;
    height: 20px;
    border-collapse:inherit!important;
    border: none;
    background-color: #EEEEEE;
}

.operationsJournal {
    height: 480px;
    width: 545px;
}

div#operations_list_container {
    position: relative;
    width: 545px;
    height: 354px;
    max-height: 354px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* меняем размеры таблицы в зависимости от размера окна */
.heightSmall .operationsJournal {
    height: 276px;
}

.heightSmall #operations_list_container {
    height: 150px;
    max-height: 150px;
}

.heightLarge .operationsJournal {
    height: 506px;
}

.heightLarge #operations_list_container {
    height: 380px;
    max-height: 380px;
}

table#operations_list {
    position: relative;
    width: 527px;
    overflow: scroll;
    border-top: none;
    margin: 0px;
    border: none;
    table-layout: fixed;
}

table#operations_list tr {
    height: 20px;
}

/* header widths */
table#operations_list_header th {
    margin: 0px;
    width: 20px;
}

#operations_list_header th {
    padding: 3px 5px 0;
}

#operations_list_header span#btnFilterType { margin: 0px; }
table#operations_list_header th + th {
    width: 20px;
}

table#operations_list_header th + th + th{
    width: 30px;
}

table#operations_list_header th + th + th + th{
    width: 50px;
}

table#operations_list_header th + th + th + th + th{
    width: 110px;
}

table#operations_list_header th + th + th + th + th + th{
    width: 90px;
}

/* last empty header for scrollbar */
table#operations_list_header th + th + th + th + th + th + th{
    width: 32px;
}

/* column widths */
table#operations_list td {
    margin: 0px;
    width: 20px;
    height: 20px;
}

table#operations_list td + td {
    width: 20px;
}

table#operations_list td + td + td{
    width: 30px;
}

table#operations_list td + td + td + td{
    width: 50px;
}

table#operations_list td + td + td + td + td{
    width: 120px;
}

table#operations_list td + td + td + td + td + td{
    width: 191px;
}

#operations_list div.operation { display: block; height: 16px; width: 16px; background: url('/img/i/iconsOperation.gif') no-repeat 0 0; margin-left: 3px; }
#operations_list div.income { background-position: 0px 0px; }
#operations_list div.outcome { background-position: -16px 0px; }
#operations_list div.transfer { background-position: -32px 0px; }
#operations_list div.target { background-position: -48px 0px; }