/* http://www.imaputz.com/cssStuff/bigFourVersion.html */
/* begin some basic styling here                     */

#operations_list_header {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    width:518px;
    border-collapse:inherit!important;
    border: 2px solid #dfdede;
    border-bottom: none;
}

div#operations_list_container {
    border: 2px solid #dfdede;
    width: 514px;
    height: 154px;
    overflow-x: none;
    overflow-y: scroll;
}

table#operations_list {
    width: 496px;
    border-top: none;
    margin: 0px;
    border: none;
}

/* header widths */
table#operations_list_header th {
    margin: 0px;
    width: 20px;
}

table#operations_list_header th + th {
    width: 40px;
}

table#operations_list_header th + th + th{
    width: 50px;
}

table#operations_list_header th + th + th + th{
    width: 60px;
}

table#operations_list_header th + th + th + th + th{
    width: 100px;
}

table#operations_list_header th + th + th + th + th + th{
    width: 90px;
}

/* last empty header for scrollbar */
table#operations_list_header th + th + th + th + th + th{
    width: 52px;
}

/* column widths */
table#operations_list td {
    margin: 0px;
    width: 20px;
}

table#operations_list td + td {
    width: 40px;
}

table#operations_list td + td + td{
    width: 50px;
}

table#operations_list td + td + td + td{
    width: 60px;
}

table#operations_list td + td + td + td + td{
    width: 120px;
}

table#operations_list td + td + td + td + td + td{
    width: 110px;
}

