* { 
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	
	font-family: Arial, sans-serif;
	font-size: small;
	
	color: #000;
	background: #fff;
}

/* HEADER */

.logo {
	width: 70px;
}

.menu {
	margin-top: 4px;
	margin-bottom: 4px;
}

.topmenu {
	font-size: smaller;
	margin-bottom:10px;
}

.topmenu td {
	text-align: center;
	width: 25%;
}

img {
	vertical-align: middle;
	border: 0;
}

.wide {
	width: 99%;
}

table {
	display: table;
	margin-bottom: 0;
	margin-top:0;
	text-indent:0;
	border-collapse: collapse;
	border-spacing: 0px;
}

.green {
	color: green;
}

.red {
	color: red;
}

/* SUBMENU */

a.current {
	font-weight: bold;
	text-decoration: none;
}

/* INFO */

table.accounts {
	border-collapse: collapse;
}

table.accounts td {
    border-top: none;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* ACCOUNT */

div.operation {
    border-bottom: 1px solid gray;
	padding-bottom: 5px;
	padding-top: 5px;
}

div.line {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* CATEGORY */

td.childCategory {
	padding-left: 8px;
}

/* FOOTER */

#copyright {
	font-size: smaller;
}
