div.report {
    position: relative;
    display: none;
    margin: 0 auto;
}
    div.report .line {
        position: relative;
        clear: both;
        color: #4c4c4c;
    }

        div.report .line:after {
            display: block;
            content: ' ';
            height: 0;
            overflow: hidden;
            clear: both;
        }

        div.report .line .f_field {
            position: relative;
            float: left;
            margin-right: 25px;
            margin-bottom: 14px;
        }
            div.report .line .f_field .hasDatepicker{
                position: static;
                clear: both;
                left: 198px;
                top: 0px;
            }
            div.report .line .f_field select {
                display: block;
                color: #20201E;
            }
            div.report .line .f_field select#account {
                width: 150px;
            }
                div.report .line .f_field select#account option {
                    width: 123px;
                }

            div.report .line .f_field select#report {
                width: 332px;
                overflow: hidden;
            }
                div.report .line .f_field select#report option {
                    width: 305px;
                }

            div.report .line .f_field select#currency {
                width: 156px;
                overflow: hidden;
            }
                div.report .line .f_field select#currency option {
                    width: 129px;
                }

#chart, #itogo {
    width: 650px;
    margin: 0 auto;
}
.heightLarge #rep.operation_list {
    height: 390px;
}

.w-inlinecalendar {
    display: inline;
    margin-right: 2em;
}
.b-inlinecalendar {
    display: inline-block;
    width: 105px;
}
    .b-inlinecalendar span {
        display: block;
    }
    .b-inlinecalendar input {
        width: 70px;
        margin-right: 0px !important;
        margin-left: 1ex;
    }

.w-report-wrapper {
    width: 650px;
    margin: 1em auto 0;
}

.b-reportstable-body {
    border: 2px solid #dfdede;
    font-size: 90%;
    table-layout: fixed;
    width: 648px;
    color: #222;
}
    .b-reportstable-body tr {
        height: 20px;
    }
        .b-reportstable-body td,
        .b-reportstable-body th {
            vertical-align: middle;
            text-align: left;
            padding: 5px;
            border-bottom: 1px dotted #dfdede;
        }

    .b-reportstable-body .b-reportstable-row-overall {
        font-weight: normal;
        background-color: #efefef;
    }
    .b-reportstable-row-category th {
        padding-left: 1em;
    }
    .b-reportstable-row-subcategory th {
        padding-left: 2em;
    }

.b-reportstable-head__detail,
.b-reportstable-head__compare {
    border-bottom: 2px solid #dfdede;
}

.b-reportstable-head__detail .col1,
.b-reportstable-body__detail .col1 {
    width: 36%;
}

.b-reportstable-head__detail .col2,
.b-reportstable-body__detail .col2 {
    width: 15%;
}

.b-reportstable-head__detail .col3,
.b-reportstable-body__detail .col3 {
    width: 29%;
}

.b-reportstable-head__detail .col4,
.b-reportstable-body__detail .col4 {
    width: 18%;
}

.b-reportstable-head__compare .col1,
.b-reportstable-body__compare .col1 {
    width: 33%;
}

.b-reportstable-head__compare .col2,
.b-reportstable-body__compare .col2 {
    width: 22%;
}

.b-reportstable-head__compare .col3,
.b-reportstable-body__compare .col3 {
    width: 22%;
}

.b-reportstable-head__compare .col4,
.b-reportstable-body__compare .col4 {
    width: 22%;
}

.b-report .b-button-simple {
    margin-right: 0px;
}