.b-tagslist__window {
}
    .b-tagslist__window span {
        padding: 0;
        margin-right: 1em;
    }

    .b-tagslist__window .tag0 { font-size: 100%; }
    .b-tagslist__window .tag1 { font-size: 120%; }
    .b-tagslist__window .tag2 { font-size: 140%; }
    .b-tagslist__window .tag3 { font-size: 160%; }
    .b-tagslist__window .tag4 { font-size: 180%; }